<div class="help-body">
  <%= render "help/cat" %>
  <div class="help-cat2 help-tips">
    <h2>Gestion des montages</h2>
    <p>Questions relatives à la gestion des montages</p>
    <ul>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Créer un montage</li>
      <div class="arrow_box">
        <p>Un montage est un assemblage de recettes.</p>
        <p>Les montages vous permettent d'utiliser de nombreuses fois les mêmes recettes sans vous contraindre a les ré-écrire.</p>
        <p>Ils sont également très utiles pour créer de nouvelles recettes, un nouvel entremet par exemple.</p>
        <br/>
        <p>Le Labo vous permet évidemment de créer de nombreux montages. Par défaut, plusieurs montages sont créés à l'ouverture de votre compte.</p>
        <p>Pour ajouter un nouveau montage à votre base, cliquez sur ce bouton :</p>
        <%= image_tag 'help/mon-btn.jpg', class: "explain-img", alt: "cliquez sur ce bouton", title: "bouton Le Labo" %>
        <p>Vous pouvez ensuite commencer à remplir le formulaire.</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Afficher les nombres décimaux dans le formulaire</li>
      <div class="arrow_box">
        <p>Pour enregistrer un nombre décimal, vous devez utiliser le signe "."(point) en lieu et place de la virgule</p>
        <p>Si vous utilisez une virgule ou tout autre signe pour définir une décimale, seuls les nombres entiers seront sauvegardés.</p>
        <br/>
        <%= image_tag 'help/ing-dec.jpg', class: "explain-img", alt: "cliquez sur ce bouton", title: "bouton Le Labo" %>
        <p>Cette règle est valable pour tous les nombres insérés dans vos formulaires sur Le Labo.</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Définir le prix de vente d'un montage</li>
      <div class="arrow_box">
        <p>Informations prochainement disponibles</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Calculer le coût de revient d'un montage</li>
      <div class="arrow_box">
        <p>Informations prochainement disponibles</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Ajouter une photo à mon montage</li>
      <div class="arrow_box">
        <p>Le Labo vous permet d'ajouter une photo à vos montages.</p>
        <p><b>Note : l'ajout de photos est une option réservée aux abonnés du Labo.</b></p>
        <p><i>Nous vous conseillons l'utilisation d'images au format carré afin de profiter pleinement de cette fonctionnalité.</i></p>
        <p>Cliquez sur le bouton "Choisir le fichier" :</p>
        <%= image_tag 'help/rec-img.jpg', class: "explain-img", alt: "cliquez sur ce bouton", title: "bouton Le Labo" %>
        <p>Sélectionnez le fichier à importer et validez. Le nom du fichier doit s'afficher à la place de "Aucun fichier sél."</p>
        <p>Terminez ensuite de remplir les autres champs du formulaire de création du montage et validez.</p>
      </div>
    </ul>
  </div>
</div>
