<div class="help-body">
  <%= render "help/cat" %>
  <div class="help-cat2 help-tips">
    <h2>Gestion des ingrédients</h2>
    <p>Questions relatives à la gestion des ingrédients</p>
    <ul>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Ordonner les ingrédients par catégorie</li>
      <div class="arrow_box">
        <p>Pour trier les ingrédients par catégorie, cliquez sur le bouton contenant les barres horizontales, à droite dans le menu.</p>
        <p>Cliquez ensuite sur la propriété dans laquelle vous souhaitez que les ingrédients soient ordonnés.</p>
        <br/>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Créer un ingrédients</li>
      <div class="arrow_box">
        <p>Sweetkit vous permet évidemment de créer de nombreux ingrédients. Par défaut, plus de 500 ingrédients sont créés à l'ouverture de votre compte.</p>
        <br/>
        <p>Pour ajouter un nouvel ingrédient à votre base, cliquez sur le bouton "NOUVEL INGRÉDIENT":</p>
        <%= image_tag 'help/ing-btn.png', class: "explain-img", alt: "cliquez sur ce bouton", title: "bouton Sweetkit" %>
        <p>Pour créer une nouvelle catégorie d'ingrédients (celles-ci vous aideront à les classifier), cliquez sur le bouton "NOUVELLE CATÉGORIE".</p>
        <p>Vous pouvez ensuite commencer à remplir le formulaire.</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Trouver les information relatives à la composition des ingrédients</li>
      <div class="arrow_box">
        <p>De nombreuses informations sont disponibles sur internet, il est possible de trouver les informations de composition de la majorité des ingrédients sur la toile.</p>
        <p>Toutefois, si les résultats ne vous conviennent pas, vous pouvez demander ces informations à votre fournisseur.</p>
        <br/>
        <p>Nous vous recommandons de remplir au maximum les champs des ingrédients, afin de profiter de toutes les fonctionnalités de Sweetkit.</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Définir cet ingrédient comme étant une purée de fruits</li>
      <div class="arrow_box">
        <%= image_tag 'help/ing-pulp.png', class: "explain-img", alt: "cliquez sur ce bouton", title: "bouton Sweetkit" %>
        <p>Ce champ est nécessaire pour l'équilibre des sorbets. Dans d'autres cas, cela n'aura pas d'impact sur vos recettes.</p>
      </div>
    </ul>
  </div>
</div>
