<div class="help-body">
  <%= render "help/cat" %>
  <div class="help-cat2 help-tips">
    <h2>Paiement</h2>
    <p>Questions relatives aux paiements</p>
    <ul>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Ajouter un code de réduction</li>
      <div class="arrow_box">
        <p>Il n'est pas possible d'utiliser de code de réduction sur Sweetkit. Cependant, vous pouvez profiter de notre offre de lancement - 20% de réduction sur votre formule - avant le 31 Décembre 2016</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Obtenir une facture</li>
      <div class="arrow_box">
        <p>Une facture vous sera automatiquement envoyée par email après chaque commande.</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Problèmes de paiement</li>
      <div class="arrow_box">
        <p>Si vous rencontrez un problème de paiement, merci de nous contacter à bonjour@sweetkit.io</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Autres moyens de paiement</li>
      <div class="arrow_box">
        <p>Merci de nous contacter à bonjour@sweetkit.io</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Puis-je payer par Paypal ?</li>
      <div class="arrow_box">
        <p>Merci de nous contacter à bonjour@sweetkit.io</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Mon paiement a échoué, comment être sûr que je ne suis pas débité ?</li>
      <div class="arrow_box">
        <p>Si le paiement à échoué, vous ne serez jamais débité. Si le paiement a été un succès, vous aurez alors accès aux fonctionnalités payantes de Sweetkit et recevrez un message pour vous en avertir.</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Quelle solution de paiement utilisez-vous ?</li>
      <div class="arrow_box">
        <p>Nous utilisons Stripe comme solution de paiement. Cette solution est utilisée par de nombreux sites internet reconnus, tels que Shopify, Twitter ou KickStarter.</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Compte débité et accès non-reçu</li>
      <div class="arrow_box">
        <p>Merci de nous contacter à bonjour@sweetkit.io</p>
      </div>
    </ul>
  </div>
</div>
