<div class="help-body">
  <%= render "help/cat" %>
  <div class="help-cat2 help-tips">
    <h2>Gestion des fournisseurs</h2>
    <p>Questions relatives à la gestion des fournisseurs</p>
    <ul>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Créer un fournisseur</li>
      <div class="arrow_box">
        <p>Les fournisseurs vous permettent de garder en mémoire les informations de vos contacts.</p>
        <br/>
        <p>Sweetkit vous permet évidemment de créer de nombreux fournisseurs.</p>
        <p>Pour ajouter un nouveau fournisseur à votre base, cliquez sur ce bouton :</p>
        <%= image_tag 'help/pro-btn.jpg', class: "explain-img", alt: "cliquez sur ce bouton", title: "bouton Sweetkit" %>
        <p>Vous pouvez ensuite commencer à remplir le formulaire.</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Supprimer un fournisseur</li>
      <div class="arrow_box">
        <p>Pour supprimer un fournisseur, cliquez sur la croix à droite du fournisseur que vous souhaitez supprimer sur la page d'index :</p>
        <br/>
        <%= image_tag 'help/pro-del.jpg', class: "explain-img", alt: "cliquez sur ce bouton", title: "bouton Sweetkit" %>
      </div>
    </ul>
  </div>
</div>
