<div class="help-body">
  <%= render "help/cat" %>
  <div class="help-cat2 help-tips">
    <h2>Gestion des recettes</h2>
    <p>Questions relatives à la gestion des recettes</p>
    <ul>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Créer une recette</li>
      <div class="arrow_box">
        <p>Le Labo vous permet évidemment de créer de nombreuses recettes. Par défaut, plusieurs recettes sont créées à l'ouverture de votre compte.</p>
        <br/>
        <p>Pour ajouter une nouvelle recette à votre base, cliquez sur ce bouton :</p>
        <%= image_tag 'help/rec-btn.jpg', class: "explain-img", alt: "cliquez sur ce bouton", title: "bouton Le Labo" %>
        <p>Vous pouvez ensuite commencer à remplir le formulaire.</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Afficher les nombres décimaux dans le formulaire</li>
      <div class="arrow_box">
        <p>Pour enregistrer un nombre décimal, vous devez utiliser le signe "."(point) en lieu et place de la virgule</p>
        <p>Si vous utilisez une virgule ou tout autre signe pour définir une décimale, seuls les nombres entiers seront sauvegardés.</p>
        <br/>
        <%= image_tag 'help/ing-dec.jpg', class: "explain-img", alt: "cliquez sur ce bouton", title: "bouton Le Labo" %>
        <p>Cette règle est valable pour tous les nombres insérés dans vos formulaires sur Le Labo.</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Définir le poids d'une recette</li>
      <div class="arrow_box">
        <p>Informations prochainement disponibles</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Calculer le coût de revient d'une recette</li>
      <div class="arrow_box">
        <p>Informations prochainement disponibles</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Équilibrer une ganache</li>
      <div class="arrow_box">
        <p>Informations prochainement disponibles</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Équilibrer une glace</li>
      <div class="arrow_box">
        <p>Informations prochainement disponibles</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Équilibrer un sorbet</li>
      <div class="arrow_box">
        <p>Informations prochainement disponibles</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Ajouter une photo à ma recette</li>
      <div class="arrow_box">
        <p>Le Labo vous permet d'ajouter une photo à vos recettes.</p>
        <p><b>Note : l'ajout de photos est une option réservée aux abonnés du Labo.</b></p>
        <p><i>Nous vous conseillons l'utilisation d'images au format carré afin de profiter pleinement de cette fonctionnalité.</i></p>
        <p>Cliquez sur le bouton "Choisir le fichier" :</p>
        <%= image_tag 'help/rec-img.jpg', class: "explain-img", alt: "cliquez sur ce bouton", title: "bouton Le Labo" %>
        <p>Sélectionnez le fichier à importer et validez. Le nom du fichier doit s'afficher à la place de "Aucun fichier sél."</p>
        <p>Terminez ensuite de remplir les autres champs du formulaire de création de la recette et validez.</p>
      </div>
    </ul>
  </div>
</div>
