<div class="help-body">
  <%= render "help/cat" %>
  <div class="help-cat2 help-tips">
    <h2>Gestion des listes de tâches</h2>
    <p>Questions relatives à la gestion des listes de tâches</p>
    <ul>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Créer une liste de tâches</li>
      <div class="arrow_box">
        <p>Les listes de tâches vous permettent d'organiser votre production.</p>
        <br/>
        <p>Pour créer une nouvelle liste de tâches, cliquez sur ce bouton :</p>
        <%= image_tag 'help/tdo-btn.jpg', class: "explain-img", alt: "cliquez sur ce bouton", title: "bouton Sweetkit" %>
        <p>Vous pouvez ensuite commencer à remplir le formulaire.</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Créer une ou plusieurs tâches</li>
      <div class="arrow_box">
        <p>Les tâches sont insérées dans votre liste afin de la remplir.</p>
        <br/>
        <p>Pour créer une nouvelle tâches, cliquez sur ce bouton :</p>
        <%= image_tag 'help/tsk-btn.jpg', class: "explain-img", alt: "cliquez sur ce bouton", title: "bouton Sweetkit" %>
        <p>Vous pouvez ensuite commencer à remplir le formulaire.</p>
      </div>
      <li><%= image_tag "folder.png", class: "mini-img", alt: "image question" %> Imprimer une liste de tâches</li>
      <div class="arrow_box">
        <p>Informations prochainement disponibles</p>
      </div>
    </ul>
  </div>
</div>
