
  <div class="class-helper inline_divs">
    <div class="line-cntnr">
        <%= link_to edit_provider_path(provider) do %>
          <div class="major-td">
            <%= truncate(provider.name.humanize, length: 25) %>
          </div>
          <div class="basic-td">
            <% if provider.email %>
              <%= truncate(provider.email.downcase, length: 30) %>
            <% end %>
          </div>
        <% end %>
        <div class="basic-td">
          <% if !provider.website.blank? %>
            <a href="<%= provider.website %>" target="_blank"><%= image_tag "link.png", class: "mini-mini-img" %> Voir le site</a>
          <% end %>
        </div>
        <%= link_to provider_path(provider.id), method: :delete, id: "delete-task" do %>
  				<%= image_tag "delete-sml.png", class: "delete-rcp delete-pop-over delete-tsk-btn delete-down" %>
  			<% end %>
    </div>
  </div>
