<% title "Modifier #{@provider.name.humanize}" %>
<div class="ttl-header action-rgt-ttl">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1"><%= @provider.name %></h1>
		<p class="lft-p">Informations sur le fournisseur</p>
	</div>
	<div class="page-ctas">
		<%= link_to providers_path do %>
			<p class="primary-btn ttl-btn"><%= image_tag "arrow-left.png", class: "btn_arrow" %> INDEX</p>
		<% end %><br/>
	</div>
</div>
<div class="action-cntnt action-rgt">
	<div class="provider-info">
		<% if !@provider.website.blank? %>
			<a href="<%= @provider.website %>" target="_blank"><div class="grey-cntnr"><%= image_tag "link.png", class: "mini-mini-img" %> Voir le site</div></a>
		<% end %>
		<div class="blue-cntnr">
				<span><%= @provider.provider_prices.count %></span> ingrédients associés
		</div>
	</div>
	<div class="actions-cntnr to-do-cntrn">
		<div class="tasks-cntnr">
			<div class="provider-ingredients">
				<h3>Ingrédients associés</h3>
				<% if @provider.provider_prices %>
					<% @provider.provider_prices.each do |p| %>
						<%= link_to edit_ingredient_path(p.ingredient_id) do %>
							<ul>
								<li>
									<%= @user.ingredients.find(p.ingredient_id).name.humanize %>
								</li>
							</ul>
						<% end %>
					<% end %>
				<% end %>
				<% if @provider.provider_prices.count == 0 %>
					<p>Aucun ingrédient lié à ce fournisseur</p>
				<% end %>
			</div>
			<div class="form-border"></div>
			<%= render "form", provider: @provider %>
		</div>
	</div>
</div>
