<% title "Fournisseurs" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1">Fournisseurs</h1>
		<p class="lft-p">Index des fournisseurs</p>
	</div>
	<div class="page-ctas">
		<%= link_to new_provider_path do %>
			<p class="standard-btn grey-btn ingredient-btn">+ NOUVEAU FOURNISSEUR</p>
		<% end %>
		<div>
			<p class="sort-show show-sort"><%= image_tag "sort-img.png", class: "mini-img" %></p>
		</div>
		</div>
	</div>
</div>
<div class="sort-paths">
	<div class="arrow-container"><div class="arrow-up"></div></div>
	<p>TRIER PAR</p>
	<ul>
		<li><%= sortable "Nom", "name" %></li>
		<li><%= sortable "Date de Création", "created_at" %></li>
		<li><%= sortable "Date de Modification", "updated_at" %></li>
	</ul>
</div>
<div class="sort-ttl-cntnr">
	<div class="list-width">
		<p class="major-td"><%= sortable "NOM", "name" %></p>
		<p class="basic-td">EMAIL</p>
		<p class="basic-td">SITE WEB</p>
	</div>
</div>
<div class="action-cntnt action-plus-list">
	<div class="list-cntnr">
		<div id="circleG" class="loading-indicator" style="display:none;">
			<br/><br/>
			<div id="circleG_1" class="circleG"></div>
			<div id="circleG_2" class="circleG"></div>
			<div id="circleG_3" class="circleG"></div>
		</div>
		<div class="list-width ajax-hide">
				<div class="hide">
							<ul>
								<li id="sortable1">
									<% unless @providers.nil? %>
										<%= render @providers %>
									<% end %>
								</li>
							</ul>
					</div>
				</div>
		</div>
		<div class="ajax-hide"><%= will_paginate %></div>
	</div>
</div>
