<% title "Envoyer les instructions de confirmation" %>
<div class="steps-cntnr">
    <div class="step-left-part">
        <%= image_tag "logo-le-labo.jpg", class: "logo-steps" %>
        <h1>Envoyer les instructions de confirmation</h1>
        <p class="low-txt">Vous pourrez ensuite créez votre mot de passe pour sécuriser votre compte.</p><br/>
		<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= image_tag "mail.png", class: "field-img2" %>
		    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "basic-field rounded-field" %>
        <br/>
		    <%= f.submit "Envoyer à nouveau", class: "btn cta-btn" %>
		<% end %>
    </div>
    <div class="step-right-part  step-bckgrnd bckgrnd4">
    </div>
</div>
