<% title "Création du mot de passe" %>
<div class="steps-cntnr">
    <div class="step-left-part">
        <%= image_tag "logo-le-labo.jpg", class: "logo-steps" %>
        <h1>Quel sera votre mot de passe?</h1>
        <p class="low-txt">Créez votre mot de passe pour sécuriser votre compte.</p><br/>
		<%= form_for(resource, as: resource_name, url: confirm_path(resource_name)) do |f| %>
		    <%= devise_error_messages! %>
		    <%= image_tag "key.png", class: "field-img2" %>
		    <%= f.password_field :password, :placeholder => "Mot de passe", class: "basic-field top-field" %>
		    <%= image_tag "key.png", class: "field-img2" %>
		    <%= f.password_field :password_confirmation, :placeholder => "Confirmation", class: "basic-field bottom-field" %>
		    <%= f.hidden_field :confirmation_token, value: @original_token %><br/>
		    <%= f.button :submit, class:"primary-btn" do %>
                VALIDER<%= image_tag "arrow-right.png", class: "btn_arrow" %>
            <% end %>
		<% end %>
    </div>
    <div class="step-right-part  step-bckgrnd bckgrnd0">
    </div>
</div>
