<% title "Pâtissiers: 8 outils pour accélérer votre business sur internet" %>
<% set_meta_tags description: 'Pâtissiers, découvrez 8 outils souvent gratuits pour accélérer votre business sur internet',
                 keywords: 'Pâtissiers, outils, gratuits, le labo, recettes, logiciel',
                 og: {
					  title:    'Pâtissiers: 8 outils pour accélérer votre business sur internet',
					  type:     'article',
					  url:      'https://www.lelabo-ondemand.com/article-test',
					  image:    'optimisez-vos-ventes-patisseries.png'
					 } %>
<%= render "blogs/header" %>
<div class="social-icn"><div class="fb-like" data-href="https://www.facebook.com/lelaboondemand/?notif_t=page_user_activity&amp;notif_id=1462110121107502" data-layout="box_count" data-action="like" data-show-faces="false" data-share="true"></div></div>
<div class="blog-post-cntnr">
<h1>Pâtissiers: 8 outils pour accélérer votre business sur internet</h1>
<p class="post-autor"><%= image_tag "pen.png", class: 'blog-pen' %>Écris par Timothée Gauguet</p><br/>
<%= image_tag "optimisez-vos-ventes-patisseries.png", class: "blog-head-img", alt: "Pâtissiers : Optimisez vos ventes sur le web" %> <br/>
<br/>
<p>Faire venir du trafic sur votre site web n'est pas suffisant pour tirer toutes les opportunités de faire évoluer votre business. Les experts du marketing sur internet utilisent de nombreuses techniques pour augmenter leurs revenus sur le web, dans certains cas, il s'agit simplement de modifier la couleur d'un bouton. Dans d'autres les choses sont un petit peu plus complexes.</p><br/>
<p>La liste qui suit regroupe un ensemble d'outils accessibles, souvent gratuits - au moins dans leurs versions basiques - et qui ne nécessitent pas d'avoir de grandes connaissances techniques. Ces outils devraient vous permettre d'augmenter vos ventes quel que soient les produits.</p>
<br/>
<p>Pour vous aider à trouver les outils les plus adaptés à vos besoins, nous avons écris un petit descriptif pour chacun d'entre eux.</p><br/>
<p>Prêt ? C'est parti...</p>

<h2>1) <a href="https://www.google.com/analytics/" title="Google Analytics">Google Analytics</a></h2>

<p><b>Prix : Gratuit </b> </p>
<p><b>Langue: Français</b> </p><br/>

<p>Lorsqu’il s’agit d’analyser les données de votre site, aucun outil gratuit n’est aussi efficace que Google Analytics. <a href="http://trends.builtwith.com/analytics/Google-Analytics " title="Nombre d’utilisateurs de Google Analytics" >Plus de 20 Millions de sites web</a> utilisent l’application de Google pour mieux connaitre leurs clients.<br/> <br/>Car oui, utiliser l’application analytique de Google peut être un formidable boost pour vos ventes. Elle vous permet de découvrir d’ou proviennent vos visiteurs, quels sont leurs caractéristiques ( age, sexe, centres d’intérêts, etc. ) et ainsi d’adapter votre offre et votre discours à votre base de clients.</p>
<p>Surtout, vous allez pouvoir analyser la portée de vos actions et mieux savoir repérer les bonnes pratiques d'optimisation de votre boutique en ligne.</p>
<%= image_tag "google-analytics", class: "blog-img" %>

<h2>2) <a href="http://mbsy.co/strikingly/22884723" title="Application Strikingly">Strikingly</a></h2>

<p><b>Prix : Gratuit ou formules à 8 et 16$/mois</b></p>
<p><b>Langue : Français</b></p><br/>

<p>Strikingly c’est LA solution à utiliser si vous souhaitez tester votre idée de business sans dépenser un centime.
L’application propose une offre gratuite qui vous permet de créer une landing page ( page d’atterrissage de votre site ) et d'y ajouter un formulaire d’inscription pour observer l’intérêt des visiteurs pour vos produits. Si vous préférez tester directement vos produits, ils proposent une offre à 16$ par mois vous permettant de créer votre e-commerce contenant jusqu'à 100 produits en quelques minutes.</p><br/>
<p>Les pages des sites créés avec Strikingly sont responsive : la taille et les informations de l'écran s’adaptent à l’appareil utilisé par vos visiteurs afin de leur offrir une meilleure expérience.</p>

<%= image_tag "strikingly.png", class: "blog-img" %>

<p>La grande force de Strikingly réside dans sa simplicité d’utilisation, plus rapide à mettre en place qu’un site sous Wordpress ou Prestashop.<br/><br/>
Si vous ne savez pas coder, c’est une bonne chose. Vous pourrez compléter la majorité de vos besoins très simplement.
Vous avez ensuite la possibilité de publier votre site sous leur nom de domaine : « votre-domaine.strikingly.com » ; ce que je ne recommande pas.
Le fait d’utiliser votre propre domaine ( « votre-domaine.com » ) donnera une image plus professionnelle et permettra de valider vos tests plus sérieusement.</p>
<%= image_tag "strikingly2.png", class: "blog-img" %>

<h2>3) <a href="http://www.shareasale.com/r.cfm?b=502402&u=1297992&m=47831&afftrack=&urllink=%3A+http%3A%2F%2Fwww.CrazyEgg.com%2F" title="Crazy Egg">Crazy Egg</a></h2>

<p><b>Prix : à partir de 9$</b></p>
<p><b>Langue : Anglais</b></p><br/>

<p>Crazy Egg est un logiciel de heat maps ( cartes représentant des zones de chaleur ), il a été créé pour vous permettre de voir exactement comment se comportent vos visiteurs sur votre site web.<br/><br/>
L’installation de Crazy Egg sur un site internet est vraiment très simple ; il vous suffit de copier-coller le liens généré lors de votre inscription dans la partie du code HTML de toutes les pages de votre application dont vous voulez suivre les données. Le travail commencera alors automatiquement.<br/>

Si vous utilisez Wordpress sur votre site, il existe un plugin qui vous facilitera la tâche. Si vous n’avez pas accès au code source de votre site web, vous pouvez demander à votre webmaster de faire l’intégration pour vous. <br/><br/>

Il sera alors facile de voir quelles sont les parties de votre site web qui retiennent l’attention des visiteurs. Il ne vous reste plus qu’à disposer les éléments les plus importants à ces endroits. Si les visiteurs ne sont pas réceptif à une partie de votre page, vous le saurez également et vous pourrez supprimer cette partie inutile.</p>
<%= image_tag "crazy-egg.jpg", class: "blog-img" %>

<h2>4)<a href="https://www.optimizely.com" title="Optimizely website">Optimizely</a></h2>

<p><b>Prix : Gratuit, formules sur mesure</b></p>
<p><b>Langue : Anglais</b></p><br/>

<p>Lorsqu’il s’agit de tester l’efficacité de votre site, le premier outil que vous devriez prendre en compte est sans doute l’A/B testing. Les tests A/B vous permettent de cibler une partie visuelle de votre site ( bouton, texte, etc. ) et de la modifier ( mots, texte, couleur ) sur une page annexe. Vous choisissez ensuite le pourcentage de visiteurs qui seront redirigés la page originale et le pourcentage qui sera redirigé vers la page annexe. Cela vous permet de tester l’influence des modifications apportées à votre site.<br/>

Optimizely est un formidable outil d’A/B testing, si vous utilisez une page générée par un créateur de landing pages - comme strikingly -, cela ne vous sera pas utile. Mais si vous utilisez un vrai site web, les tests A/B peuvent vous permettre de gonfler incroyablement vos ventes.
<br/><br/>
Pour permettre à Optimizely de tester votre application il vous suffit ( comme pour Crazy Egg ) de copier-coller le code généré directement dans votre code source.
Une fois que vous avez un petit peu de trafic, vous pouvez vous connecter à votre compte Optimizely et voir quelles actions ont le plus d’influence sur vos utilisateurs.</p>
<%= image_tag "optimizely1.png", class: "blog-img" %>
<%= image_tag "optimizely2.png", class: "blog-img" %>

<h2>5) <a href="https://unbounce.com" title="Unbounce website">Unbounce</a></h2>

<p><b>Prix : à partir de 49$ par mois.</b></p>
<p><b>Langue : Anglais</p></b><br/>

<p>Unbounce est une application de création de pages web optimisées pour la conversion. C’est un outil extrêmement simple à utiliser car il vous permet d'utiliser la technologie "drag and drop" prendre les éléments et de les déposer directement sur votre page web. Vous pouvez, bien sur, les modifier jusqu’à obtenir les effets que vous désirez. Comme Strikingly, avec Unbounce vous pouvez créer des pages responsive.<br/><br/>

Unbounce est un outil extrêmement complet  qui offre notamment pas mal de solutions pour A/B tester votre site. Vous pouvez copier une de vos pages, la modifier et Unbounce fera le reste du travail pour vous.<br/>

Enfin, le site vous propose une large gamme de templates clé en main ( que vous pouvez voir sans vous inscrire ).</p>
<%= image_tag "unbounce.png", class: "blog-img" %>

<h2>6) <a href="https://www.intercom.io" title="Intercom website"> Intercom</a></h2>

<p><b>Prix : à partir de 49€/mois</b></p>
<p><b>Langue : Français</b></p><br/>

<p>Intercom est un outil qui vous permet - entre autre - d’installer une fenêtre de chat en ligne sur votre site web. Vos utilisateurs peuvent ainsi vous contacter directement pour vous poser des questions. Grâce à leur application mobile, vous serez averti en direct à chaque question d’un de vos clients et leur répondre dans la foulée depuis votre smartphone. <br/><br/>
Lorsque l’on voit l’impact que peut avoir un bon service client sur les ventes et l’expérience client, il est facile de deviner l’intérêt d’une telle solution.</p>
<%= image_tag "intercom.png", class: "blog-img" %>

<h2>7) <a href="https://sumome.com" title="SumoMe website">SumoMe</a></h2>

<p><b>Prix : Gratuit ou formules de 10 à 100$/mois</b></p>
<p><b>Langue : Anglais</b></p><br/>

<p>SumoMe vous propose une série d’outils gratuits pour optimiser la conversion de votre site web. Cela va des Call To Action ( boutons emmenant une action précise de l’utilisateur ) aux pop-ups en passant par la « smart-bar » pour augmenter le taux d’inscription à votre newsletter.<br/><br/>

L’un des nombreux avantages de SumoMe est sa simplicité d’intégration et de fonctionnement, vous pouvez tester SumoMe sur votre site web en 37 secondes.</p>
<%= image_tag "sumo-me.png", class: "blog-img" %>


<h2>8) <a href="https://www.hellobar.com/" title="HelloBar website">Hello Bar</a></h2>

<p><b>Prix : Gratuit ou formules de 12 à 83$/mois</b></p>
<p><b>Langue : Anglais</b></p><br/>

<p>HelloBar est un outil qui vous permet d’ajouter des formulaires pop-up à votre site web afin de faire grossir vos listes d’emails, promouvoir vos pages sur les réseaux sociaux, offrir des réductions ou n’importe quelle autre stratégie de vente. Dans sa version gratuite, il vous permet de créer en quelques minutes un formulaire qui sera montré à chaque 10ème visiteur. Les formules Premium offrent quant à elles des options plus avancées.<br/><br/>

Pour voir toute la puissance de HelloBar, il vous suffit d’entrer l’URL de votre site dans la page d’accueil de HelloBar. Vous pourrez ensuite, en 3 clicks, avoir un aperçu de ce que l’application peut vous apporter.</p><br/>

<%= image_tag "hellobar.png", class: "blog-img" %>
<a href="#" onclick="window.open('http://www.facebook.com/sharer.php?u=https://www.lelabo-ondemand.com/article-test/&amp;t=8 Unbelievable Auditions that took place for Game of Thrones', 'facebookShare', 'width=626,height=436'); return false;" title="Share on Facebook">facebook</a>
						</li>
						<li class="post-social-twit">
							<a href="#" onclick="window.open('http://twitter.com/share?text=8 Unbelievable Auditions that took place for Game of Thrones&amp;url=http://entertain-o-rama.com/8-unbelievable-auditions-that-took-place-for-game-of-thrones-1/', 'twitterShare', 'width=626,height=436'); return false;" title="Tweet This Post"><i class="fa fa-twitter fa-2"></i></a>	
						</li>
<% unless signed_in? %>
	<%= link_to root_path do %>
		<div class="blog-cta">
			<%= image_tag "logo-white.png", class: "blog-cta-img" %>
			<h2>Envie d'optimiser vos recettes ?</h2>
			<p class="blog-btn">Essayer le Labo</p>
		</div>
	<% end %>
<% end %>
<div id="disqus_thread"></div>
</p>
</div>
</div>