<% title "Blog - index" %>
<body class="grey-bckgrnd">
	<div class="title-cntnr">
		<h1 class="big-white-h1">Blog</h1>
		<p>Le blog du Labo</p>
	</div>
	<div class="standard-form-cntnr2">
		<div class="post-cntnr">
			<%= link_to blog_dix_patissiers_francais_stars_de_instagram_path do %>
				<%= image_tag "starinstagram.jpg", class: "blog-inx-img" %>
			<% end %>
			<div class="post-index-txt">
				<%= link_to blog_dix_patissiers_francais_stars_de_instagram_path do %><h2 class="beautiful-txt-color">10 Pâtissiers Français stars de Instagram</h2><% end %>
				<h5>Écris par Tim</h5>
				<p>Avec son concept très simple basé sur le partage de photos, Instagram est rapidement devenue une vitrine de choix pour permettre aux pâtissiers d'exposer leur talent sur la toile...</p><br/>
				<%= link_to blog_dix_patissiers_francais_stars_de_instagram_path do %><div class="cover link-img"></div><p class="post-link">Voir l'article</p><% end %>
			</div>
		</div>
		<div class="post-cntnr">
			<%= link_to blog_six_bonnes_raisons_de_ne_pas_succomber_aux_produits_surgeles_path do %>
				<div class="post-index-img2 cover2"></div>
			<% end %>
			<div class="post-index-txt">
				<%= link_to blog_six_bonnes_raisons_de_ne_pas_succomber_aux_produits_surgeles_path do %><h2 class="beautiful-txt-color">Pâtissiers: 6 bonnes raisons de ne pas succomber aux produits surgelés</h2><% end %>
				<h5>Écris par Tim</h5>
				<p>Selon les dernières études, une viennoiserie sur deux vendue en boulangerie et pâtisserie n’est pas artisanale. Evidemment, le phénomène n’est pas nouveau. Mais il s’accentue...</p><br/>
				<%= link_to blog_six_bonnes_raisons_de_ne_pas_succomber_aux_produits_surgeles_path do %><div class="cover link-img"></div><p class="post-link">Voir l'article</p><% end %>
			</div>
		</div>
		<div class="post-cntnr">
			<%= link_to blog_huit_outils_pour_accelerer_votre_business_path do %><div class="post-index-img cover"></div><% end %>
			<div class="post-index-txt">
				<%= link_to blog_huit_outils_pour_accelerer_votre_business_path do %><h2 class="beautiful-txt-color">Pâtissiers: 8 outils pour accélérer votre business sur internet</h2><% end %>
				<h5>Écris par Tim</h5>
				<p>Faire venir du trafic sur votre site web n'est pas suffisant pour tirer toutes les opportunités de faire évoluer votre business. Les experts du marketing sur internet utilisent...</p><br/>
				<%= link_to blog_huit_outils_pour_accelerer_votre_business_path do %><div class="cover link-img"></div><p class="post-link">Voir l'article</p><% end %>
			</div>
		</div>
	</div>
</body>