<% title "Nom de votre gestionnaire" %>
<div class="steps-cntnr">
    <div class="step-left-part">
        <%= image_tag "logo-le-labo.jpg", class: "logo-steps" %>
        <h1>Quel nom voulez-vous donner à votre compte?</h1>
        <p class="low-txt">Nommer votre compte peut vous permettre de partager plus simplement vos recettes.</p><br/>
        <p class="basic-note"><b>Nom du gestionnaire de recettes</b> (vous pourrez le changer plus tard)</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.text_field :account_name, autofocus: true, :placeholder => "Ex. Pâtisserie Gilles", class: "basic-field full-witdth"  %><br/><br/>
            <%= f.button :submit, class:"primary-btn" do %>
                Suivant<%= image_tag "arrow-right.png", class: "btn_arrow" %>
            <% end %>
        <% end %>
    </div>
    <div class="step-right-part">
    </div>
</div>
