<% title "Créez les meilleures pâtisseries" %>
<div class="background-colr">
<header>
  <div class="transparent">
    <%= link_to root_path do %><%= image_tag "logo-txt-white.png", class: "logo-white to-the-right" %><% end %>
    <ul>
      <li>PRODUIT</li>
      <li>TARIFS</li>
      <li>CONTACT</li>
      <li class="btn white">SE CONNECTER</li>
    </ul>
  </div>
</header>
<div class="home-cntnr">
  <%= image_tag "logo-white.png", class: "logo-white" %>
  <h1>Gérez vos recettes professionnelles</h1>
  <h2>Avec le Labo, créez, améliorez, calculez et partagez vos recettes en toute simplicité</h2>
  <div class="connexion_container">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :oauthdelivered, :value => 'true' %>
        <%= f.text_field :email, :placeholder => "Adresse email", class: "basic-field" %>
        <%= f.submit "Utiliser gratuitement", class: "btn cta-btn" %>
        <p class='subtxt-white'>Vous êtes déjà inscrit ? <%= link_to new_user_session_path do %><span>Connectez-vous</span><% end %></p>
      <% end %>
  </div>
  <footer>
    <div class="degraded">
      <ul>
        <li class="footer-ttl">LE LABO</li>
        <li>Produits</li>
        <li>Contact</li>
        <li>Blog</li>
        <li>Tarifs</li>
      </ul>
      <ul>
        <li class="footer-ttl">SOCIAL</li>
        <a href="https://www.facebook.com/lelaboondemand/"><li>Facebook</li></a>
        <a href="https://www.instagram.com/le_labo_officiel/"><li>Instagram</li></a>
      </ul>
    </div>
    <div class="mini-footer">
      <p>© Copyright - lelabo 2016</p>
    </div>
  </footer>
</div>
</div>
