<% title "Inscription" %>
<div class="background-colr">
  <div class="connexion_container">
    <h2>Inscription</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <%- if devise_mapping.omniauthable? %>
        <%= link_to user_omniauth_authorize_path(:facebook) do %>
          <div class="fb-connect">Inscription avec facebook</div>
        <% end %>
        <%= link_to user_omniauth_authorize_path(:instagram) do %>
          <div class="g-connect">&nbsp;&nbsp;Inscription avec Instagram</div>
        <% end %>
      <% end %>
      <div class="intrace-or"><span class="trace-or"></span><span>ou</span><span class="trace-or" ></span></div><br/>
      <%= f.hidden_field :oauthdelivered, :value => 'true' %>
      <%= f.text_field :email, :placeholder => "Email", class: "basic-field6 adapter" %><br/>
      <%= f.password_field :password , :placeholder => "Mot de passe (min 8 caractères)", class: "basic-field8" %><br/><br/>
      <p class="checkout-btn btn-smaller btn-2sm"><%= f.submit "Inscription", class: "submit-style" %></p>
    <% end %>
  <h5 style="color:#A3A3A3;">Déjà inscrit ? <%= link_to "Se connecter", new_session_path(resource_name), class: "link_decoration" %></h5>
  </div>
</div>
