<% title "Gérez vos recettes professionnelles" %>
<div class="sec-bck">
  <div class="background-colr">
      <header>
        <div class="transparent">
          <%= link_to root_path do %><%= image_tag "logo-txt-white.png", class: "logo-white to-the-right" %><% end %>
          <ul>
            <%= link_to produits_path do %><li>FONCTIONNALITÉS</li><% end %>
            <%= link_to subscriptions_path do %><li>TARIFS</li><% end %>
            <%= link_to new_contact_path do %><li>CONTACT</li><% end %>
            <%= link_to new_user_session_path do %><li class="btn white">SE CONNECTER</li><% end %>
          </ul>
        </div>
      </header>
      <div class="home-cntnr">
        <div class="inscription_container">
            <br/>
            <h1>VOS RECETTES</h1>
            <h2><span class="element"></span></h2>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <%= image_tag "mail.png", class: "field-img-big" %>
              <%= f.text_field :email, :placeholder => "Adresse email", class: "basic-field welcome-field" %>
              <%= f.hidden_field :oauthdelivered, :value => 'true' %>
              <%= f.submit "ESSAYER GRATUITEMENT", class: "btn cta-btn welcome-btn w-btn" %>
              <p>Vous êtes déjà inscrit ? <%= link_to new_user_session_path do %><span>Connectez-vous</span><% end %></p>
            <% end %>
        </div>
      </div>
  </div>
</div>
<script>
$(func = function () {
  $(".element").typed({
      strings: ['RENTABILISÉES','CALCULÉES','ÉQUILIBRÉES','AMÉLIORÉES','CENTRALISÉES','',''],
      typeSpeed: 100, // typing speed
      backDelay: 2000,
      callback: function (){
        func();
      }
  });
});
</script>
