<% title "Gérez vos recettes professionnelles" %>
<div class="sec-bck">
  <div class="background-colr">
      <header>
        <div id="sweets">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="transparent">
          <%= link_to root_path do %><%= image_tag "logo-txt-white.png", class: "logo-white to-the-right" %><% end %>
          <ul>
            <%= link_to produits_path do %><li>FONCTIONNALITÉS</li><% end %>
            <%= link_to subscriptions_path do %><li>TARIFS</li><% end %>
            <%= link_to new_contact_path do %><li>CONTACT</li><% end %>
            <%= link_to new_user_session_path do %><li class="btn white">SE CONNECTER</li><% end %>
          </ul>
        </div>
      </header>
      <div class="home-cntnr">
        <div class="inscription_container">
            <br/>
            <h1>Votre générateur <br/>de pâtisseries</h1><br/>
            <h2>Sweetkit vous aide à créer de nouvelles recettes, facilement.</h2>
            <br/>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <div class="wlcm-btn-cntnr">
                <%= image_tag "mail.png", class: "field-img-big" %>
                <%= f.text_field :email, :placeholder => "Votre email ici", class: "basic-field welcome-field" %>
                <%= f.hidden_field :oauthdelivered, :value => 'true' %>
                <%= f.submit "UTILISER GRATUITEMENT", class: "w-btn" %>
              </div>
              <br/>
              <p>Vous êtes déjà inscrit ? <%= link_to new_user_session_path do %><span>Connectez-vous</span><% end %></p>
            <% end %>
        </div>
      </div>
  </div>
</div>
<br/><br/><br/>
