<div class="create-task2">
	<!-- Index each done tasks -->
	<% @done.each do |task| %>
		<div class="class-helper inline_divs">
			<% unless task.id.nil? || task.nil? %>
				<%= link_to done_to_do_list_task_path(@list, task.id), method: :patch, remote: true do %>
					<div class="check-cntnr bckgrnd-trsp">
						<input type="checkbox" class="check">
						<div class="valt"> &nbsp;√</div><label class="box1"></label>
					</div>
				<% end %>
					<%= form_for @list, remote: true do |f| %>
						<div class="edittask">
						<%= f.fields_for :tasks, task do |ff| %>
							<%= ff.text_field :name, class: "task-field", id: "task-name", onclick: "(this).select();" %><br/>
							<%= ff.text_field :assigns_to, class: "task-field", placeholder: "assignée à...", onclick: "(this).select();" %><br/>
							<%= ff.submit "ENREGISTRER", class: "inside-btn smll-txt" %><span class="smll-txt smll-btn cancel-btn">ANNULER</span>	
						<% end %>
						</div>
						<div class="taskname"><i class="finished-tsks"><%= task.name %></i></div>
					<% end %>
				<%= link_to to_do_list_task_path(@list, task.id), method: :delete, remote: true, id: "delete-task" do %>
					<%= image_tag "delete-sml.png", class: "delete-tsk-btn" %>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>
