<div class="partial recipe-img-cntnr">
  <% if image.nil? %>
    <%= ff.file_field :picture, class: "imgs-field" %>
  <% else %>
    <%= image_tag image.picture, class: "user-img2 recipe-imgs" %>
  <% end %>
  <%= ff.text_area :description, placeholder: "description de l'image...", class: "basic-field" %>
  <%= ff.hidden_field :_destroy %>
  <div>
  	<%= remove_field "delete-sml.png", ff %>
  </div>
</div>
