<div class="cost_form">
  <h1><%= @recipe.name %></h1>
  <%= form_for(@recipe, remote: true) do |f| %>
    <% @recipe.quantities.each_with_index do |q, index| %>
      <%= f.fields_for :quantities, q do |ff| %>
      <div class="partial">
        <%= render "add_quantities", ff: ff %>
         (1kg:<%= number_to_currency q.ingredient.price %>)
         (recette:<%= number_to_currency recipe_price(q, @recipe) %>)
      </div>
      <% end %>
    <% end %>
    <div class="add_field"><%= create_new_field "+", f, :quantities %></div>
    <h2>Coût de revient</h2>
    De la recette: <%= number_to_currency @recipe.total_cost %><br/>
    Pour 1kg: <%= number_to_currency @recipe.kilo_cost %><br/>
    Pour
    <%= f.fields_for :totals, @recipe.totals.first do |ff| %>
      <%= ff.text_field :value, placeholder: "...", class: 'rounded-field' %>
    <% end %>kg : <%= number_to_currency @recipe.custom_cost %><br/>
    <%= f.submit "modifier" %>
  <% end %>
</div>
