<div class="recipe_values">
  <h1><%= @recipe.name %></h1>
  <%= form_for(@recipe, remote: true) do |f| %>
    <% @recipe.quantities.each_with_index do |ingredient, index| %>
      <%= f.fields_for:quantities, ingredient do |ff| %>
        <%= render "add_quantities", ff: ff %>
      <% end %>
    <% end %>
    <div class="add_field"><%= create_new_field "+", f, :quantities %></div>
    <%= f.submit "modifier" %>
  <% end %>
  <div class="values">
    Calories / 100g : <%= @recipe.sum_of_kcal.to_i %> kcal<br/>
    Poids total de la recette : <%= @recipe.show_total("weight") %> Kg<br/>
    Pouvoir sucrant : <span class="<%= sug_power_color(@recipe) %>"><%= number_to_percentage(@recipe.percentage_of("sugar_power"), precision: 1) %></span><br/>
    Matières grasses : <span class="<%= fat_color(@recipe) %>"><%= number_to_percentage(@recipe.percentage_of("fat_percent"), precision: 1) %></span><br/>
    Sucre : <span class="<%= sugar_color(@recipe) %>"><%= number_to_percentage(@recipe.percentage_of("sugar_percent"), precision: 1) %></span><br/>
    Matières sèches : <%= number_to_percentage(@recipe.percentage_of("dry_matter_percent"), precision: 1) %><br/>
    Eau : <span class="<%= water_color(@recipe) %>"><%= number_to_percentage(@recipe.percentage_of("water_percent"), precision: 1) %></span><br/>
    Cacao : <%= number_to_percentage(@recipe.percentage_of("cocoa_percent"), precision: 1) %><br/>
    Beurre de cacao : <span class="<%= cocoa_butter_color(@recipe) %>"><%= number_to_percentage(@recipe.percentage_of("cocoa_butter_percent"), precision: 1) %></span><br/>
    Cacao total : <%= number_to_percentage(@recipe.percentage_of("cocoa_total_percent"), precision: 1) %><br/>
    Alcool : <%= number_to_percentage(@recipe.percentage_of("alcool_percent"), precision: 1) %><br/>
    <% if is_ice_cream?(@recipe) || is_sorbet?(@recipe) %>
      Stabilisateur : <span class="<%= stab_color(@recipe) %>"><%= number_to_percentage(@recipe.percentage_of("stabilizer"), precision: 1) %></span><br/>
    <% end %>
    <% if is_ice_cream?(@recipe) %>
      MG du lait : <span class="<%= milk_fat_color(@recipe) %>"><%= number_to_percentage(@recipe.milk_of("fat_percent"), precision: 1) %></span><br/>
      EST du lait : <span class="<%= milk_est_color(@recipe) %>"><%= number_to_percentage(@recipe.milk_of("dry_matter_percent"), precision: 1) %></span><br/>
      MG + EST du lait : <span class="<%= milk_estmilk_color(@recipe) %>"><%= number_to_percentage(@recipe.milk_and_est(@recipe), precision: 1) %></span><br/>
    <% end %>
    <% if is_sorbet?(@recipe) %>
      Pulpe : <span class="<%= pulp_color(@recipe) %>"><%= number_to_percentage(@recipe.pulp_percentage, precision: 1) %></span><br/>
    <% end %>
  </div>
</div>
