<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="recipe-form">
  <h3>Titre</h3>
  <%= f.text_field :name, class: "basic-field big-compo title-field" %>
  <div class="recipe-cntnr r-smll-cntnr">
      <div class="select-areas recipe-cat">
        <p>Catégorie</p>
        <%= f.select :category, ["Biscuit", "Chocolat", "Confiserie", "Crème", "Décors", "Dessert", "Ganache", "Glace", "Macaron", "Mousse", "Pâte", "Salé", "Sorbet"], include_blank: true, class: "basic-field" %>
      </div>
      <p>Auteur</p>
      <%= f.text_field :owner, class: "basic-field big-compo rounded-field", value: user_if_nil(@recipe) %>
      <p>Cuisson</p>
      <%= image_tag "celsius.png", class: "field-img euro-img" %>
      <%= f.text_field :baking, class: "basic-field recipe-comp-sel rounded-field" %>
  </div>
  <div class="recipe-cntnr r-big-cntnr">
    <% if @user.basic_user? %>
      <h3>Ajoutez une image</h3>
      <p>Choisissez l'offre entreprise et profitez de cette fonctionnalité !</p>
      <p class="auto-btn cta-btn">+ S'ABONNER</p>
      <br/><br/><br/><br/><br/><br/>
    <% else %>
      <p>image</p>
      <%= image_tag(@recipe.image.url(:medium), class: "recipe-img") %>
      <%= f.file_field :image %>
      <br/><br/>
    <% end %>
  </div>
  <%= f.text_area :note, class: "basic-field rounded-field", placeholder: "Notes" %>
  <br/>
  <h3>Ingredients & process</h3>
  <div class="ingredients-add-ctnr">
    <div class="add_ingredients">
      <%= f.fields_for :quantities do |ff| %>
        <%= render "add_quantities", ff: ff %>
      <% end %>
      <p class="add_field"><%= create_new_field "+", f, :quantities %></p>
    </div>
    <div data-no-turbolink class="add_process">
      <%= f.cktext_area :process, placeholder: "procédé", class: "basic-field rounded-field ckeditor", ckeditor: { toolbar: "mini" } %>
    </div>
  </div>
    <br/>
    <%= f.submit "ENREGISTRER", class: "auto-btn cta-btn" %>
  </div>
<% end %>
