<div class="recipe-frm">
  <%= form_for(recipe) do |f| %>
    <% if recipe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(recipe.errors.count, "error") %> Ont empêché la sauvegarde de cette recette :</h2>
        <ul>
        <% recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class="recipe-form">
    <div class="recipe-cntnr r-smll-cntnr">
      <h3 class="bgr-ttl">Créer une nouvelle recette</h3>
      <div class="r-img-cntnr">
        <% if current_user.basic_user? %>
          <h3>Ajoutez une image</h3>
          <p>Choisissez l'offre entreprise et profitez de cette fonctionnalité !</p>
          <p class="auto-btn cta-btn">+ S'ABONNER</p>
          <br/><br/><br/><br/><br/><br/>
        <% else %>
          <p>image</p>
          <%= image_tag(recipe.image.url(:medium), class: "recipe-img") %>
          <%= f.file_field :image %>
          <br/><br/>
        <% end %>
      </div>
      <div class="test btn">TEST</div>
      <div class="to-left recipe-head">
    		<p>*Nom</p><div class="hover-helper">Indiquez le nom de votre recette (cette mention est nécessaire)</div>
        <%= f.text_field :name, class: "basic-field", placeholder: " " %>
    		<p>Catégorie</p>
        <%= f.select :category, ["Divers", "Biscuit", "Chocolat", "Confiserie", "Crème", "Décors", "Dessert", "Ganache", "Glace", "Macaron", "Mousse", "Pâte", "Salé", "Sorbet"], selected: recipe.try!(:category) , class: "basic-field special-top" %>
        <%= image_tag "sort-down-3.png", class: "mini-img sort-select" %>
        <div>
          <p>Auteur</p>
          <%= f.text_field :owner, class: "basic-field", value: user_if_nil(recipe) %>
        </div>
        <br/>
      </div>
      <div class="form-border"></div>
      <div class="r-img-cntnr">
        <h3>Taux de TVA</h3>
      </div>
      <h3>Prix de vente &&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Poids/Part</h3>
      <br/>
      <div class="r-img-cntnr up-div">
        <p><%= f.radio_button :vat, "20.00%" %> 20,00 %</p>
        <p><%= f.radio_button :vat, "10.00%", checked: true %> 10,00 %</p>
        <p><%= f.radio_button :vat, "5.50%" %> 5,50%</p>
      </div>
      <div class="recipe-head to-left up-div">
        <%= image_tag "euro-3.png", class: "field-img-big upper-field-img rsp-dl" %>
        <%= image_tag "ttc.png", class: "field-img-big rght-field-img rsp-dl" %>
        <%= f.text_field :portion_price, class: "basic-field p-field", placeholder: " " %>
        <%= image_tag "gramme.png", class: "field-img-big upper-field-img" %>
        <%= f.text_field :portion_weight, class: "basic-field p-field", placeholder: " " %>
        <p>Nombre de parts/recette</p>
        <%= f.select :portion_number, (1..100).map { |i| [i, i] } %>
        <%= image_tag "sort-down-3.png", class: "mini-img sort-select" %>
    	</div>
      <br/>
      <div class="form-border"></div>
    </div>
    <br/>
    <h3>Ingrédients</h3>
    <div class="ingredients-add-ctnr">
      <div class="add_ingredients">
        <%= f.fields_for :quantities do |ff| %>
          <%= render "add_quantities", ff: ff %>
        <% end %>
        <p class="add_field"><%= create_new_field "+", f, :quantities %></p>
        <p class="grey-btn hide white-cat">+ CRÉER UN NOUVEL INGRÉDIENT</p>
      </div>
      <br/>
    </div><br/>
    <div class="form-border"></div>
    <h3>Process</h3>
    <div data-no-turbolink class="add_process">
      <%= f.cktext_area :process, placeholder: " ", class: "basic-field rounded-field ckeditor", ckeditor: { toolbar: "mini" } %>
    </div>
    <div class="r-img-cntnr up-div">
      <br/>
      <br/>
      <p class="custom-checkbox stari">
        <%= f.check_box :stared %>
        <%= image_tag "star-big.png", alt: "checktag", class: "greyscale" %>
        Star
      </p>
      <p class="custom-checkbox stari">
        <%= f.check_box :loved %>
        <%= image_tag "heart-big.png", alt: "checktag", class: "greyscale" %>
        Favoris
    </div>
    <div class="to-left recipe-head">
      <p>Cuisson</p>
      <%= f.text_field :baking, class: "basic-field", placeholder: " " %>
      <p>Notes</p>
      <%= f.text_area :note, class: "basic-field", placeholder: " " %>
      <br/>
    </div>
    <div class="align-right">
      <%= f.submit "ENREGISTRER", class: "auto-btn cta-btn" %>
    </div>
    </div>
  <% end %>
</div>
