    <div class="q-forms">
      <div class="clcl-choice">
        <p class="grey-btn hide white-cat tab">
    			<%= image_tag "little-table.png", class: "mini-img", alt: "tableau" %> TABLEAU DE CALCULS
    		</p>
        <p class="grey-btn hide white-cat tab" style="display:none;">
    			<%= image_tag "measure.png", class: "mini-img", alt: "tableau" %> CALCUL DE PRODUCTION
    		</p>
      </div>
      <div class="q-f1">
        <%= form_for(recipe, remote: true) do |f| %>
        <div class="qt-bck">
          <div class="prod-quantities">
            <h3>Quelle quantité produire ?</h3>
            <div class="clcl-mode">
              <div class="lfrd">
                <%= f.radio_button 'fast', true, id: "rad6" %>
                <label for="rad6" class="trigger2 lft-rd hide-meas" data-rel="tru">simple</label>
              </div>
              <div>
                <%= f.radio_button 'fast', false, id: "rad7" %>
                <label for="rad7" class="trigger2 rgt-rd hide-meas" data-rel="fal">stocks</label>
              </div>
            </div>
            <br/>
            <div class="tru content2 composition-info" style="<% if !recipe.fast %>display:none;<% end %>">
              <p>À produire</p>
            </div>
            <div class="tru content2 composition" style="<% if !recipe.fast %>display:none;<% end %>">
              <%= image_tag "hand.png", class: "field-img" %>
              <%= f.text_field :to_produce, class: "basic-field top-rad rounded-field hide-meas", placeholder:"Quantité..." %>
            </div>
            <div class="fal content2 composition-info" style="<% if recipe.fast %>display:none;<% end %>">
              <p>Stock</p>
              <p>À vendre</p>
            </div>
            <div class="fal content2 composition" style="<% if recipe.fast %>display:none;<% end %>">
              <%= image_tag "stock.png", class: "field-img" %>
              <%= f.text_field :stock, class: "basic-field top-rad hide-meas", placeholder:"Quantité..." %>
              <%= image_tag "sold.png", class: "field-img" %>
              <%= f.text_field :sold, class: "basic-field bot-rad special-top hide-meas", placeholder:"Quantité..." %>
            </div>
            <br/><br/>
            <div class="basic-field rounded-field meas-env">
              <%= image_tag "measure.png", class: "field-img2 up-img" %>
              Unité de mesure : <%= recipe.unit %>
              <span class="grey-btn pop-on">
        			     <%= image_tag "pencil.png", class: "mini-img", alt: "tableau" %> Modifier
          		</span>
            </div>
            <%= f.submit "CALCULER", class: "standard-btn grey-btn ingredient-btn fl-rgt" %>
          </div>
        </div>
        <div id="circleG" class="loading-indicator" style="display:none;">
          <br/><br/>
        	<div id="circleG_1" class="circleG"></div>
        	<div id="circleG_2" class="circleG"></div>
        	<div id="circleG_3" class="circleG"></div>
        </div>
        <div class="prod-quantities prod-quantities2 ajax-hide" >
          <div class="dl-cntnr">
            <%= link_to quantities_pdf_recipe_path(format: :pdf), target: '_blank' do %>
              <%= image_tag "download.png", alt:"doc pdf" %>
            <% end %>
            <%= link_to d_quantities_pdf_recipe_path(format: :pdf), target: "_blank" do %>
              <%= image_tag "pdf.png", alt:"doc pdf" %>
            <% end %>
              <%= image_tag "sendemail.png", alt:"doc pdf" %>
          </div>
          <h3>Recette pour <%= recipe.to_product %> <%= recipe.unit %> <%= recipe.to_details %></h3>
          <div class="recipe-values">
            <div class="nth-ttl">
              <b><div class="r-q-name">Ingrédient</div>
              <div class="r-q-name2">Quantité</div>
              <div class="r-q-name2 r-q-name3">Unité</div></b>
            </div><br/>
            <% recipe.quantities.each do |q| %>
              <div class="nth-chld">
                <div class="r-q-name"><%= q.ingredient.name %></div>
                <div class="r-q-name2"><%= q.perfect_weight %></div>
                <div class="r-q-name2 r-q-name3"><%= weighing_quantities(q.ingredient, recipe) %></div>
              </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="q-f2" style="display:none;">
        <%= form_for(recipe, remote: true) do |f| %>
          <div class="quant-fields-cntnr">
            <h3>Créer un tableau</h3>
            <div class="ing-ttl-cntnr">INGRÉDIENTS</div>
            <div class="kg-field"><p class='basic-field recipe-comp-sel rounded-field kilo-field'>Recette</p></div>
            <%= f.fields_for :totals, totals do |ff| %>
            <div class="kg-field kg-fields">
              <%= image_tag "kg.png", class: "field-img euro-img" %>
              <span><%= ff.text_field :value, class: 'basic-field recipe-comp-sel rounded-field kilo-field' %></span>
            </div>
            <% end %>
          </div>
          <div class="quant_form">
            <div class="quant-values-cntnr">
              <div class="quant-values-clmn ing-line-cntnr">
                <% recipe.quantities.each do |q| %>
                  <p>
                    <span class="quantities-name"><%= q.ingredient.name %></span>
                    <span class="quantities-num"><%= q.weight.to_i %><%= weighing_unit(q.ingredient) %></span>
                    <span class="quantities-num"><%= (weight_by_kg(q, recipe) * recipe.totals.first.value).to_i %><%= weighing_unit(q.ingredient) %></span>
                    <span class="quantities-num"><%= (weight_by_kg(q, recipe) * recipe.totals.second.value).to_i %><%= weighing_unit(q.ingredient) %></span>
                    <span class="quantities-num"><%= (weight_by_kg(q, recipe) * recipe.totals.third.value).to_i %><%= weighing_unit(q.ingredient) %></span>
                    <span class="quantities-num"><%= (weight_by_kg(q, recipe) * recipe.totals.fourth.value).to_i %><%= weighing_unit(q.ingredient) %></span>
                  </p>
                <% end %>
              </div>
              <br/>
              <%= f.submit "CALCULER", class: "standard-btn grey-btn qtt-btn to-lft-btn" %>
            </div>
            <br/>
          </div>
        <% end %>
      </div>
    </div>
