<div class="quant_form">
  <h1><%= @recipe.name %></h1>
  <%= form_for(@recipe, remote: true) do |f| %>
    <%= f.fields_for :totals, @totals do |ff| %>
      Pour <%= ff.text_field :value, class: 'rounded-field' %>kg :<br/>
    <% end %>
    <%= f.submit "modifier" %>
    <h2>Valeur initiale</h2>
    <% @recipe.quantities.each do |q| %>
      <%= q.ingredient.name %>
      <%= q.weight.to_i %><%= weighing_unit(q.ingredient) %><br/>
    <% end %>
    <h2>Pour 1Kg</h2>
    <% @recipe.quantities.each do |q| %>
      <%= q.ingredient.name %>
      <%= weight_by_kg(q, @recipe) %><%= weighing_unit(q.ingredient) %><br/>
    <% end %>
    <h2>Pour <%= @recipe.totals.first.value %>Kg</h2>
    <% @recipe.quantities.each do |q| %>
      <%= q.ingredient.name %>
      <%= (weight_by_kg(q, @recipe) * @recipe.totals.first.value).to_i %><%= weighing_unit(q.ingredient) %><br/>
    <% end %>
    <h2>Pour <%= @recipe.totals.second.value %>Kg</h2>
    <% @recipe.quantities.each do |q| %>
      <%= q.ingredient.name %>
      <%= (weight_by_kg(q, @recipe) * @recipe.totals.second.value).to_i %><%= weighing_unit(q.ingredient) %><br/>
    <% end %>
    <h2>Pour <%= @recipe.totals.third.value %>Kg</h2>
    <% @recipe.quantities.each do |q| %>
      <%= q.ingredient.name %>
      <%= (weight_by_kg(q, @recipe) * @recipe.totals.third.value).to_i %><%= weighing_unit(q.ingredient) %><br/>
    <% end %>
    <h2>Pour <%= @recipe.totals.fourth.value %>Kg</h2>
    <% @recipe.quantities.each do |q| %>
      <%= q.ingredient.name %>
      <%= (weight_by_kg(q, @recipe) * @recipe.totals.fourth.value).to_i %><%= weighing_unit(q.ingredient) %><br/>
    <% end %>
  <% end %>
</div>
