  <div class="class-helper inline_divs star">
    <% if recipe.category? %>
    	<div class="circle <%= category_color(recipe) %>"></div>
    <% end %>
      <div class="line-cntnr">
        <%= link_to edit_recipe_path(recipe) do %>
          <span class="ing-name float">
            <%= truncate(recipe.name.humanize, length: 25) %>
          </span>
        <% end %>
        <span class="ing-price">
          <span class="ing-img">
            <% if recipe.stared? %><%= image_tag "star-big.png", class: "stared-item" %><% end %>
          </span>
          <span class="ing-img2">
            <% if recipe.loved? %><%= image_tag "heart-smll.png", class: "stared-item2" %><% end %>
          </span>
  			</span>
        <span class="ing-unit">
  				<%= recipe.category %>
  			</span>
        <%= image_tag "delete-sml.png", class: "delete-rcp delete-pop-over delete-tsk-btn delete-down" %>
        <%= image_tag "cancel.png", class: "show-delete remv-delete delete-rcp delete-tsk-btn delete-down", style:"display:none;" %>
        <%= link_to recipe_path(recipe.id), method: :delete, id: "delete-task" do %>
          <%= image_tag "checked-3.png", class: "show-delete delete-rcp delete-tsk-btn delete-down", style:"display:none;" %>
        <% end %>
    </div>
  </div>
