<div class="recipe-btn-cntnr">
  <%= link_to recipe_path(@recipe) do %>
    <p class="recipe-btn current-form" target="0"><%= image_tag"r-f-img1.png", alt: "recipe btn image" %></p>
  <% end %>
  <%= link_to edit_recipe_path(@recipe) do %>
    <p class="recipe-btn" target='1'><%= image_tag"r-f-img2.png", alt: "recipe btn image" %></p>
  <% end %>
  <%= link_to quant_recipe_path(@recipe) do %>
    <p class="recipe-btn" target='2'><%= image_tag"r-f-img3.png", alt: "recipe btn image" %></p>
  <% end %>
  <%= link_to cost_recipe_path(@recipe) do %>
    <p class="recipe-btn" target='3'><%= image_tag"r-f-img4.png", alt: "recipe btn image" %></p>
  <% end %>
  <%= link_to equilibrium_recipe_path(@recipe) do %>
    <p class="recipe-btn" target='4'><%= image_tag"r-f-img5.png", alt: "recipe btn image" %></p>
  <% end %>
  <%= link_to pictures_recipe_path(@recipe) do %>
    <p class="recipe-btn" target='5'><%= image_tag"r-f-img6.png", alt: "recipe btn image" %></p>
  <% end %>
  <%= link_to sticker_recipe_path(@recipe) do %>
    <p class="recipe-btn" target='6'><%= image_tag"r-f-img7.png", alt: "recipe btn image" %></p>
  <% end %>
  <%= link_to stats_recipe_path(@recipe) do %>
    <p class="recipe-btn" target='7'><%= image_tag"r-f-img8.png", alt: "recipe btn image" %></p>
  <% end %>
</div>
