<div class='show_recipe'>
  <h1><%= @recipe.name %></h1>
  Créée par <%= @recipe.owner %><br/>
  <%= @recipe.description %><br/>
  <h3>Composition</h3>
  <% @recipe.quantities.each do |q| %>
    <%= q.ingredient.name + " = " %>
    <%= q.weight %>
    <%= weighing_unit(q.ingredient) %>
    <br/>
  <% end %>
  <%= @recipe.process.html_safe %>
</div>
