<div class="recipe-view">
  <div class="recipe-links">
    <%= link_to edit_recipe_path(@recipe, format: :pdf), target: '_blank' do %>
      <%= image_tag 'download.png' , class: 'small-imgs'%>
    <% end %>
    <%= link_to download_recipe_path(format: :pdf), target: '_blank' do %>
      <%= image_tag 'pdf.png', class: 'small-imgs' %>
    <% end %>
  </div>
  <div class="view-top-l">
    <h1><%= recipe.name.mb_chars.upcase %></h1>
    <div class="recipe-info-cntnr">
      <div class="form-border"></div>
      <div class="recipe-info">
        <h3><%= image_tag "chronometer.png", class: "mini-img" %> PRÉPARATION</h3>
        <p>
          <% if recipe.preparation_minutes? %>
            <%= distance_of_time_in_words(recipe.preparation_minutes.to_i * 60) %>
          <% else %>
            NC
          <% end %>
        </p>
      </div>
      <div class="recipe-info">
        <h3><%= image_tag "chronometer.png", class: "mini-img" %> CUISSON</h3>
        <p>
          <% if recipe.baking_minutes? %>
            <%= Time.at(recipe.baking_minutes.to_i * 60).utc.strftime('%H : %M min') %>
          <% else %>
            NC
          <% end %>
        </p>
      </div>
      <div class="recipe-info">
        <h3>T° CUISSON</h3>
        <p>
          <% if recipe.baking? %>
            <%= recipe.baking %> °C
          <% else %>
            NC
          <% end %>
        </p>
      </div>
      <div class="form-border"></div>
    </div><br/>
    <p><b>Auteur : <%= recipe.owner %></b></p><br/>
    <% if recipe.note? %><b>Notes:</b><p class="note"><%= recipe.note %></p><br/><% end %>
  </div>
  <div class="view-top-r">
    <%= image_tag recipe.image, class: "user-img2" %>
  </div>
  <div class="ing_comp_cntnr">
    <div class="form-border"></div>
    <h3>INGRÉDIENTS</h3><br/>
      <div class="recipe-values">
        <% recipe.quantities.each do |q| %>
          <div class="nth-chld">
            <div class="r-q-name"><%= q.ingredient.name %></div>
            <% if !(q.unit == "QS") %>
              <div class="r-q-name2"><%= q.weight %></div>
              <div class="r-q-name2 r-q-name3"><%= q.unit %></div>
            <% else %>
              <div class="r-q-name2 qs-val"><%= q.unit %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% if recipe.process? %>
    <div class="form-border"></div>
    <h3>INSTRUCTIONS</h3><br/>
    <div class="ing_comp_l">
      <p><%= recipe.process.html_safe %></p>
    </div>
    <% end %>
    <% if !recipe.portion_number.blank? %>
      <div class="form-border"></div>
      <h3>QUANTITÉS</h3><br/>
      <div class="ing_comp_l">
        <p>Recette pour <%= recipe.portion_number %> <%= recipe.portion_name %></p>
      </div>
    <% end %>
  </div>
  <br/><br/>
</div>
