<div class="recipe-view">
  <div class="recipe-links">
    <%= link_to edit_recipe_path(@recipe, format: :pdf), target: '_blank' do %>
      <%= image_tag 'pdf.png' , class: 'small-imgs'%>
    <% end %>
    <%= link_to download_recipe_path(format: :pdf), target: '_blank' do %>
      <%= image_tag 'download.png', class: 'small-imgs' %>
    <% end %>
    <%= link_to pdf_quantities_recipe_path(format: :pdf), target: '_blank' do %>
      <%= image_tag 'download2.png', class: 'small-imgs' %>
    <% end %>
  </div>
  <div class="view-top-l">
    <h1><%= @recipe.name.upcase %></h1>
    <p><%= @recipe.category %> </p>
    <p><b>par <%= @recipe.owner %></b></p><br/>
    <p><%= image_tag "temperature.png", class: "mini-img" %><b> CUISSON : <%= @recipe.baking %> °C</b></p>
    <br/>
    <b>Notes:</b>
    <p class="note"><%= @recipe.note %></p><br/>
  </div>
  <div class="view-top-r">
    <%= image_tag @recipe.image, class: "user-img2" %>
  </div>
  <div class="ing_comp_cntnr">
    <div class="ing_comp_l">
      <h3>Ingrédients</h3><br/>
      <div class="ing-rght">
        <% @recipe.quantities.each do |q| %>
          <p><%= q.weight %> <%= weighing_unit(q.ingredient) %></p>
        <% end %>
      </div>
      <div class="ing-left">
        <% @recipe.quantities.each do |q| %>
          <p><%= q.ingredient.name %></p>
        <% end %>
      </div>
    </div>
    <% unless @recipe.process.blank? %><h3>Instructions</h3><% end %><br/>
    <p><%= @recipe.process.html_safe %></p>
    <span class="clear"></span>
  </div>
</div>
