<div class="recipe-view show-2-cntnr">
  <% if recipe.image.exists? %>
    <div class="show-2-img">
      <%= image_tag recipe.image %>
    </div>
  <% end %>
  <% if @recipe.image_file_name && @recipe.image.exists? %>
    <%= image_tag @recipe.image, class: "user-img2" %>
  <% end %>
  <div class="show-2-wht-bck">
    <h1><%= recipe.name.mb_chars.upcase %></h1>
    <% if recipe.owner? %>
      <div class="show-2-owner"><% if recipe.user.avatar.exists? %><%= image_tag recipe.user.avatar(:small) %><% end %> Par <%= recipe.owner %> | Vue <%= @recipe.impressionist_count %> fois</div>
    <% end %>
    <% if recipe.preparation_minutes? %>
      <h3>PRÉPARATION : <%= distance_of_time_in_words(recipe.preparation_minutes.to_i * 60).upcase %></h3>
    <% end %>
    <% if recipe.baking_minutes? %>
      <h3>CUISSON : <%= Time.at(recipe.baking_minutes.to_i * 60).utc.strftime('%H : %M min') %> <% if recipe.baking? %>- <%= recipe.baking %> °C<% end %></h3>
    <% end %>
  </div>
  <div class="show-2-txt-cntnr">
    <% unless preview_page? %>
      <% if user.company_img.exists? %><%= image_tag user.company_img.url(:medium), class: "comp-img" %><% end %>
    <% end %>
    <br>
    <div class="show-2-ing">
      <h2>INGRÉDIENTS</h2><br/>
      <table>
        <% recipe.quantities.each do |q| %>
          <tr>
              <td class="ing-td">
                <%= link_to ingredient_path(q.ingredient.id), target: '_blank' do %>
                  <%= q.ingredient.name.mb_chars.upcase %>
                <% end %>
                ......................................................................
              </td>
              <% if !(q.unit == "QS") %>
                <td class="rgt-td"><%= q.weight %></div>
                <td><%= q.unit %></td>
              <% else %>
                <td></td>
                <td><%= q.unit %></td>
              <% end %>
            </div>
          </tr>
        <% end %>
        <% recipe.sub_recipes.each do |q| %>
          <tr>
            <td class="ing-td">
              <%= link_to recipe_path(q.sub_id), target: '_blank' do %>
                <%= current_user.recipes.find(q.sub_id).name.mb_chars.upcase %>
              <% end %>
              ......................................................................
            </td>
            <td class="rgt-td"><%= q.weight %></td>
            <td>g</td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="show-2-pro">
      <% if recipe.process? %>
        <h2>INSTRUCTIONS</h2><br>
        <p><%= recipe.process.html_safe %></p>
      <% end %>
      <% if recipe.note? %><br><b> &nbsp;Notes:</b><p><%= recipe.note %></p><br><% end %>
    </div>
  </div>
  <br>
</div>
