<% title "#{@recipe.name.humanize}" %>
<div class="ttl-header recipe-ttl">
	<div class="page-ttl">
    <h1 class="lttl-intro-h1"><%= @recipe.name.humanize %></h1>
		<p class="lft-p">Coût de la recette</p>
  </div>
  <div class="page-ctas">
    <%= link_to recipes_path do %>
      <p class="standard-btn grey-btn ingredient-btn"><%= image_tag "arrow-left.png", class: "btn_arrow" %> INDEX</p>
    <% end %>
	</div>
</div>
<div class="rec-rgt-menu">
	<div class="rgt-area">
		<%= render "recipe_bar" %>
	</div>
</div>
<div class="action-cntnt">
  <div class="actions-cntnr">
    <div class="rec-cntnr">
			<% if @recipe.quantities.blank? %>
				<p>Ajoutez des ingrédients à votre recette pour pouvoir calculer son coût de revient</p>
			<% else %>
			<div class="cost_form cost-val">
				<div class="r-c-cnt blue-bckgrnd">
					<h3>CALCUL PAR QUANTITÉ</h3>
					<%= form_for @recipe do |f| %>
						<div class="cost-qt">
							<div class="cost-qtt">
								<p>Quantité</p>
								<%= f.text_field :to_produce, class: "basic-field top-rad rounded-field hide-meas", placeholder:" " %>
								<div class="basic-field rounded-field meas-env">
		              Unité de mesure : <%= @recipe.unit %>
		              <span class="grey-btn pop-on">
		        			     <%= image_tag "pencil.png", class: "mini-img", alt: "tableau" %> Modifier
		          		</span>
		            </div>
							</div>
							<div class="cost-qtt">
								<div class="r-img-cntnr up-div">
									<p>TVA</p>
					        <p><%= f.radio_button :vat, "20.00%" %> 20,00 %</p>
					        <p><%= f.radio_button :vat, "10.00%", checked: true %> 10,00 %</p>
					        <p><%= f.radio_button :vat, "5.50%" %> 5,50%</p>
					      </div>
								<div class="up-div">
									<p>Coefficient de vente</p>
									<%= f.text_field :coef, class:"basic-field rounded-field", placeholder: " " %>
								</div>
							</div>
							<%= f.submit "CALCULER", class: "auto-btn cta-btn", id: "submit-ing" %>
						</div>
					<% end %>
					<h3>POUR <%= @recipe.to_product %> <%= @recipe.unit.upcase %> <%= @recipe.to_details.upcase %></h3>
				</div>
					<table>
						<tr class="clear-blue-bckgrnd">
							<th>POIDS</th>
							<th>Prix Revient HT</th>
							<th>Prix Vente HT</th>
							<th>TVA (<%= @recipe.vat %>)</th>
							<th>Prix Vente TTC</th>
						</tr>
						<tr>
							<td><b><%= @recipe.to_produce_in_grammes %> g</b></td>
							<td><b><%= number_to_currency @recipe.prht %></b></td>
							<td><b><%= number_to_currency @recipe.pvht %></b></td>
							<td><b><%= number_to_currency @recipe.vat_price %></b></td>
							<td><b><%= number_to_currency @recipe.pvttc %></b></td>
						</tr>
					</table>
			</div>
			<div class="duo-cntnr cost_form">
				<div class="cntnr">
					<div>
						<h3>% RECETTE</h3>
						<canvas id="myChart"></canvas>
					</div>
				</div>
				<div class="cntnr float-right">
					<div>
						<h3>% COÛT MATIÈRES</h3>
						<canvas id="mySecChart"></canvas>
					</div>
				</div>
			</div>
			<div class="cost_form">
					<div class="r-c-cnt blue-bckgrnd">
						<div class="recipe-cost r-c-ttl">
							<p>RECETTE</p>
							<p>POIDS TOTAL</p>
							<p>COÛT MATIÈRES</p>
						</div>
						<div class="recipe-cost">
							<p><%= truncate(@recipe.name.humanize, length: 25) %></p>
							<p><%= to_kilo(@recipe.recipe_weight) %></p>
							<p><%= number_to_currency @recipe.total_cost %></p>
						</div>
					</div>
					<table summary="informations de coûts">
						<tr class="clear-blue-bckgrnd">
							<th>INGRÉDIENT</th>
							<th>POIDS</th>
							<th>UNITÉ</th>
							<th>PRIX/KG</th>
							<th>% RECETTE</th>
							<th>% PRIX</th>
							<th>PRIX/RECETTE</th>
						</tr>
						<% @recipe.quantities.each do |q| %>
							<tr>
								<td><%= truncate(q.ingredient.name.humanize, length: 25) %></td>
								<td><%= q.weight %></td>
								<td><%= q.unit %></td>
								<td><%= number_to_currency q.ingredient.price %></td>
								<td><%= q.percent %> %</td>
								<td><%= q.price_percent %> %</td>
								<td><%= number_to_currency recipe_price(q, @recipe) %></td>
							</tr>
						<% end %>
						<% @recipe.sub_recipes.each do |sb| %>
							<tr>
								<td><%= truncate(sb.current_recipe.name.humanize, length: 25) %></td>
								<td><%= to_kg(sb.weight) %></td>
								<td><%= to_unit(sb.weight) %></td>
								<td><%= number_to_currency sb.current_recipe.kilo_cost %></td>
								<td><%= sb.percent %> %</td>
								<td><%= sb.price_percent %> %</td>
								<td><%= number_to_currency sub_price(sb, @recipe) %></td>
							</tr>
						<% end %>
					</table>
				</div>
    </div>
		<% end %>
</div>
</div>
</div>
</div>
<%= render "quantities_pop", recipe: @recipe %>
<script>
var ctx = document.getElementById("myChart");
var cty = document.getElementById("mySecChart");
var pPercent = <%= raw @price_per %>;
var nameValues = <%= raw @names %>;
var rPercent = <%= raw @recipe_per %>;
var colorsArray = ["#FF6384","#36A2EB","#FFCE56","#EF4836","#663399","#36D7B7","#F89406","#DB0A5B","#446CB3","#BE90D4","#4ECDC4","#F64747","#87D37C","#F9690E","#F22613","#22A7F0"];
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: nameValues,
				datasets: [
        {
            borderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
						backgroundColor: colorsArray,
            data: rPercent
        }
    	]
    },
    options: {
			scaleShowVerticalLines: false,
			legend: false
    }
});
var mySecChart = new Chart(cty, {
    type: 'pie',
    data: {
        labels: nameValues,
				datasets: [
        {
            borderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
						backgroundColor: colorsArray,
            data: pPercent
        }
    	]
    },
    options: {
			scaleShowVerticalLines: false,
			legend: false
    }
});
</script>
