<% title "#{@recipe.name.humanize}" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1"><%= @recipe.name.humanize %></h1>
	</div>
	<%= render "recipe_bar" %>
</div>
<div class="action-cntnt recipe-cntnt">
  <div class="actions-cntnr">
		<%= render "layouts/loading_url" %>
    <div class="rec-cntnr">
			<% if @recipe.quantities.blank? && @recipe.sub_recipes.blank? %>
				<p>Ajoutez des ingrédients à votre recette pour pouvoir calculer son coût de revient</p>
			<% else %>
			<br>
			<div class="recipe-links">
				<p class="tab cyan-bck c-f2btn">
    			<%= image_tag "pie-chart.png", class: "mini-mini-img" %> Statistiques
    		</p>
        <p class="tab cyan-bck c-f1btn" style="display:none;">
    			<%= image_tag "euro2.png", class: "mini-mini-img" %> Calcul de coûts
    		</p>
			</div>
			<%= render "recipes/costs", recipe: @recipe %>
			<div class="c-f2" style="display:none;">
				<div class="cost_form">
					<div class="r-c-cnt blue-bckgrnd">
						<div class="recipe-cost r-c-ttl">
							<p>RECETTE</p>
							<p>POIDS TOTAL</p>
							<p>COÛT MATIÈRES</p>
						</div>
						<div class="recipe-cost">
							<p><%= truncate(@recipe.name.humanize, length: 25) %></p>
							<p><%= to_kilo(@recipe.recipe_weight) %></p>
							<p><%= number_to_currency @recipe.sum_cost %></p>
						</div>
					</div>
					<table summary="informations de coûts">
						<tr class="clear-blue-bckgrnd">
							<th>INGRÉDIENT</th>
							<th>POIDS</th>
							<th>UNITÉ</th>
							<th>PRIX/KG</th>
							<th>% RECETTE</th>
							<th>% PRIX</th>
							<th>PRIX/RECETTE</th>
						</tr>
						<% @recipe.quantities.each do |q| %>
							<tr>
								<td><%= truncate(q.ingredient.name.humanize, length: 25) %></td>
								<td><%= q.weight %></td>
								<td><%= q.unit %></td>
								<td><%= number_to_currency q.ingredient.first_price %></td>
								<td><%= q.percent %> %</td>
								<td><%= q.price_percent %> %</td>
								<td><%= number_to_currency recipe_price(q, @recipe) %></td>
							</tr>
						<% end %>
						<% @recipe.sub_recipes.each do |sb| %>
							<tr>
								<td><%= truncate(sb.current_recipe.name.humanize, length: 25) %></td>
								<td><%= to_kg(sb.weight) %></td>
								<td><%= to_unit(sb.weight) %></td>
								<td><%= number_to_currency sb.current_recipe.kilo_cost %></td>
								<td><%= sb.percent %> %</td>
								<td><%= sb.price_percent %> %</td>
								<td><%= number_to_currency sub_price(sb, @recipe) %></td>
							</tr>
						<% end %>
					</table>
				</div>
				<div class="duo-cntnr cost_form">
					<div class="cntnr">
						<div>
							<h3>% RECETTE</h3>
							<canvas id="myChart"></canvas>
						</div>
					</div>
					<div class="cntnr float-right">
						<div>
							<h3>% COÛT MATIÈRES</h3>
							<canvas id="mySecChart"></canvas>
						</div>
					</div>
				</div>
			</div>
    </div>
		<% end %>
</div>
</div>
</div>
</div>
<%= render "quantities_pop", recipe: @recipe %>
<script>
var ctx = document.getElementById("myChart");
var cty = document.getElementById("mySecChart");
var pPercent = <%= raw @price_per %>;
var nameValues = <%= raw @names %>;
var rPercent = <%= raw @recipe_per %>;
var colorsArray = ["#FF6384","#36A2EB","#FFCE56","#EF4836","#663399","#36D7B7","#F89406","#DB0A5B","#446CB3","#BE90D4","#4ECDC4","#F64747","#87D37C","#F9690E","#F22613","#22A7F0"];
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: nameValues,
				datasets: [
        {
            borderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
						backgroundColor: colorsArray,
            data: rPercent
        }
    	]
    },
    options: {
			scaleShowVerticalLines: false,
			legend: false
    }
});
var mySecChart = new Chart(cty, {
    type: 'pie',
    data: {
        labels: nameValues,
				datasets: [
        {
            borderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
						backgroundColor: colorsArray,
            data: pPercent
        }
    	]
    },
    options: {
			scaleShowVerticalLines: false,
			legend: false
    }
});
</script>
