<% title "#{@recipe.name.humanize}" %>
<div class="ttl-header recipe-ttl">
	<%= render "layouts/ttl_header", title: "#{@recipe.name.humanize}", description:"Coût de la recette" %>
  <div class="page-ctas">
    <%= link_to recipes_path do %>
      <p class="ttl-btn primary-btn"><%= image_tag "arrow-left.png", class: "btn_arrow" %> INDEX</p>
    <% end %>
	</div>
</div>
<div class="rec-rgt-menu">
	<div class="rgt-area">
		<%= render "recipe_bar" %>
	</div>
</div>
<div class="action-cntnt">
  <div class="actions-cntnr">
		<div class="load-url" style="display:none;">
			<div id="circleG" class="circles">
				<br/><br/>
				<div id="circleG_1" class="circleG"></div>
				<div id="circleG_2" class="circleG"></div>
				<div id="circleG_3" class="circleG"></div>
				<br/><br/><br/>
			</div>
		</div>
    <div class="rec-cntnr">
			<% if @recipe.quantities.blank? %>
				<p>Ajoutez des ingrédients à votre recette pour pouvoir calculer son coût de revient</p>
			<% else %>
			<div class="recipe-links">
				<p class="tab cyan-bck">
    			<%= image_tag "pie-chart.png", class: "mini-mini-img" %> Statistiques
    		</p>
        <p class="tab cyan-bck" style="display:none;">
    			<%= image_tag "euro2.png", class: "mini-mini-img" %> Calcul de coûts
    		</p>
			</div>
			<div class="flex-eq c-f1">
				<div class="prod-calculs">
					<h3>Quel coût calculer ?</h3>
					<br/>
					<%= form_for @recipe do |f| %>
						<div class="cost-qt">
							<div class="content2 composition">
								<p>Quantité</p>
								<%= image_tag "hand.png", class: "field-img" %>
								<%= f.text_field :to_produce, class: "basic-field top-rad rounded-field hide-meas", placeholder:"Quantité..." %>
							</div><!-- content2 composition -->
							<br/><br/>
							<div class="basic-field rounded-field meas-env">
								<%= image_tag "measure.png", class: "field-img2 up-img" %>
								Mesure : <%= @recipe.unit %>
								<span class="grey-btn pop-on">
									<%= image_tag "pencil.png", class: "mini-img", alt: "tableau" %> Modifier
								</span>
							</div><!-- basic-field rounded-field meas-env -->
							<br/>
							<div class="content2 composition">
								<p>Coefficient de vente</p>
								<%= image_tag "abacus.png", class: "field-img" %>
								<%= f.text_field :coef, class:"basic-field top-rad rounded-field hide-meas", placeholder: " " %>
							</div><!-- content2 composition -->
							<br/>
							<p>TVA</p>
							<div class="switch-field">
					      <%= f.radio_button :vat, "20.00%", checked: (@recipe.vat == 20.0) %>
					      <label for="switch_3_left">20 %</label>
					      <%= f.radio_button :vat, "10.00%", checked: (@recipe.vat == 10.0 || @recipe.vat.blank?) %>
					      <label for="switch_3_center">10 %</label>
								<%= f.radio_button :vat, "5.50%", checked: (@recipe.vat == 5.5) %>
					      <label for="switch_3_right">5,5 %</label>
					    </div>
							<%= f.submit "CALCULER", class: "primary-btn float-right" %>
						</div><!-- cost-qt -->
					<% end %>
				</div><!-- prod-calculs -->
				<div class="arrow-left"></div>
				<div class="prod-results cost-results">
					<h3>Coût de revient pour <%= @recipe.to_product %> <%= @recipe.unit %> <%= @recipe.to_details %></h3>
					<table>
						<tr>
							<th>POIDS</th>
							<td><%= @recipe.to_produce_in_grammes %> g</td>
						</tr>
						<tr>
							<th>PRIX DE REVIENT HT</th>
							<td><%= number_to_currency @recipe.prht %></td>
						</tr>
						<tr>
							<th>PRIX DE VENTE HT</th>
							<td><%= number_to_currency @recipe.pvht %></td>
						</tr>
						<tr>
							<th>TVA (<%= @recipe.vat %>)</th>
							<td><%= number_to_currency @recipe.vat_price %></td>
						</tr>
						<tr>
							<th>PRIX DE VENTE TTC</th>
							<td><%= number_to_currency @recipe.pvttc %></td>
						</tr>
					</table>
				</div><!-- prod-results -->
			</div><!-- flex-eq c-f -->
			<div class="c-f2" style="display:none;">
				<div class="cost_form">
					<div class="r-c-cnt blue-bckgrnd">
						<div class="recipe-cost r-c-ttl">
							<p>RECETTE</p>
							<p>POIDS TOTAL</p>
							<p>COÛT MATIÈRES</p>
						</div>
						<div class="recipe-cost">
							<p><%= truncate(@recipe.name.humanize, length: 25) %></p>
							<p><%= to_kilo(@recipe.recipe_weight) %></p>
							<p><%= number_to_currency @recipe.total_cost %></p>
						</div>
					</div>
					<table summary="informations de coûts">
						<tr class="clear-blue-bckgrnd">
							<th>INGRÉDIENT</th>
							<th>POIDS</th>
							<th>UNITÉ</th>
							<th>PRIX/KG</th>
							<th>% RECETTE</th>
							<th>% PRIX</th>
							<th>PRIX/RECETTE</th>
						</tr>
						<% @recipe.quantities.each do |q| %>
							<tr>
								<td><%= truncate(q.ingredient.name.humanize, length: 25) %></td>
								<td><%= q.weight %></td>
								<td><%= q.unit %></td>
								<td><%= number_to_currency q.ingredient.price %></td>
								<td><%= q.percent %> %</td>
								<td><%= q.price_percent %> %</td>
								<td><%= number_to_currency recipe_price(q, @recipe) %></td>
							</tr>
						<% end %>
						<% @recipe.sub_recipes.each do |sb| %>
							<tr>
								<td><%= truncate(sb.current_recipe.name.humanize, length: 25) %></td>
								<td><%= to_kg(sb.weight) %></td>
								<td><%= to_unit(sb.weight) %></td>
								<td><%= number_to_currency sb.current_recipe.kilo_cost %></td>
								<td><%= sb.percent %> %</td>
								<td><%= sb.price_percent %> %</td>
								<td><%= number_to_currency sub_price(sb, @recipe) %></td>
							</tr>
						<% end %>
					</table>
				</div>
				<div class="duo-cntnr cost_form">
					<div class="cntnr">
						<div>
							<h3>% RECETTE</h3>
							<canvas id="myChart"></canvas>
						</div>
					</div>
					<div class="cntnr float-right">
						<div>
							<h3>% COÛT MATIÈRES</h3>
							<canvas id="mySecChart"></canvas>
						</div>
					</div>
				</div>
			</div>
    </div>
		<% end %>
</div>
</div>
</div>
</div>
<%= render "quantities_pop", recipe: @recipe %>
<script>
var ctx = document.getElementById("myChart");
var cty = document.getElementById("mySecChart");
var pPercent = <%= raw @price_per %>;
var nameValues = <%= raw @names %>;
var rPercent = <%= raw @recipe_per %>;
var colorsArray = ["#FF6384","#36A2EB","#FFCE56","#EF4836","#663399","#36D7B7","#F89406","#DB0A5B","#446CB3","#BE90D4","#4ECDC4","#F64747","#87D37C","#F9690E","#F22613","#22A7F0"];
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: nameValues,
				datasets: [
        {
            borderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
						backgroundColor: colorsArray,
            data: rPercent
        }
    	]
    },
    options: {
			scaleShowVerticalLines: false,
			legend: false
    }
});
var mySecChart = new Chart(cty, {
    type: 'pie',
    data: {
        labels: nameValues,
				datasets: [
        {
            borderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
						backgroundColor: colorsArray,
            data: pPercent
        }
    	]
    },
    options: {
			scaleShowVerticalLines: false,
			legend: false
    }
});
</script>
