<% title "#{@recipe.name.humanize}" %>
<div class="action-cntnt">
  <div class="actions-cntnr">
      <div class="recipe-btn-cntnr">
        <p class="recipe-btn current-form" target="0"><%= image_tag"r-f-img1.png", alt: "recipe btn image" %></p>
        <p class="recipe-btn" target='1'><%= image_tag"r-f-img2.png", alt: "recipe btn image" %></p>
        <p class="recipe-btn" target='2'><%= image_tag"r-f-img3.png", alt: "recipe btn image" %></p>
        <p class="recipe-btn" target='3'><%= image_tag"r-f-img4.png", alt: "recipe btn image" %></p>
        <p class="recipe-btn" target='4'><%= image_tag"r-f-img5.png", alt: "recipe btn image" %></p>
        <p class="recipe-btn" target='5'><%= image_tag"r-f-img6.png", alt: "recipe btn image" %></p>
        <p class="recipe-btn" target='6'><%= image_tag"r-f-img7.png", alt: "recipe btn image" %></p>
        <p class="recipe-btn" target='7'><%= image_tag"r-f-img8.png", alt: "recipe btn image" %></p>
      </div>
        <div class="action-cntnr page-new-ttl recipe-forms">
        <br/>
        <div>
        <!-- RECIPE SHOW CODE -->
        <div id="div0" class="recipe-option">
              <%= render "show", recipe: @recipe, cache: true %>
        </div>
        <!-- RECIPE FORM CODE -->
        <div id="div1" class="recipe-option" style="display:none;">
          <%= render "form", recipe: @recipe, cache: true %>
        </div>
        <!-- RECIPE QUANTITIES CODE -->
        <div id="div2" class="recipe-option" style="display:none;">
          <% if current_user.basic_user? %>
            <p>Choisissez l'offre PRO ou ENTREPRISE et profitez de cette fonctionnalité !</p>
            <%= link_to subscriptions_path do %>
              <p class="auto-btn cta-btn">+ S'ABONNER</p>
            <% end %>
          <% else %>
            <% if @recipe.quantities.blank? %>
              <p>Ajoutez des ingrédients à votre recette pour pouvoir calculer les quantités</p>
            <% else %>
              <%= render "quantities_form", recipe: @recipe, totals: @totals, cache: true %>
            <% end %>
          <% end %>
        </div>
        <!-- RECIPE EQUILIBRIUM CODE -->
        <div id="div3" class="recipe-option" style="display:none;">
          <h2>ÉQUILIBRE</h2>
          <%= render "equilibrium_form", recipe: @recipe, cache: true %>
        </div>
        <!-- RECIPE COST CODE -->
        <div id="div4" class="recipe-option" style="display:none;">
          <h2>COÛT DE REVIENT</h2>
          <% if current_user.basic_user? %>
            <p>Choisissez l'offre PRO ou ENTREPRISE et profitez de cette fonctionnalité !</p>
            <%= link_to subscriptions_path do %>
              <p class="auto-btn cta-btn">+ S'ABONNER</p>
            <% end %>
          <% else %>
            <%= render "cost_form", recipe: @recipe, cache: true %>
          <% end %>
        </div>
        <!-- RECIPE PICTURES CODE -->
        <div id="div5" class="recipe-option" style="display:none;">
          <% if current_user.business_user? %>
          <%= render "pictures_form", recipe: @recipe, cache: true %>
          <% else %>
            <p>Choisissez l'offre ENTREPRISE et profitez de cette fonctionnalité !</p>
            <%= link_to subscriptions_path do %>
              <p class="auto-btn cta-btn">+ S'ABONNER</p>
            <% end %>
          <% end %>
        </div>
        <!-- RECIPE STICKERS CODE -->
        <div id="div6" class="recipe-option" style="display:none;">
          <h2>ÉTIQUETTES</h2>
          <%= render "sticker", recipe: @recipe, cache: true %>
        </div>
        <!-- RECIPE METRICS CODE -->
        <div id="div7" class="recipe-option" style="display:none;">
          <h2>STATISTIQUES</h2>
          <%= render "stats", recipe: @recipe, cache: true %>
        </div>
    	</div>
    </div>
  </div>
</div>
  <div class="select-measure popover-bck popover-new" style="display:none;">
    <div class="popover popover-big">
      <div class="popover-ttl">
        <h3><%= image_tag "feat-img1.png", class: "mini-img" %> Créer un nouvel ingrédient</h3>
      </div>
      <div class="popover-cnt">
        <div id="circleG" class="loading-indicator" style="display:none;">
          <br/><br/>
          <div id="circleG_1" class="circleG"></div>
          <div id="circleG_2" class="circleG"></div>
          <div id="circleG_3" class="circleG"></div>
          <br/><br/><br/>
        </div>
        <%= render "ingredients/quick_form", ingredient: @ingredient, categories: @categories %>
      </div>
    </div>
  </div>
  <%= form_for(@recipe, remote: true) do |f| %>
    <div class="select-measure popover-bck pop-qt" style="display:none;">
      <div class="popover">
        <div class="popover-ttl">
          <h3><%= image_tag "width.png", class: "mini-img" %> Quelle mesure utiliser ?</h3>
        </div>
        <div id="circleG" class="loading-indicator" style="display:none;">
          <br/><br/>
          <div id="circleG_1" class="circleG"></div>
          <div id="circleG_2" class="circleG"></div>
          <div id="circleG_3" class="circleG"></div>
          <br/><br/><br/>
        </div>
        <div class="popover-cntnt ajax-hide">
          <div class="slct-measure">
            <%= f.radio_button 'unit', "grammes", id: "rad1" %>
            <label for="rad1" class="first trigger"><%= image_tag "weighing.png", class: "mini-img" %>grammes</label>
            <%= f.radio_button 'unit', "kilogrammes", id: "rad2" %>
            <label for="rad2" class="trigger"><%= image_tag "weighing.png", class: "mini-img" %>kilogrammes</label>
            <%= f.radio_button 'unit', "parts", id: "rad3" %>
            <label for="rad3" class="trigger" data-rel="part"><%= image_tag "weighing.png", class: "mini-img" %>parts</label>
            <%= f.radio_button 'unit', "recettes", id: "rad4" %>
            <label for="rad4" class="trigger" data-rel="recipe"><%= image_tag "weighing.png", class: "mini-img" %>recettes</label>
            <%= f.radio_button 'unit', "#{@recipe.personnalized}", id: "rad5" %>
            <label for="rad5" class="trigger last" data-rel="perso"><%= image_tag "weighing.png", class: "mini-img" %><%= @recipe.personnalized %></label>
            <br/>
            <div class="part content <% if @recipe.unit == "parts" %>show<% end %>">
              <div class="composition-info">
                <p>Poids/Part</p>
              </div>
              <div class="composition">
                <%= image_tag "gramme.png", class: "field-img euro-img" %>
                <%= f.text_field :portion_weight, class: "basic-field rounded-field", placeholder:"Poids..." %>
              </div>
            </div>
            <div class="recipe content <% if @recipe.unit == "recettes" %>show<% end %>">
              <div class="composition-info">
                <p>Poids/Recette</p>
              </div>
              <div class="composition">
                <%= f.fields_for :totals, @recipe.totals.first do |ff| %>
                  <%= image_tag "kg.png", class: "field-img euro-img" %>
                  <span><%= ff.text_field :value, class: 'basic-field rounded-field' %></span>
                <% end %>
              </div>
            </div>
            <div class="perso content <% if @recipe.unit == "#{@recipe.personnalized}" %>show<% end %>">
              <div class="composition-info">
                <p>Nom</p>
                <p>Poids/Unité</p>
              </div>
              <div class="composition">
                <%= f.text_field :portion_name, class: "basic-field top-rad", placeholder:"Nom...", value: "#{@recipe.personnalized}" %>
                <%= image_tag "gramme.png", class: "field-img euro-img" %>
                <%= f.text_field :portion, class: "basic-field bot-rad special-top", placeholder:"Poids..." %>
              </div>
            </div>
            <br/>
            <%= f.submit "ENREGISTRER", class: "standard-btn grey-btn qtt-btn rgt-btn" %>
            <p class="cancel-btn pop-off">ANNULER</p>
            <br/>
          </div>
        </div>
      </div>
    </div>
  <% end %>
