<% title "#{@recipe.name.humanize}" %>
<div class="ttl-header recipe-ttl">
	<%= render "layouts/ttl_header", title: "#{@recipe.name.humanize}", description:"Équilibre de la recette" %>
  <div class="page-ctas">
    <%= link_to recipes_path do %>
      <p class="primary-btn ttl-btn"><%= image_tag "arrow-left.png", class: "btn_arrow" %> INDEX</p>
    <% end %>
	</div>
</div>
<div class="rec-rgt-menu">
	<div class="rgt-area">
		<%= render "recipe_bar" %>
	</div>
</div>
<div class="action-cntnt">
  <div class="actions-cntnr">
		<%= render "layouts/loading_url" %>
    <div class="rec-cntnr">
<% if current_user.business_user? %>
<div class="recipe_values">
  <% if @recipe.quantities.blank? %>
    <p>Ajoutez des ingrédients à votre recette pour pouvoir l'équilibrer</p>
  <% else %>
	<div class="flex-eq">
	<div class="cost_form cost-val eq-form">
		<div class="r-c-cnt eq-cnt">
      <%= form_for(@recipe, remote: true) do |f| %>
				<%= f.submit "CALCULER", class: "primary-btn flt-rgt" %>
        <p class="select-cat-field">
          ÉQUILIBRE POUR
          <%= f.select :eq_data, ["Ganache", "Glace", "Sorbet"], class: "basic-field special-top" %>
        </p>
		</div>
		<div>
			<% @recipe.quantities.each_with_index do |ingredient, index| %>
				<%= f.fields_for :quantities, ingredient do |ff| %>
					<%= render "add_quantities", ff: ff %>
				<% end %>
			<% end %>
			<%= f.fields_for :sub_recipes do |ff| %>
				<%= render "add_sub_recipes", ff: ff %>
			<% end %>
			<div class="add_field"><%= create_new_field "+ AJOUTER UN INGRÉDIENT", f, :quantities %></div>
			<br/><br/><br/>
		<% end %>
		</div>
		<br/>
	</div>
	<div class="cost_form cost-val eq-bars">
		<h3>Composition</h3>
		<div class="barWrapper">
		 <span class="progressText"><B>EAU</B></span>
		 <div class="progress-percent"><%= @recipe.percentage_of("water_percent").to_i %>%
			 <span><% if is_ganache?(@recipe) %>(MAX 25)<% end %></span>
		 </div>
			<div class="progress">
			  <div class="progress-bar" style="background:<%= water_color(@recipe) %>" aria-valuenow="<%= @recipe.percentage_of("water_percent").to_i %>">
			  </div>
			</div>
		</div>
		<div class="barWrapper">
		 <span class="progressText"><B>MAT. GRASSE</B></span>
		 	<div class="progress-percent"><%= @recipe.percentage_of("fat_percent").to_i %>%
				<span><% if is_ganache?(@recipe) %>(10 - 20)<% end %></span>
			</div>
			<div class="progress">
			  <div class="progress-bar" style="background:<%= fat_color(@recipe) %>" aria-valuenow="<%= @recipe.percentage_of("fat_percent").to_i %>">
			  </div>
			</div>
		</div>
		<div class="barWrapper">
		 <span class="progressText"><B>MAT. SÈCHE</B></span>
		 <div class="progress-percent"><%= @recipe.percentage_of("dry_matter_percent").to_i %>%
			 <span>
				 <% if is_ganache?(@recipe) %>
					 (75 - 82)
				 <% elsif is_ice_cream?(@recipe) %>
					 (37 - 42)
				 <% elsif is_sorbet?(@recipe) %>
					 (29 - 33)
				 <% end %>
			 </span>
		 </div>
			<div class="progress">
			  <div class="progress-bar" style="background:<%= dry_matter_color(@recipe) %>" aria-valuenow="<%= @recipe.percentage_of("dry_matter_percent").to_i %>">
			  </div>
			</div>
		</div>
		<div class="barWrapper">
		 <span class="progressText"><B>SUCRE</B></span>
		 <div class="progress-percent"><%= @recipe.percentage_of("sugar_percent").to_i %>%
			 <span>
				 <% if is_ganache?(@recipe) %>
					 (25 - 30)
				 <% elsif is_ice_cream?(@recipe) %>
					 (14 - 26)
				 <% elsif is_sorbet?(@recipe) %>
					 (18 - 33)
				 <% end %>
			 </span>
		 </div>
			<div class="progress">
			  <div class="progress-bar" style="background:<%= sugar_color(@recipe) %>" aria-valuenow="<%= @recipe.percentage_of("sugar_percent").to_i %>"></div>
			</div>
		</div>
		<div class="barWrapper">
		 <span class="progressText"><B>POUVOIR SUCRANT</B></span>
		 <div class="progress-percent"><%= @recipe.percentage_of("sugar_power").to_i %>%
			 <span>
				 <% if is_ice_cream?(@recipe) %>
					 (16 - 23)
				 <% elsif is_sorbet?(@recipe) %>
					 (25 - 33)
				 <% end %>
			 </span>
		 </div>
			<div class="progress">
			  <div class="progress-bar" style="background:<%= sug_power_color(@recipe) %>" aria-valuenow="<%= @recipe.percentage_of("sugar_power").to_i %>">
			  </div>
			</div>
		</div>
		<% if is_ice_cream?(@recipe) %>
			<div class="barWrapper">
			 <span class="progressText"><B>MAT. GRASSE DU LAIT</B></span>
			 <div class="progress-percent"><%= @recipe.milk_of("fat_percent").to_i %>%
				 <span>(8 - 11)</span>
			 </div>
				<div class="progress">
				  <div class="progress-bar" style="background:<%= milk_fat_color(@recipe) %>" aria-valuenow="<%= @recipe.milk_of("fat_percent").to_i %>">
				  </div>
				</div>
			</div>
			<div class="barWrapper">
			 <span class="progressText"><B>MAT. SÈCHE DU LAIT</B></span>
			 <div class="progress-percent"><%= @recipe.milk_of("dry_matter_percent").to_i %>%
				 <span>(37 - 42)</span>
			 </div>
				<div class="progress">
				  <div class="progress-bar" style="background:<%= milk_est_color(@recipe) %>" aria-valuenow="<%= @recipe.milk_of("dry_matter_percent").to_i %>">
				  </div>
				</div>
			</div>
			<div class="barWrapper">
			 <span class="progressText"><B>MAT. GR & EST DU LAIT</B></span>
			 <div class="progress-percent"><%= @recipe.milk_and_est(@recipe).to_i %>%
				 <span>(16 - 22)</span>
			 </div>
				<div class="progress">
				  <div class="progress-bar" style="background:<%= milk_estmilk_color(@recipe) %>" aria-valuenow="<%= @recipe.milk_and_est(@recipe).to_i %>">
				  </div>
				</div>
			</div>
		<% end %>
		<% if is_ice_cream?(@recipe) || is_sorbet?(@recipe) %>
			<div class="barWrapper">
			 <span class="progressText"><B>STABILISATEUR</B></span>
			 <div class="progress-percent"><%= @recipe.percentage_of("stabilizer").to_i %>%
				 <span>(1)</span>
			 </div>
				<div class="progress">
					<div class="progress-bar" style="background:<%= stab_color(@recipe) %>;" aria-valuenow="<%= @recipe.percentage_of("stabilizer").to_i %>">
					</div>
				</div>
			</div>
		<% end %>
		<% if is_sorbet?(@recipe) %>
		<div class="barWrapper">
		 <span class="progressText"><B>PULPE DE FRUITS</B></span>
		 <div class="progress-percent"><%= @recipe.pulp_percentage.to_i %>%
			 <span>(MIN 25)</span>
		 </div>
			<div class="progress">
				<div class="progress-bar" aria-valuenow="<%= @recipe.pulp_percentage.to_i %>">
				</div>
			</div>
		</div>
		<% end %>
			<div class="barWrapper">
			 <span class="progressText"><B>BEURRE DE CACAO</B></span>
			 <div class="progress-percent"><%= @recipe.percentage_of("cocoa_butter_percent").to_i %>%
				 <span><% if is_ganache?(@recipe) %>(18 - 20)<% end %></span>
			 </div>
				<div class="progress">
					<div class="progress-bar" style="background:<%= cocoa_butter_color(@recipe) %>" aria-valuenow="<%= @recipe.percentage_of("cocoa_butter_percent").to_i %>">
					</div>
				</div>
			</div>
			<div class="barWrapper">
			 <span class="progressText"><B>CACAO</B></span>
			 <div class="progress-percent"><%= @recipe.percentage_of("cocoa_percent").to_i %>%
				 <span>(MAX 25)</span>
			 </div>
				<div class="progress">
					<div class="progress-bar" aria-valuenow="<%= @recipe.percentage_of("cocoa_percent").to_i %>">
					</div>
				</div>
			</div>
		<% if is_ganache?(@recipe) %>
			<div class="barWrapper">
			 <span class="progressText"><B>CACAO TOTAL</B></span>
			 <div class="progress-percent"><%= @recipe.percentage_of("cocoa_total_percent").to_i %>%
				 <span>(MAX 25)</span>
			 </div>
				<div class="progress">
					<div class="progress-bar" aria-valuenow="<%= @recipe.percentage_of("cocoa_total_percent").to_i %>">
					</div>
				</div>
			</div>
		<% end %>
		<br/><br/>
	<% end %>
	</div>
</div>
<% else %>
  <p>Choisissez l'offre ENTREPRISE et profitez de cette fonctionnalité !</p>
  <%= link_to subscriptions_path do %>
    <p class="auto-btn cta-btn">+ S'ABONNER</p>
  <% end %>
<% end %>
</div>
</div>
</div>
</div>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip({trigger: 'manual'}).tooltip('show');
});

// $( window ).scroll(function() {
 // if($( window ).scrollTop() > 10){  // scroll down abit and get the action
  $(".progress-bar").each(function(){
    each_bar_width = $(this).attr('aria-valuenow');
    $(this).width(each_bar_width +'%');
  });

 //  }
// });
</script>
