<% title "Vos recettes" %>
<div class="actions-cntnr">
  <div class="action-cntnr">
    <p id="notice"><%= notice %></p>
    <h1>Vos recettes</h1>
    <div class="paths-cntnr">
      <%= link_to new_recipe_path do %>
        <div class="ingredient-btn">Nouvelle recette</div><br/>
      <% end %>
    </div>
    <div id="paginate">
      <span>Classer par: </span>
        <%= sortable "Nom", "name" %>
        <%= sortable "Étoile", "stared" %>
        <%= sortable "Dernier créé", "created_at" %>
        <%= sortable "Catégorie", "category" %>
        <%= sortable "Dernier modifié", "updated_at" %>
      </br><br/>
      <%= render @recipes %>
    </div>
    <%= will_paginate %>
  </div>
</div>
