<% title "Recettes" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1">Recettes</h1>
		<p class="lft-p">Index des recettes</p>
	</div>
	<div class="page-ctas">
    <%= link_to new_recipe_path do %>
      <p class="standard-btn grey-btn ingredient-btn">+ CRÉER UNE RECETTE</p>
    <% end %>
		<div>
			<p class="sort-show show-sort"><%= image_tag "sort-img.png", class: "mini-img" %></p>
		</div>
		<div>
			<p><%= image_tag "colors.png", class: "mini-img" %></p>
		</div>
	</div>
</div>
<div class="sort-paths">
	<% unless @recipes.blank? %>
		<div class="arrow-container"><div class="arrow-up"></div></div>
		<p>TRIER PAR</p>
		<ul>
			<li><%= sortable "Nom", "name" %></li>
			<li><%= sortable "Date de création", "created_at" %></li>
			<li><%= sortable "Date de modification", "updated_at" %></li>
			<li><%= sortable "Star", "stared" %></li>
			<li><%= sortable "Préférées", "loved" %></li>
		</ul>
	<% end %>
</div>
<div class="sort-ttl-cntnr">
	<div class="list-width">
		<p class="major-td"><%= sortable "NOM", "name" %></p>
		<p class="basic-td">FAVORIS</p>
		<p class="basic-td"><%= sortable "TYPE", "category" %></p>
	</div>
</div>
<div class="action-cntnt action-plus-list">
  <div class="actions-cntnr">
    <div class="hide">
			<div id="circleG" class="loading-indicator" style="display:none;">
				<br/><br/>
				<div id="circleG_1" class="circleG"></div>
				<div id="circleG_2" class="circleG"></div>
				<div id="circleG_3" class="circleG"></div>
			</div>
  			<ul class="list-cntnr ajax-hide">
          <div class="list-width">
  					<li id="sortable1">
  						<% if @recipes.blank? %>
                <br/><br/>
                <%= link_to new_recipe_path do %>
                  <p class="auto-btn cta-btn">CRÉER LA PREMIÈRE RECETTE</p>
                <% end %>
                <div class="explaination-cntnr">
                  <h2>Comment créer une recette ?</h2>
                  <div class="border-btm"></div>
                  <p>Cliquez sur le bouton ci-dessus</p>
                  <div class="border-btm"></div>
                  <p>Remplissez les champs à l'intérieur du formulaire</p>
                </div>
                <br/><br/>
              <% else %>
  							<%= render @recipes, cache: true %>
  						<% end %>
  					</li>
          </div>
  				<div class="ajax-hide"><%= will_paginate %></div>
  				</ul>
  	</div>
  </div>
</div>
