<% title "Recettes" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1">Recettes <% if @category %>de <%= @category.name %><% end %></h1>
		<p class="lft-p"><% if @category %>Recettes de type <%= @category.name %><% else %>Index des recettes<% end %></p>
	</div>
	<div class="page-ctas">
    <%= link_to new_recipe_path do %>
      <p class="primary-btn ttl-btn">+ CRÉER UNE RECETTE</p>
    <% end %>
		<div class="show-sort">
			<p class="sort-show"><%= image_tag "sort-img.png", class: "mini-img" %></p>
		</div>
		<div class="show-sort2">
			<p class="sort-show"><%= image_tag "colors.png", class: "mini-img" %></p>
		</div>
	</div>
</div>
<div class="sort-paths">
	<% unless @recipes.blank? %>
		<div class="arrow-container"><div class="arrow-up"></div></div>
		<p>TRIER PAR</p>
		<ul>
			<li><%= sortable "Nom", "name" %></li>
			<li><%= sortable "Date de création", "created_at" %></li>
			<li><%= sortable "Date de modification", "updated_at" %></li>
			<li><%= sortable "Star", "stared" %></li>
			<li><%= sortable "Préférées", "loved" %></li>
		</ul>
	<% end %>
</div>
<div class="sort-paths2">
		<div class="arrow-container"><div class="arrow-up"></div></div>
		<p>AFFICHER PAR</p>
		<ul>
			<% @categories.each do |category| %>
				<%= link_to recipe_category_recipes_path(category.id) do %><li><%= category.name %></li><% end %>
			<% end %>
		</ul>
</div>
<div class="sort-ttl-cntnr">
	<div class="list-width">
		<p class="major-td"><%= sortable "NOM", "name" %></p>
		<p class="basic-td">FAVORIS</p>
		<p class="basic-td"><%= sortable "TYPE", "category" %></p>
	</div>
</div>
<div class="action-cntnt action-plus-list">
  <div class="actions-cntnr">
    <div class="hide">
			<%= render "layouts/loading" %>
  			<ul class="list-cntnr ajax-hide">
          <div class="list-width">
  					<li id="sortable1">
  						<% if @recipes.blank? %>
                <br/><br/>
                <%= link_to new_recipe_path do %>
                  <p class="primary-btn">CRÉER LA PREMIÈRE RECETTE</p>
                <% end %>
                <div class="explaination-cntnr">
                  <h2>Comment créer une recette ?</h2>
                  <div class="border-btm"></div>
                  <p>Cliquez sur le bouton ci-dessus</p>
                  <div class="border-btm"></div>
                  <p>Remplissez les champs à l'intérieur du formulaire</p>
                </div>
                <br/><br/>
              <% else %>
  							<%= render @recipes, cache: true %>
  						<% end %>
  					</li>
          </div>
  			</ul>
  	</div>
  </div>
	<div class="ajax-hide"><%= will_paginate @ingredients %></div>
</div>
