<% title "#{@recipe.name.humanize}" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1"><%= @recipe.name.humanize %></h1>
	</div>
	<%= render "recipe_bar" %>
</div>
<div class="action-cntnt recipe-cntnt">
  <div class="actions-cntnr">
		<%= render "layouts/loading_url" %>
    <div class="rec-cntnr">
			<h1><%= @recipe.name.mb_chars.upcase %></h1>
    <div class="recipe_pics">
      <%= form_for(@recipe, remote: true) do |f| %>
        <% @recipe.images.each_with_index do |image, index| %>
          <%= f.fields_for :images, image do |ff| %>
            <%= render "add_images", ff: ff, image: image %>
          <% end %>
        <% end %>
        <br/>
				<div class="add-img-cntnr">
	        <div class="add_img"><%= create_new_field "+ AJOUTER UNE IMAGE", f, :images %></div>
	        <%= f.submit "ENREGISTRER", class: "primary-btn" %>
				</div>
      <% end %>
    </div>
  </div>
</div>
