<% title "#{@recipe.name.humanize}" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1"><%= @recipe.name.humanize %></h1>
		<p class="lft-p">Photos de la recette</p>
	</div>
	<div class="page-ctas">
    <%= link_to recipes_path do %>
      <p class="standard-btn grey-btn ingredient-btn"><%= image_tag "arrow-left.png", class: "btn_arrow" %> INDEX</p>
    <% end %>
	</div>
</div>
<div class="action-cntnt">
  <div class="actions-cntnr">
      <%= render "recipe_bar" %>
			<div class="action-cntnr">
    <div class="recipe_pics">
      <%= form_for(@recipe, remote: true) do |f| %>
        <% @recipe.images.each_with_index do |image, index| %>
          <%= f.fields_for :images, image do |ff| %>
            <%= render "add_images", ff: ff, image: image %>
          <% end %>
        <% end %>
        <br/>
        <div class="add_img"><%= create_new_field "+", f, :images %></div>
        <%= f.submit "ENREGISTRER", class: "auto-btn cta-btn" %>
      <% end %>
    </div>
  </div>
</div>
