<% title "#{@recipe.name.humanize}" %>
<div class="ttl-header recipe-ttl">
	<%= render "layouts/ttl_header", title: "#{@recipe.name.humanize}", description:"Photos de la recette" %>
  <div class="page-ctas">
    <%= link_to recipes_path do %>
      <p class="ttl-btn primary-btn"><%= image_tag "arrow-left.png", class: "btn_arrow" %> INDEX</p>
    <% end %>
	</div>
</div>
<div class="rec-rgt-menu">
	<div class="rgt-area">
		<%= render "recipe_bar" %>
	</div>
</div>
<div class="action-cntnt">
  <div class="actions-cntnr">
		<%= render "layouts/loading_url" %>
    <div class="rec-cntnr">
    <div class="recipe_pics">
      <%= form_for(@recipe, remote: true) do |f| %>
        <% @recipe.images.each_with_index do |image, index| %>
          <%= f.fields_for :images, image do |ff| %>
            <%= render "add_images", ff: ff, image: image %>
          <% end %>
        <% end %>
        <br/>
				<div class="add-img-cntnr">
	        <div class="add_img"><%= create_new_field "+ AJOUTER UNE IMAGE", f, :images %></div>
	        <%= f.submit "ENREGISTRER", class: "primary-btn" %>
				</div>
      <% end %>
    </div>
  </div>
</div>
