<% title "#{@recipe.name.humanize}" %>
<% unless signed_in? %>
	<%= render "layouts/welcome_header" %>
<% end %>
<div class="action-cntnt preview-cntnt">
  <div class="actions-cntnr">
		<%= render "layouts/loading_url" %>
    <div class="rec-cntnr">
			<div class="recipe-links">
				<%= link_to edit_recipe_path(@recipe, format: :pdf), target: '_blank' do %>
					<%= image_tag 'pdf.png' , class: 'mini-mini-img'%> Aperçu PDF
				<% end %>
				<% if signed_in? %>
					<a href="#" class="email-sender">
						<%= image_tag 'send-button.png' , class: 'mini-mini-img'%> Partager
					</a>
				<% end %>
			</div><!-- recipe-links -->
			<%= render "recipes/upvote_form", recipe: @recipe, vote: @vote %>
			<%= render "recipes/show", recipe: @recipe, user: @user %>
		</div>
  </div>
</div>
<div class="select-measure popover-bck email-pop" style="display:none;">
	<div class="popover">
		<div class="popover-ttl">
			<h3><%= image_tag "send-button-w.png", class: "mini-mini-img" %> Partager ma recette par email</h3>
		</div>
		<div class="popover-cntnt">
			<%= render "messages/new", recipe: @recipe, user: @user %>
		</div>
	</div>
</div>
