<% title "#{@recipe.name.humanize}" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1"><%= @recipe.name.humanize %></h1>
	</div>
	<%= render "recipe_bar" %>
</div>
<div class="action-cntnt recipe-cntnt">
  <div class="actions-cntnr">
		<%= render "layouts/loading_url" %>
    <div class="rec-cntnr">
			<div class="recipe-links">
				<p class="tab cyan-bck q-f2btn">
    			<%= image_tag "array.png", class: "mini-mini-img" %> Tableau de calculs
    		</p>
        <p class="tab cyan-bck q-f1btn" style="display:none;">
    			<%= image_tag "light-weight.png", class: "mini-mini-img" %> Calcul de production
    		</p>
				<div class="q-f1">
					<%= link_to quantities_pdf_recipe_path(format: :pdf), target: '_blank' do %>
						<%= image_tag 'pdf.png', class: 'mini-mini-img' %> Aperçu PDF
					<% end %>
				</div>
				<div class="q-f2" style="display:none;">
					<%= link_to d_quantities_array_pdf_recipe_path(format: :pdf), target: '_blank' do %>
						<%= image_tag 'pdf2.png' , class: 'mini-mini-img'%> Enregistrer
					<% end %>
					<%= link_to quantities_array_pdf_recipe_path(format: :pdf), target: '_blank' do %>
						<%= image_tag 'pdf.png', class: 'mini-mini-img' %> Aperçu PDF
					<% end %>
				</div>
			</div>
			<!-- forms for one quantity calculs -->
			<%= render "recipes/quantities", recipe: @recipe, first: @first, second: @second, third: @third, fourth: @fourth, totals: @totals %>
			</div><!-- rec-cntnr -->
		</div><!-- actions-cntnr -->
	</div><!-- action-cntnt -->
</div>
<%= render 'quantities_pop', recipe: @recipe %>
