<%= wicked_pdf_stylesheet_link_tag "application.css" -%>
<title><%= @recipe.name %></title>
<% if @user.basic_user? %>
  <div><%= wicked_pdf_image_tag "logo-pdf.png", class: "logo-pdf", alt: "logo pdf" %></div>
<% end %>
<div class="pdf-cntnr">
  <h1><%= @recipe.name.upcase %></h1>
  <h3>Recette pour <%= recipe.to_product %> <%= recipe.unit %> <%= recipe.to_details %></h3>
  <br/><br/>
  <div class="recipe-values">
    <div class="nth-ttl">
      <b><div class="r-q-name">Ingrédient</div>
      <div class="r-q-name2">Quantité</div>
      <div class="r-q-name2 r-q-name3">Unité</div></b>
    </div><br/>
    <% recipe.quantities.each do |q| %>
      <div class="nth-chld">
        <div class="r-q-name"><%= q.ingredient.name %></div>
        <div class="r-q-name2"><%= q.perfect_weight %></div>
        <div class="r-q-name2 r-q-name3"><%= q.perfect_unit %></div>
      </div>
    <% end %>
  </div>
  <% if !@recipe.note.blank? %>
    <h3><%= wicked_pdf_image_tag "title.png", class: "mini-img", alt: "notes" %> NOTES :</h3>
    <p class="recipe-notes"><%= @recipe.note %></p>
  <% end %>
</div>
