<%= wicked_pdf_stylesheet_link_tag "application.css" -%>
<% if @user.basic_user? %>
  <div><%= wicked_pdf_image_tag "logo-pdf.png", class: "logo-pdf", alt: "logo pdf" %></div>
<% end %>
<div class="pdf-cntnr">
  <h1><%= @recipe.name.upcase %></h1>
  <br/>
  <div class="quant_form">
    <div class="quant-values-clmn ing-line-cntnr">
      <div class="nth-ttl">
        <b><div class="r-q-name">Ingrédient</div>
        <div class="r-q-name2 r-q-name4 r-q-base">Base</div>
        <div class="r-q-name2 r-q-name4"><%= recipe.totals.first.value.to_f %> <%= recipe.array_unit %></div>
        <div class="r-q-name2 r-q-name4"><%= recipe.totals.second.value.to_f %> <%= recipe.array_unit %></div>
        <div class="r-q-name2 r-q-name4"><%= recipe.totals.third.value.to_f %> <%= recipe.array_unit %></div>
        <div class="r-q-name2 r-q-name4"><%= recipe.totals.fourth.value.to_f %> <%= recipe.array_unit %></div>
      </b>
      </div><br/>
      <% recipe.quantities.each do |q| %>
        <div class="nth-chld">
          <div class="r-q-name"><%= q.ingredient.name %></div>
          <div class="r-q-name2 r-q-name4"><%= q.weight %><div><%= q.unit %></div></div>
          <div class="r-q-name2 r-q-name4"><%= q.perfect_array(recipe.totals.first.value) %><div><%= q.perfect_array_unit(recipe.totals.first.value) %></div></div>
          <div class="r-q-name2 r-q-name4"><%= q.perfect_array(recipe.totals.second.value) %><div><%= q.perfect_array_unit(recipe.totals.second.value) %></div></div>
          <div class="r-q-name2 r-q-name4"><%= q.perfect_array(recipe.totals.third.value) %><div><%= q.perfect_array_unit(recipe.totals.third.value) %></div></div>
          <div class="r-q-name2 r-q-name4"><%= q.perfect_array(recipe.totals.fourth.value) %><div><%= q.perfect_array_unit(recipe.totals.fourth.value) %></div></div>
        </div>
      <% end %>
    </div>
  </div>
  <% if !@recipe.note.blank? %>
    <h3><%= wicked_pdf_image_tag "title.png", class: "mini-img", alt: "notes" %> NOTES :</h3>
    <p class="recipe-notes"><%= @recipe.note %></p>
  <% end %>
</div>
