<%= wicked_pdf_stylesheet_link_tag "application.css" -%>
<div><%= wicked_pdf_image_tag "logo-pdf.png", class: "logo-pdf", alt: "logo pdf" %></div>
<div class="recipe-view pdf-r-cntnr">
  <div class="view-top-l">
    <h1><%= @recipe.name.mb_chars.upcase %></h1>
    <div class="recipe-info-cntnr">
      <div class="form-border"></div>
      <div class="recipe-info">
        <h3><%= wicked_pdf_image_tag "chronometer.png", class: "mini-img" %> PRÉPARATION</h3>
        <!-- ERROR -->
        <p>
          <% if @recipe.preparation_minutes? %>
            <%= distance_of_time_in_words(@recipe.preparation_minutes.to_i * 60) %>
          <% else %>
            NC
          <% end %>
        </p>
      </div>
      <div class="recipe-info">
        <h3><%= wicked_pdf_image_tag "chronometer.png", class: "mini-img" %> CUISSON</h3>
        <p>
          <% if @recipe.baking_minutes? %>
            <%= distance_of_time_in_words(@recipe.baking_minutes.to_i * 60) %>
          <% else %>
            NC
          <% end %>
        </p>
      </div>
      <!-- END OF ERROR -->
      <div class="recipe-info">
        <h3>T° CUISSON</h3>
        <p>
          <% if @recipe.baking? %>
            <%= @recipe.baking %> °C
          <% else %>
            NC
          <% end %>
        </p>
      </div>
      <div class="form-border"></div>
    </div>
    <p><b>Auteur : <%= @recipe.owner %></b></p>
    <p><b>Notes:</b></p>
    <p class="note"><%= @recipe.note %></p><br/>
  </div>
  <div class="view-top-r">
    <% if @recipe.image_file_name && @recipe.image.exists? %>
      <%= image_tag @recipe.image, class: "user-img2" %>
    <% end %>
  </div>
  <div class="ing_comp_cntnr">
    <div class="form-border"></div>
    <h3>INGRÉDIENTS</h3><br/>
    <div class="recipe-values rec-show">
      <table>
        <% @recipe.quantities.each do |q| %>
          <tr>
              <%= link_to edit_ingredient_path(q.ingredient.id), target: '_blank' do %>
                <td class="ing-td"><%= q.ingredient.name %></td>
              <% end %>
              <% if !(q.unit == "QS") %>
                <td class="rgt-td"><%= q.weight %></div>
                <td><%= q.unit %></td>
              <% else %>
                <td class="rgt-td">&nbsp;</td>
                <td><%= q.unit %></td>
              <% end %>
            </div>
          </tr>
        <% end %>
        <% @recipe.sub_recipes.each do |q| %>
          <tr>
            <%= link_to edit_recipe_path(q.sub_id), target: '_blank' do %>
              <td class="ing-td"><%= current_user.recipes.find(q.sub_id).name %></td>
            <% end %>
            <td class="rgt-td"><%= q.weight %></td>
            <td>g</td>
          </tr>
        <% end %>
      </table>
    <div class="form-border"></div>
    <% if @recipe.process? %><h3>INSTRUCTIONS</h3><% end %><br/>
    <div class="ing_comp_l">
      <p><%= @recipe.process.html_safe %></p>
    </div>
    <% if !recipe.portion_number.blank? %>
      <div class="form-border"></div>
      <h3>QUANTITÉS</h3><br/>
      <div class="ing_comp_l">
        <p>Recette pour <%= recipe.portion_number %> <%= recipe.portion_name %></p>
      </div>
    <% end %>
  </div>
  <br/><br/>
