<% title "#{@recipe.name.humanize}" %>
<div class="ttl-header recipe-ttl">
	<div class="page-ttl">
    <h1 class="lttl-intro-h1"><%= @recipe.name.humanize %></h1>
		<p class="lft-p">Aperçu de la recette</p>
  </div>
  <div class="page-ctas">
    <%= link_to recipes_path do %>
      <p class="standard-btn grey-btn ingredient-btn"><%= image_tag "arrow-left.png", class: "btn_arrow" %> INDEX</p>
    <% end %>
	</div>
</div>
<div class="rec-rgt-menu">
	<div class="rgt-area">
		<%= render "recipe_bar" %>
	</div>
</div>
<div class="action-cntnt">
  <div class="actions-cntnr">
		<div class="load-url" style="display:none;">
			<div id="circleG" class="circles">
				<br/><br/>
				<div id="circleG_1" class="circleG"></div>
				<div id="circleG_2" class="circleG"></div>
				<div id="circleG_3" class="circleG"></div>
				<br/><br/><br/>
			</div>
		</div>
    <div class="rec-cntnr">
			<div class="recipe-links">
				<%= link_to download_recipe_path(format: :pdf), target: '_blank' do %>
					<%= image_tag 'pdf2.png', class: 'mini-mini-img' %> Enregistrer
				<% end %>
				<%= link_to edit_recipe_path(@recipe, format: :pdf), target: '_blank' do %>
					<%= image_tag 'pdf.png' , class: 'mini-mini-img'%> Aperçu PDF
				<% end %>
			</div>
      <div class="recipe-view">
        <div class="view-top-l">
          <h1><%= @recipe.name.mb_chars.upcase %></h1>
          <div class="recipe-info-cntnr">
            <div class="form-border"></div>
            <div class="recipe-info">
              <h3><%= image_tag "chronometer.png", class: "mini-img" %> PRÉPARATION</h3>
              <p>
                <% if @recipe.preparation_minutes? %>
                  <%= distance_of_time_in_words(@recipe.preparation_minutes.to_i * 60) %>
                <% else %>
                  NC
                <% end %>
              </p>
            </div>
            <div class="recipe-info">
              <h3><%= image_tag "chronometer.png", class: "mini-img" %> CUISSON</h3>
              <p>
                <% if @recipe.baking_minutes? %>
                  <%= Time.at(@recipe.baking_minutes.to_i * 60).utc.strftime('%H : %M min') %>
                <% else %>
                  NC
                <% end %>
              </p>
            </div>
            <div class="recipe-info">
              <h3>T° CUISSON</h3>
              <p>
                <% if @recipe.baking? %>
                  <%= @recipe.baking %> °C
                <% else %>
                  NC
                <% end %>
              </p>
            </div>
            <div class="form-border"></div>
          </div><br/>
          <p><b>Auteur : <%= @recipe.owner %></b></p><br/>
          <% if @recipe.note? %><b>Notes:</b><p class="note"><%= @recipe.note %></p><br/><% end %>
        </div>
        <div class="view-top-r">
          <%= image_tag @recipe.image, class: "user-img2" %>
        </div>
        <div class="ing_comp_cntnr">
          <div class="form-border"></div>
          <h3>INGRÉDIENTS</h3><br/>
            <div class="recipe-values">
              <% @recipe.quantities.each do |q| %>
                  <div class="nth-chld">
                    <%= link_to edit_ingredient_path(q.ingredient.id), target: '_blank' do %>
                      <div class="r-q-name"><%= q.ingredient.name %></div>
                    <% end %>
                    <% if !(q.unit == "QS") %>
                      <div class="r-q-name2"><%= q.weight %></div>
                      <div class="r-q-name2 r-q-name3"><%= q.unit %></div>
                    <% else %>
                      <div class="r-q-name2 qs-val"><%= q.unit %></div>
                    <% end %>
                  </div>
              <% end %>
              <% @recipe.sub_recipes.each do |q| %>
                  <div class="nth-chld">
                    <%= link_to edit_recipe_path(q.sub_id), target: '_blank' do %>
                      <div class="r-q-name"><%= current_user.recipes.find(q.sub_id).name %></div>
                    <% end %>
                    <div class="r-q-name2"><%= q.weight %></div>
                    <div class="r-q-name2 r-q-name3">g</div>
                  </div>
              <% end %>
            </div>
          <% if @recipe.process? %>
          <div class="form-border"></div>
          <h3>INSTRUCTIONS</h3><br/>
          <div class="ing_comp_l">
            <p><%= @recipe.process.html_safe %></p>
          </div>
          <% end %>
          <% if !@recipe.portion_number.blank? %>
            <div class="form-border"></div>
            <h3>QUANTITÉS</h3><br/>
            <div class="ing_comp_l">
              <p>Recette pour <%= @recipe.portion_number %> <%= @recipe.portion_name %></p>
            </div>
          <% end %>
        </div>
        <br/><br/>
      </div>
    </div>
  </div>
</div>
