<div class="recipe-view">

  <div class="view-top-l">
    <h1><%= @recipe.name.upcase %></h1>
    <p><%= @recipe.category %> </p>
    <p><b>par <%= @recipe.owner %></b></p><br/>
    <b>Notes:</b>
    <p><%= @recipe.note %></p><br/>
  </div>
  <div class="view-top-r">
  </div>
  <div class="ing_comp_cntnr">
    <div class="ing_comp_l">
      <h3>Ingrédients</h3><br/>
      <div class="ing-rght">
        <% @recipe.quantities.each do |q| %>
          <p><%= q.weight %> <%= weighing_unit(q.ingredient) %></p>
        <% end %>
      </div>
      <div class="ing-left">
        <% @recipe.quantities.each do |q| %>
          <p><%= q.ingredient.name %></p>
        <% end %>
      </div>
    </div>
    <div class="ing_comp_r">
      <h3>Instructions</h3><br/>
      <p><%= @recipe.process.html_safe %></p>
    </div>
  </div>
</div>
