<% title "#{@recipe.name.humanize}" %>
<div class="action-cntnt recipe-cntnt">
	<%= render "recipe_bar" %>
  <div class="actions-cntnr">
		<%= render "layouts/loading_url" %>
    <div class="rec-cntnr">
			<div class="big-case">
				<h3>Composition</h3>
				<div class="lttl-canva"><canvas id="chart4"></canvas></div>
			</div>
			<div class="flex-cases">
				<h3>Nutrition</h3>
				<div class="lttl-canva"><canvas id="chart1"></canvas></div>
			</div>
			<div class="flex-cases">
				<h3>Calories</h3>
				<div class="lttl-canva"><canvas id="chart2"></canvas></div>
			</div>
			<div class="flex-cases">
				<h3>Cacao</h3>
				<div class="lttl-canva"><canvas id="chart3"></canvas></div>
			</div>
		</div><!-- rec-cntnr -->
	</div><!-- actions-cntnr -->
</div><!-- action-cntnt -->
<script>
var c1 = document.getElementById("chart1");
var c2 = document.getElementById("chart2");
var c3 = document.getElementById("chart3");
var c4 = document.getElementById("chart4");
var myRecipeName = "<%= @recipe.name.humanize %>";
var myRecipeCompare = "Valeur indicative pour une recette de type: <%= @recipe.category %>";
var myRecipeValues = [<%= percentage_function("water_percent", "eau", @recipe) %>, <%= percentage_function("dry_matter_percent", "mat. sèche", @recipe) %>, <%= percentage_function("fat_percent", "mat. grasse", @recipe) %>, <%= percentage_function("sugar_percent", "sucre", @recipe) %>, <%= percentage_function("sugar_power", "pouvoir sucrant", @recipe) %>, <%= percentage_function("cocoa_percent", "cacao", @recipe) %>, <%= percentage_function("cocoa_butter_percent", "beurre de cacao", @recipe) %>];
var myRecipeComparedValues = <%= raw compared_values(@recipe) %>;
"Eau", "Mat. sèche", "Mat. grasse", "Sucre", "Pouvoir sucrant", "Cacao", "Beurre de cacao"
var composition = [<%= @recipe.for_100_gram("protein").to_i %>, <%= @recipe.for_100_gram("fat_percent").to_i %>, <%= @recipe.for_100_gram("carbohydrates") %>];
var calories = [<%= @recipe.for_100_gram("kcal").to_i %>, <%= 1000 - @recipe.for_100_gram("kcal").to_i %>];
var cacao = [<%= @recipe.percentage_of("cocoa_butter_percent").to_i %>, <%= @recipe.percentage_of("cocoa_percent").to_i %>, <%= 100 - (@recipe.percentage_of("cocoa_percent").to_i + @recipe.percentage_of("cocoa_butter_percent").to_i) %>];
var colorsArray = ["#FF6384","#36A2EB","#FFCE56","#EF4836","#663399","#36D7B7","#F89406","#DB0A5B","#446CB3","#BE90D4","#4ECDC4","#F64747","#87D37C","#F9690E","#F22613","#22A7F0"];
var chart1 = new Chart(c1, {
    type: 'pie',
    data: {
        labels: ["Protéines (gr)", "Lipides (gr)", "Glucides (gr)"],
				datasets: [
        {
            borderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
						backgroundColor: colorsArray,
            data: composition
        }
    	]
    },
    options: {
			scaleShowVerticalLines: false,
			legend: false
    }
});
var chart2 = new Chart(c2, {
    type: 'pie',
    data: {
        labels: ["Calories (100g)", "Pour 1000 kcal"],
				datasets: [
        {
            borderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
						backgroundColor: ["#FF6384"],
            data: calories
        }
    	]
    },
    options: {
			scaleShowVerticalLines: false,
			legend: false
    }
});
var data = {
    labels: ["Eau", "Mat. sèche", "Mat. grasse", "Sucre", "Pouvoir sucrant", "Cacao", "Beurre de cacao"],
    datasets: [
        {
            label: myRecipeName,
            backgroundColor:  "rgba(215, 56, 62, .2)",
            borderColor: "#FF6384",
            pointBackgroundColor: "#FF6384",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
            data: myRecipeValues
        },
        {
            label: myRecipeCompare,
            backgroundColor: "rgba(38, 56, 170, .2)",
            borderColor: "#36A2EB",
            pointBackgroundColor: "#36A2EB",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(255,99,132,1)",
            data: myRecipeComparedValues
        }
    ]
};
var myRadarChart = new Chart(c4, {
    type: 'radar',
    data: data
});
var chart3 = new Chart(c3, {
    type: 'pie',
    data: {
        labels: ["% Beurre de cacao", "% Masse de cacao", "% Autre"],
				datasets: [
        {
            borderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
						backgroundColor: ["rgb(223,193,113)", "rgb(117,44,26)"],
            data: cacao
        }
    	]
    },
    options: {
			scaleShowVerticalLines: false,
			legend: false
    }
});
</script>
