<% title "#{@recipe.name.humanize}" %>
<div class="ttl-header recipe-ttl">
	<%= render "layouts/ttl_header", title: "#{@recipe.name.humanize}", description:"Statistiques de la recette" %>
  <div class="page-ctas">
    <%= link_to recipes_path do %>
      <p class="ttl-btn primary-btn"><%= image_tag "arrow-left.png", class: "btn_arrow" %> INDEX</p>
    <% end %>
	</div>
</div>
<div class="rec-rgt-menu">
	<div class="rgt-area">
		<%= render "recipe_bar" %>
	</div>
</div>
<div class="action-cntnt">
  <div class="actions-cntnr">
		<div class="load-url" style="display:none;">
			<div id="circleG" class="circles">
				<br/><br/>
				<div id="circleG_1" class="circleG"></div>
				<div id="circleG_2" class="circleG"></div>
				<div id="circleG_3" class="circleG"></div>
				<br/><br/><br/>
			</div>
		</div>
    <div class="rec-cntnr">
			<div class="flex-cases">
				<div class="blue-bckgrnd">
					<h3><%= image_tag "composition.png", class:"mini-img"%> Composition</h3>
				</div>
				<div class="lttl-canva"><canvas id="chart1"></canvas></div>
			</div>
			<div class="flex-cases">
				<div class="blue-bckgrnd">
					<h3><%= image_tag "kcal.png", class:"mini-img"%> Calories</h3>
				</div>
				<div class="lttl-canva"><canvas id="chart2"></canvas></div>
			</div>
			<div class="flex-cases">
				<div class="blue-bckgrnd">
					<h3><%= image_tag "cocoa.png", class:"mini-img"%> Cacao</h3>
				</div>
				<div class="lttl-canva"><canvas id="chart3"></canvas></div>
			</div>
			<div class="flex-cases">
				<div class="blue-bckgrnd">
					<h3><%= image_tag "alcohol.png", class:"mini-img"%> Alcool</h3>
				</div>
				<div class="lttl-canva"><canvas id="chart4"></canvas></div>
			</div>
		</div><!-- rec-cntnr -->
	</div><!-- actions-cntnr -->
</div><!-- action-cntnt -->
<script>
var c1 = document.getElementById("chart1");
var c2 = document.getElementById("chart2");
var c3 = document.getElementById("chart3");
var c4 = document.getElementById("chart4");
var alcohol = [<%= @recipe.percentage_of("alcool_percent").round(2) %>, <%= 100 - @recipe.percentage_of("alcool_percent").to_i %>];
var composition = [<%= @recipe.for_100_gram("protein").to_i %>, <%= @recipe.for_100_gram("fat_percent").to_i %>, <%= @recipe.for_100_gram("carbohydrates") %>];
var calories = [<%= @recipe.for_100_gram("kcal").to_i %>, <%= 1000 - @recipe.for_100_gram("kcal").to_i %>];
var cacao = [<%= @recipe.percentage_of("cocoa_butter_percent").to_i %>, <%= @recipe.percentage_of("cocoa_percent").to_i %>];
var colorsArray = ["#FF6384","#36A2EB","#FFCE56","#EF4836","#663399","#36D7B7","#F89406","#DB0A5B","#446CB3","#BE90D4","#4ECDC4","#F64747","#87D37C","#F9690E","#F22613","#22A7F0"];
var chart4 = new Chart(c4, {
    type: 'pie',
    data: {
        labels: ["% Alcool", "Autre matières"],
				datasets: [
        {
            borderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
						backgroundColor: ["#009999", "grey"],
            data: alcohol
        }
    	]
    },
    options: {
			scaleShowVerticalLines: false,
			legend: false
    }
});
var chart1 = new Chart(c1, {
    type: 'pie',
    data: {
        labels: ["Protéines (gr)", "Lipides (gr)", "Glucides (gr)"],
				datasets: [
        {
            borderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
						backgroundColor: colorsArray,
            data: composition
        }
    	]
    },
    options: {
			scaleShowVerticalLines: false,
			legend: false
    }
});
var chart2 = new Chart(c2, {
    type: 'pie',
    data: {
        labels: ["Calories (100g)", "Pour 1000 kcal"],
				datasets: [
        {
            borderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
						backgroundColor: colorsArray,
            data: calories
        }
    	]
    },
    options: {
			scaleShowVerticalLines: false,
			legend: false
    }
});
var chart3 = new Chart(c3, {
    type: 'pie',
    data: {
        labels: ["% Beurre de cacao", "% Masse de cacao"],
				datasets: [
        {
            borderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
						backgroundColor: ["rgb(223,193,113)", "rgb(117,44,26)"],
            data: cacao
        }
    	]
    },
    options: {
			scaleShowVerticalLines: false,
			legend: false
    }
});
</script>
