<% title "#{@recipe.name.humanize}" %>
<div class="ttl-header recipe-ttl">
	<div class="page-ttl">
    <h1 class="lttl-intro-h1"><%= @recipe.name.humanize %></h1>
		<p class="lft-p">Statistiques de la recette</p>
  </div>
  <div class="page-ctas">
    <%= link_to recipes_path do %>
      <p class="standard-btn grey-btn ingredient-btn"><%= image_tag "arrow-left.png", class: "btn_arrow" %> INDEX</p>
    <% end %>
	</div>
</div>
<div class="rec-rgt-menu">
	<div class="rgt-area">
		<%= render "recipe_bar" %>
	</div>
</div>
<div class="action-cntnt">
  <div class="actions-cntnr">
    <div class="rec-cntnr">
			<div class="flex-cases">
				<div class="blue-bckgrnd">
					<h3><%= image_tag "composition.png", class:"mini-img"%> Composition</h3>
				</div>
				<div><canvas id="chart1"></canvas></div>
			</div>
			<div class="flex-cases">
				<div class="blue-bckgrnd">
					<h3><%= image_tag "kcal.png", class:"mini-img"%> Calories</h3>
				</div>
				<div><canvas id="chart2"></canvas></div>
			</div>
			<div class="flex-cases">
				<div class="blue-bckgrnd">
					<h3><%= image_tag "cocoa.png", class:"mini-img"%> Cacao</h3>
				</div>
				<div><canvas id="chart3"></canvas></div>
			</div>
			<div class="flex-cases">
				<div class="blue-bckgrnd">
					<h3><%= image_tag "alcohol.png", class:"mini-img"%> Alcool</h3>
				</div>
				<div><canvas id="chart4"></canvas></div>
			</div>
		</div><!-- rec-cntnr -->
	</div><!-- actions-cntnr -->
</div><!-- action-cntnt -->
<script>
var c1 = document.getElementById("chart1");
var c2 = document.getElementById("chart2");
var c3 = document.getElementById("chart3");
var c4 = document.getElementById("chart4");
var colorsArray = ["#FF6384","#36A2EB","#FFCE56","#EF4836","#663399","#36D7B7","#F89406","#DB0A5B","#446CB3","#BE90D4","#4ECDC4","#F64747","#87D37C","#F9690E","#F22613","#22A7F0"];
var myChart = new Chart(c1, {
    type: 'pie',
    data: {
        labels: nameValues,
				datasets: [
        {
            borderColor: "#fff",
            pointBackgroundColor: "rgba(179,181,198,1)",
            pointBorderColor: "#fff",
            pointHoverBackgroundColor: "#fff",
            pointHoverBorderColor: "rgba(179,181,198,1)",
						backgroundColor: colorsArray,
            data: rPercent
        }
    	]
    },
    options: {
			scaleShowVerticalLines: false,
			legend: false
    }
});
</script>
