<% title "#{@recipe.name.humanize}" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1"><%= @recipe.name.humanize %></h1>
	</div>
	<%= render "recipe_bar" %>
</div>
<div class="action-cntnt recipe-cntnt">
  <div class="actions-cntnr">
		<%= render "layouts/loading_url" %>
    <div class="rec-cntnr">
			<br>
			<div class="recipe-links">
				<%= link_to sticker_pdf_recipe_path(format: :pdf), target: '_blank' do %>
					<%= image_tag 'barcode.png', class: 'mini-mini-img' %> 62mm x 42mm
				<% end %>
				<%= link_to long_sticker_pdf_recipe_path(format: :pdf), target: '_blank' do %>
					<%= image_tag 'sticker.png', class: 'mini-mini-img' %> 62mm x 42mm
				<% end %>
			</div>
			<div class="flex-eq">
				<div class="cost_form cost-val eq-form stick-form">
					<%= form_for @recipe do |f| %>
						<h3>Quelle conservation et composition ?</h3>
						<div>
							<p>N° de production</p>
							<%= f.text_field :production_number, class:"basic-field rounded-field", placeholder: " " %>
							<div class="st-div">
								<div>
									<p>Date de production</p>
									<%= f.text_field :production_date, class: "basic-field datepicker rounded-field", placeholder: " " %>
								</div>
								<div>
									<p>Conservation <i>(en jours)</i></p>
									<%= f.text_field :consumption_days, class:"basic-field rounded-field", placeholder: " " %>
								</div>
							</div><!-- st-div -->
							<p>Conseils de conservation</p>
							<%= f.text_area :conservation, class:"basic-field rounded-field", placeholder: conservation_tips(@category) %>
						</div><!--   -->
						<h3>Quels allergènes sont présents ?</h3>
						<div>
							<p class="custom-checkbox stari">
							  <%= check_box_tag "recipe[allergen][]", "lait", @recipe.allergen.include?("lait") %>
							  <%= image_tag "milk.png", alt: "checktag", class: "greyscale" %>
							  LAIT
							</p>
							<p class="custom-checkbox stari">
							  <%= check_box_tag "recipe[allergen][]", "fruits à coque", @recipe.allergen.include?("fruits à coque") %>
							  <%= image_tag "nut.png", alt: "checktag", class: "greyscale" %>
							  FRUIT À COQUE
							</p>
							<p class="custom-checkbox stari">
							  <%= check_box_tag "recipe[allergen][]", "arachides", @recipe.allergen.include?("arachides") %>
							  <%= image_tag "peanut.png", alt: "checktag", class: "greyscale" %>
							  ARACHIDE
							</p>
							<p class="custom-checkbox stari">
							  <%= check_box_tag "recipe[allergen][]", "oeuf", @recipe.allergen.include?("oeuf") %>
							  <%= image_tag "egg.png", alt: "checktag", class: "greyscale" %>
							  OEUF
							</p>
							<p class="custom-checkbox stari">
							  <%= check_box_tag "recipe[allergen][]", "soja", @recipe.allergen.include?("soja") %>
							  <%= image_tag "soya.png", alt: "checktag", class: "greyscale" %>
							  SOJA
							</p>
							<p class="custom-checkbox stari">
							  <%= check_box_tag "recipe[allergen][]", "céréales contenant du gluten", @recipe.allergen.include?("céréales contenant du gluten") %>
							  <%= image_tag "wheat2.png", alt: "checktag", class: "greyscale" %>
							  GLUTEN
							</p>
							<p class="custom-checkbox stari">
							  <%= check_box_tag "recipe[allergen][]", "graines de sésame", @recipe.allergen.include?("graines de sésame") %>
							  <%= image_tag "sesame.png", alt: "checktag", class: "greyscale" %>
							  SÉSAME
							</p>
							<p class="custom-checkbox stari">
							  <%= check_box_tag "recipe[allergen][]", "crustacés", @recipe.allergen.include?("crustacés") %>
							  <%= image_tag "crustacea.png", alt: "checktag", class: "greyscale" %>
							  CRUSTACÉ
							</p>
							<p class="custom-checkbox stari">
							  <%= check_box_tag "recipe[allergen][]", "poisson", @recipe.allergen.include?("poisson") %>
							  <%= image_tag "fish.png", alt: "checktag", class: "greyscale" %>
							  POISSON
							</p>
							<p class="custom-checkbox stari">
							  <%= check_box_tag "recipe[allergen][]", "céleri", @recipe.allergen.include?("céleri") %>
							  <%= image_tag "celery.png", alt: "checktag", class: "greyscale" %>
							  CÉLERI
							</p>
						</div><!--   -->
						<h3>Code barre</h3>
						<div>
							<div class="st-div">
								<div>
									<p>N° de code barre</p>
									<i>(12 chiffres sans espaces) </i>
								</div>
								<div>
									<%= f.text_field :bar, class:"basic-field rounded-field", placeholder: " " %>
								</div>
							</div><!-- st-div -->
							<br/>
							<%= f.submit "ENREGISTRER", class: "primary-btn flt-rgt" %>
						</div><!--   -->
					<% end %>
				</div><!-- cost_form cost-val eq-form stick-form -->
				<div class="arrow-left"></div>
				<div class="sticker cost-val eq-form eq-bars">
					<h3>Informations nutritionnelles</h3>
					<div class="composition-table">
					  <table>
					    <tr>
					      <th>Valeurs nutritionnelles pour 100g</th>
					    </tr>
					    <tr>
					      <td>Énergie:</td>
					      <td><%= @recipe.for_100_gram("kcal").to_i %> kcal</td>
					    </tr>
					    <tr>
					      <td>Matières grasses:</td>
					      <td><%= @recipe.for_100_gram("fat_percent").to_i %> g</td>
					    </tr>
					    <tr>
					      <td>Glucides:</td>
					      <td><%= @recipe.for_100_gram("carbohydrates") %> g</td>
					    </tr>
					    <tr>
					      <td>Dont sucre:</td>
					      <td><%= @recipe.for_100_gram("sugar_percent").to_i %> g</td>
					    </tr>
					    <tr>
					      <td>Protéines:</td>
					      <td><%= @recipe.for_100_gram("protein").to_i %> g</td>
					    </tr>
					  </table>
					</div>
					<div>
						<p>INGRÉDIENTS:</p>
						<p class="ingredients">
							<% if @sticker_value %><% @sticker_value.each do |q| %>
						    <% if defined?(q.ingredient) %>
						      <%= q.ingredient.name %>
						    <% else %>
						      <%= q.current_recipe.name %>
						      (<% q.current_recipe.compo.each do |comp| %>
						        <%= comp.ingredient.name %>
						        <% unless comp == q.current_recipe.compo.last %>, <% end %>
						      <% end %>)
						    <% end %>
						    <% if defined?(q.ingredient) && q.ingredient.composition? %> ( <%= q.ingredient.composition %> )<% end %>
						    <% unless q == @sticker_value.last %>,<% end %>
						  <% end %>.<% end %>
						</p><br/>
						<% unless @recipe.allergen.blank? %>
							<p>PRÉSENCE DE:</p>
							<p class="ingredients">
								<%= @recipe.allergen.to_sentence %>
							</p><br/>
						<% end %>
						<% if !@recipe.conservation.blank? %>
							<p>CONSEILS DE CONSERVATION:</p>
							<p class="ingredients">
								<%= @recipe.conservation %>
							</p><br/>
						<% end %>
						<% if !@recipe.production_date.blank? %>
							<p>DÂTE DE FABRICATION:</p>
							<p class="ingredients">
								<%= DateTime.parse(@recipe.production_date).strftime("%d/%m/%Y") %>
							</p><br/>
						<% end %>
						<% if !@recipe.cunsumption_date.blank? %>
							<p>DLC:</p>
							<p class="ingredients">
								<%= @recipe.cunsumption_date %>
							</p><br/>
						<% end %>
						<% if !@recipe.production_number.blank? %>
							<p>N° DE FABRICATION:</p>
							<p class="ingredients">
								<%= @recipe.production_number %>
							</p>
						<% end %>
					</div>
						<% if @barcode && is_barcode?(@recipe.bar) %>
							<div class="bar-tender divs">
								<%= @barcode.to_html.html_safe %>
							</div>
						<% end %>
				</div><!-- cost_form cost-val eq-form eq-bars -->
			</div><!-- .flex-eq -->
		</div><!-- rec-cntnr -->
	</div><!-- actions-cntnr -->
</div><!-- action-cntnt -->
