<% title "Paramètres" %>
<div class="ttl-header">
	<%= render "layouts/ttl_header", title: "Paramètres", description:"Ces informations ne seront pas visibles pour les autres utilisateurs." %>
</div>
<div class="action-cntnt">
	<div class="actions-cntnr">
    <div class="action-cntnr form-cntnr">
			<%= form_for(@user, action: :set_parameters ) do |f| %>
				<p>Thème</p>
				<%= f.radio_button :colors, 1 %>
				<%= f.radio_button :colors, 2 %>
				<%= f.radio_button :colors, 3 %>
				<%= f.radio_button :colors, 4 %>
				<%= f.radio_button :colors, 5 %>
				<%= f.radio_button :colors, 6 %>
				<%= f.radio_button :colors, 7 %>
				<%= f.radio_button :colors, 8 %>
				<%= f.radio_button :colors, 9 %>
				<p>Nom de votre compte</p>
				<%= f.text_field :account_name, class: "field basic-field" %><br/>
				<p>Email</p>
				<%= f.text_field :email, class: "field basic-field" %><br/>
				<p><%= f.submit "ENREGISTRER", class: "primary-btn" %></p>
			<% end %>
		</div>
		<%= link_to supprimer_mon_compte_path do %>Supprimer mon compte<% end %>
	</div>
</div>
