<% title "Paramètres" %>
<div class="ttl-header">
	<%= render "layouts/ttl_header", title: "Paramètres", description:"Ces informations ne seront pas visibles pour les autres utilisateurs." %>
</div>
<div class="action-cntnt">
	<div class="actions-cntnr">
    <div class="action-cntnr form-cntnr">
			<%= form_for(@user, action: :set_parameters ) do |f| %>
				<p>Nom de votre compte</p>
				<%= f.text_field :account_name, class: "field basic-field" %><br/>
				<p>Email</p>
				<%= f.text_field :email, class: "field basic-field" %><br/>
				<p><%= f.submit "ENREGISTRER", class: "primary-btn" %></p>
			<% end %>
		</div>
		<%= link_to supprimer_mon_compte_path do %>Supprimer mon compte<% end %>
	</div>
</div>
