<% title "Informations du compte" %>
<div class="steps-cntnr">
    <div class="step-left-part">
        <%= image_tag "logo-le-labo.jpg", class: "logo-steps" %>
        <h1>Quel est votre nom?</h1>
        <p class="low-txt">Ces informations seront votre signature sur chacune de vos recettes.</p><br/><br/>
        <%= form_for(@user, action: :second_step) do |f| %>
            <%= devise_error_messages! %>
            <p>Vos noms</p>
            <%= image_tag "user.png", class: "field-img2" %>
            <%= f.text_field :name,required: true, autofocus: true, :placeholder => "Nom", class: "img-field basic-field top-field"  %>
            <%= image_tag "user2.png", class: "field-img2" %>
            <%= f.text_field :firstname,required: true, autofocus: true, :placeholder => "Prénom", class: "img-field basic-field bottom-field"%>
            <br/><br/>
            <p>Votre entreprise</p>
            <%= image_tag "company.png", class: "field-img2" %>
            <%= f.text_field :company,required: true, autofocus: true, :placeholder => "Entreprise", class: "img-field basic-field field"  %>
            <br/><br/>
            <%= f.button :submit, class:"primary-btn bef-btn" do %>
                SUIVANT<%= image_tag "arrow-right.png", class: "btn_arrow" %>
            <% end %>
        <% end %>
    </div>
    <div class="step-right-part step-bckgrnd bckgrnd2">
    </div>
</div>
