
<% title "Nouveau mot de passe" %>
<div class="steps-cntnr">
    <div class="step-left-part">
        <%= image_tag "logo-le-labo.jpg", class: "logo-steps" %>
        <h1>Modifier le mot de passe</h1>
        <p class="low-txt">Merci d'entrer votre nouveau mot de passe</p><br/>
        <div class="error_messages">
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <%= image_tag "key.png", class: "field-img2" %>
        <%= f.password_field :password, autofocus: true, placeholder: "Mot de passe", class: "basic-field top-field" %>
        <%= image_tag "key.png", class: "field-img2" %>
        <%= f.password_field :password_confirmation, autofocus: true, placeholder: "Confirmation", class: "basic-field bottom-field" %><br/>
        <%= f.submit "Modifier", class: "primary-btn" %>
      <% end %>
    </div>
    <div class="step-right-part  step-bckgrnd bckgrnd5">
    </div>
</div>
