<div class="partial provider-fields provider-field select-areas">
    <%= image_tag "cargo-truck.png", class: "field-img" %>
    <%= ff.select(:provider_id, current_user.providers.all.order("name ASC").collect { |p| [p.name, p.id] }, include_blank: true, class: "basic-field truck-field") %>
    <%= image_tag "euro-3.png", class: "field-img euro-img" %>
    <%= ff.text_field :price, placeholder: "Prix", class: "basic-field right-field" %>
    <%= ff.hidden_field :_destroy %>
    <%= remove_field "Supprimer", ff %>
</div>
