<%= form_for @ingredient, html: { data_type: "html", id: "clear_form"} do |f| %>
<div class="ing-form-cntnr">
	<div class="basic-ing-info">
		<h3>Informations</h3>
		<p>Nom</p>
		<%= f.text_field :name, class: "basic-field ing-field" %>
		<div class="select-areas">
			<p>Catégorie</p>
			<%= f.select :category, ["Additifs", "Alcools", "Céréales", "Chocolats", "Divers", "Épices", "Fruits", "Fruits secs", "Produits laitiers", "Purées de fruits", "Sucres"], class: "rounded-field basic-field ing-field", include_blank: true %>
			<p>Prix</p>
			<div class="price-field">
				<%= f.text_field :price, placeholder: "Prix", class: "basic-field left-field" %>
				<%= f.select :unit, ["Kg", "Litre"], class: "basic-field" %>
			</div>
		</div>
		<br/>
		<h3>Fournisseur(s)</h3>
		<div class="double-field">
		  <%= f.fields_for :provider_prices do |ff| %>
				<%= render "add_provider_prices", ff: ff %>
			<% end %>
			<div class="add_field"><%= create_new_field "+", f, :provider_prices %></div>
		</div><br/>
	</div>
	<div class="content-ing-info">
		<h3>Composition</h3><br/>
		<div class="composition-info">
			<p>Matière grasse</p>
			<p>Eau</p>
			<p>Sucre</p>
			<p>Pouvoir sucrant</p>
			<p>Alcool</p>
		</div>
		<div class="composition">
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :fat_percent, class: "basic-field top-rad" %>
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :water_percent, class: "basic-field special-top" %>
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :sugar_percent, class: "basic-field special-top" %>
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :sugar_power, class: "basic-field special-top" %>
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :alcool_percent, class: "basic-field special-top bot-rad" %>
		</div>
		<div class="composition-info">
			<p>Matière sèche</p>
			<p>Cacao maigre</p>
			<p>Beurre de cacao</p>
			<p>Cacao total</p>
			<p>Calories /100g</p>
		</div>
		<div class="composition">
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :dry_matter_percent, class: "basic-field top-rad" %>
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :cocoa_percent, class: "basic-field special-top" %>
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :cocoa_butter_percent, class: "basic-field special-top" %>
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :cocoa_total_percent, class: "basic-field special-top" %>
				<%= image_tag "grammes.png", class: "field-img euro-img" %>
				<%= f.text_field :kcal, class: "basic-field special-top bot-rad" %>
		</div>
		<br/><br/>
		<p class="custom-checkbox check-orange"><%= f.check_box :is_glut_free %><span><%= image_tag "correct-symbol.png", alt: "checktag" %></span> Contient du gluten</p>
		<p class="custom-checkbox check-green"><%= f.check_box :is_bio %><span><%= image_tag "correct-symbol.png", alt: "checktag" %></span> Biologique</p>
		<p class="custom-checkbox check-red"><%= f.check_box :is_pulp %><span><%= image_tag "correct-symbol.png", alt: "checktag" %></span> Purée de fruits</p>
	</div>
	<%= f.submit "ENREGISTRER", class: "auto-btn cta-btn" %>
	<%= link_to new_ingredient_path do %>
		<p class="cancel-btn">ANNULER</p>
	<% end %>
</div>
<% end %>
<br/>
