<%= form_for @ingredient, html: { data_type: "html", id: "clear_form"} do |f| %>
	<h3>Nom et catégorie</h3>
	<%= image_tag "file.png", class: "field-img" %>
	<%= f.text_field :name, placeholder: "Nom", class: "basic-field top-field" %>
	<div class="select-areas">
		<%= image_tag "category.png", class: "field-img" %>
		<%= f.select :category, ["Additifs", "Alcools", "Céréales", "Chocolats", "Divers", "Épices", "Fruits", "Fruits secs", "Produits laitiers", "Purées de fruits", "Sucres"], class: "rounded-field basic-field", include_blank: true, placeholder: "catégorie" %>
		<%= f.select :unit, ["Kg", "Litre"], class: "select-field basic-field" %>
	</div>
	<h3>Composition</h3>
	<div class="composition">
		<div>
			<%= image_tag "fat.png", class: "field-img" %>
			<%= f.text_field :fat_percent, class: "basic-field top-rad", placeholder: "Mat.grasse" %>
			<%= image_tag "water.png", class: "field-img" %>
			<%= f.text_field :water_percent, class: "basic-field special-top", placeholder: "Eau" %>
			<%= image_tag "sugar.png", class: "field-img" %>
			<%= f.text_field :sugar_percent, class: "basic-field special-top", placeholder: "Sucre" %>
			<%= image_tag "alcohol.png", class: "field-img" %>
			<%= f.text_field :alcool_percent, class: "basic-field special-top bot-rad", placeholder: "Alcool" %>
		</div>
		<div class="left-compo">
			<%= image_tag "dry.png", class: "field-img" %>
			<%= f.text_field :dry_matter_percent, class: "basic-field top-rad", placeholder: "Mat.sèche" %>
			<%= image_tag "chocolate.png", class: "field-img" %>
			<%= f.text_field :cocoa_percent, class: "basic-field special-top", placeholder: "Cacao maigre" %>
			<%= image_tag "cocoa-butter.png", class: "field-img" %>
			<%= f.text_field :cocoa_butter_percent, class: "basic-field special-top", placeholder: "Beurre de cacao" %>
			<%= image_tag "bowl.png", class: "field-img" %>
			<%= f.text_field :cocoa_total_percent, class: "basic-field special-top bot-rad", placeholder: "Cacao total" %>
			Bio<%= f.check_box :is_bio %><br/>
			Gluten<%= f.check_box :is_glut_free %><br/>
			Pulpe<%= f.check_box :is_pulp %><br/>
		</div>
	</div>
	<div class="select-areas">
		<%= image_tag "calories.png", class: "field-img" %>
		<%= f.text_field :kcal, class: "basic-field special-top bot-rad", placeholder: "Calories" %>
	</div>
	<br/>
	<h3>Fournisseurs et prix</h3>
	<div class="double-field">
	  <%= f.fields_for :provider_prices do |ff| %>
			<%= render "add_provider_prices", ff: ff %>
		<% end %>
	</div><br/>
	<div class="add_field"><%= create_new_field "+", f, :provider_prices %></div>
	<%= f.submit "Enregistrer", class: "btn inside-btn" %>
	<%= link_to new_ingredient_path do %>
		<p class="cancel-btn">Annuler</p>
	<% end %>
<% end %><br/>
