<div class="class-helper inline_divs">
	<% unless ingredient.category.nil? %>
		<div class="circle <%= category_color(ingredient) %>"></div>
	<% end %>
	<%= link_to edit_ingredient_path(ingredient) do %>
		<div class="line-cntnr">
			<span class="ing-name"><%= truncate(ingredient.name.humanize, length: 25) %></span>
			<span class="ing-price">
				<% unless price_is_nil(ingredient) %>
					<%= number_to_currency ingredient.price %></span><span class="ing-unit"><%= ingredient.unit %>
				<% end %>
			</span>
			<%= link_to ingredient_path(ingredient.id), method: :delete, id: "delete-task" do %>
				<%= image_tag "delete-sml.png", class: "delete-tsk-btn delete-down" %>
			<% end %>
		</div>
	<% end %>
 </div>
