<%= form_for ingredient, html: { data_type: "html", id: "clear_form", name:"fform", remote: true } do |f| %>
<div class="ing-form-cntnr">
	<div class="basic-ing-info">
		<div class="b-i-left">
			<h3>Informations générales</h3>
			<br/>
			<div class="composition-info smllcmp">
				<p>*Nom</p><div class="hover-helper">Indiquez le nom de votre ingrédient (cette mention est nécessaire)</div>
				<p>Catégorie</p>
				<p>Prix</p><div class="hover-helper">Utilisé pour calculer le coût de revient de vos recettes</div>
				<p>Marque</p>
			</div>
			<div class="composition big-compo ing-inf">
				<%= f.text_field :name, class: "basic-field top-rad", placeholder: " ", presence: true %><%= image_tag "sort-down-3.png", class: "mini-img sort-ing-arrow2" %>
				<%= f.select(:category, @categories.collect{ |c| c.name } + ["Additifs", "Alcools", "Céréales", "Chocolats", "Divers", "Épices", "Fruits", "Fruits secs", "Produits laitiers", "Purées de fruits", "Sucres"], class: "rounded-field basic-field ing-field", selected: "Divers") %>
				<div class="portion-cntnr cubic">
					<%= image_tag "euro-3.png", class: "field-img-big upper-field-img" %>
					<%= image_tag "ttc.png", class: "field-img-big rght-field-img" %>
					<%= image_tag "sort-down-3.png", class: "mini-img sort-ing-arrow2" %>
					<%= f.text_field :price, placeholder: "Prix", class: "basic-field portion-field", placeholder: " " %>
					<%= f.select :unit, ["Kg", "Litre", "Unité"], class: "basic-field special-top", name: "funit", placeholder: " " %>
				</div>
				<%= f.text_field :brand, class: "basic-field bot-rad uppr-ing", placeholder: " " %>
			</div>
			<h3>TVA</h3>
			<div class="r-img-cntnr up-div">
        <p><%= f.radio_button :vat, "20.00%" %> 20,00 %</p>
        <p><%= f.radio_button :vat, "10.00%", checked: true %> 10,00 %</p>
        <p><%= f.radio_button :vat, "5.50%" %> 5,50%</p>
      </div>
		</div>
		<div class="b-i-right">
			<h3>Poids</h3><br/>
			<div class="composition-info ing-weights">
				<p>Poids net total</p><div class="hover-helper">Poids net total de l'ingrédient</div>
				<p>Poids brut total</p><div class="hover-helper">Poids brut de l'ingrédient</div>
				<p>Nb d'Unités/Produit</p><div class="hover-helper">Nombre d'unité par ingrédient (si plusieurs par emballage)</div>
				<p>Poids par Unité</p>
			</div>
			<div class="composition comp2">
					<%= image_tag "gramme.png", class: "field-img euro-img" %>
					<%= f.text_field :weight, class: "basic-field top-rad", placeholder: " " %>
					<%= image_tag "gramme.png", class: "field-img euro-img" %>
					<%= f.text_field :brut_weight, class: "basic-field special-top", placeholder: " " %>
					<%= f.text_field :unit_quantity, class: "basic-field special-top", placeholder: " " %>
					<%= image_tag "gramme.png", class: "field-img euro-img" %>
					<%= f.text_field :unit_weight, class: "basic-field special-top bot-rad", placeholder: " " %>
			</div>
		</div>
		<p>Composition</p><div class="hover-helper">Si l'objet est composé de plusieurs ingrédients (ex: praliné: "sucre, noisettes, amandes")</div><p>
		<%= f.text_area :composition, class: "basic-field rounded-field uppr-ing", placeholder: " " %>
		<div class="form-border"></div>
	</div>
	<div class="content-ing-info">
		<h3>Valeur nutritionnelle</h3><br/>
		<div class="composition-info">
			<p>Mat. grasse</p><div class="hover-helper">Quantité de Matières grasses en %</div>
			<p>Mat. sèche</p><div class="hover-helper">Quantité de Matières sèches en %</div>
			<p>Eau</p><div class="hover-helper">Quantité d'eau en %</div>
			<p>Sucre</p><div class="hover-helper">Quantité de saccharose en %</div>
			<p>Pouvoir sucrant</p><div class="hover-helper">Pouvoir sucrant (saccharose = 100%)</div>
			<p>Alcool</p><div class="hover-helper">Quantité d'alcool en %</div>
		</div>
		<div class="composition comp2">
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :fat_percent, class: "basic-field top-rad", placeholder: " " %>
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :dry_matter_percent, class: "basic-field special-top", placeholder: " " %>
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :water_percent, class: "basic-field special-top", placeholder: " " %>
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :sugar_percent, class: "basic-field special-top", placeholder: " " %>
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :sugar_power, class: "basic-field special-top", placeholder: " " %>
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :alcool_percent, class: "basic-field special-top bot-rad", placeholder: " " %>
		</div>
		<div class="composition-info">
			<p>Cacao maigre</p><div class="hover-helper">Quantité de pâte de cacao en %</div>
			<p>Beurre de cacao</p><div class="hover-helper">Quantité de beurre de cacao en %</div>
			<p>Cacao total</p><div class="hover-helper">Addition du % de cacao maigre et du % de beurre de cacao</div>
			<p>Protéines /100g</p><div class="hover-helper">Protéines pour 100g</div>
			<p>Glucides /100g</p><div class="hover-helper">Glucides pour 100g</div>
			<p>Indx glycémique</p><div class="hover-helper">Index glycémique</div>
			<p>Calories /100g</p><div class="hover-helper">Nombre de calories pour 100g</div>
		</div>
		<div class="composition comp2">
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :cocoa_percent, class: "basic-field top-rad", placeholder: " " %>
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :cocoa_butter_percent, class: "basic-field special-top", placeholder: " " %>
				<%= image_tag "percent.png", class: "field-img euro-img" %>
				<%= f.text_field :cocoa_total_percent, class: "basic-field special-top", placeholder: " " %>
				<%= f.text_field :protein, class: "basic-field special-top", placeholder: " " %>
				<%= f.text_field :carbohydrates, class: "basic-field special-top", placeholder: " " %>
				<%= f.text_field :ig, class: "basic-field special-top", placeholder: " " %>
				<%= image_tag "grammes.png", class: "field-img euro-img" %>
				<%= f.text_field :kcal, class: "basic-field special-top bot-rad", placeholder: " " %>
		</div>
		<div class="ing-chk-cntnr">
			<p class="custom-checkbox stari">
				<%= f.check_box :is_bio %>
				<%= image_tag "bio-big.png", alt: "checktag", class: "greyscale" %>
				Biologique
			</p>
			<p class="custom-checkbox stari">
				<%= f.check_box :is_glut_free %>
				<%= image_tag "glut-big.png", alt: "checktag", class: "greyscale" %>
				Contient du gluten
			</p>
			<p class="custom-checkbox stari">
				<%= f.check_box :is_pulp %>
				<%= image_tag "fruit-big.png", alt: "checktag", class: "greyscale" %>
				Purée de fruits
			</p>
		</div>
	</div>
	<br/><br/><br/>
	<%= f.submit "ENREGISTRER", class: "standard-btn grey-btn qtt-btn rgt-btn hide-pop" %>
	<p class="cancel-btn pop-off">ANNULER</p>
</div>
<% end %>
<br/>
