<% title "#{@ingredient.name.humanize}" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1"><%= @ingredient.name.humanize %></h1>
		<p class="lft-p">
			<% if @ingredient.to_public %>
				À propos de l'ingrédient
			<% else %>
				Modification de l'ingrédient
			<% end %>
		</p>
	</div>
	<div class="page-ctas">
		<%= link_to ingredients_path do %>
			<p class="standard-btn grey-btn ingredient-btn"><%= image_tag "arrow-left.png", class: "btn_arrow" %> INDEX</p>
		<% end %>
	</div>
</div>
<div class="action-cntnt">
	<div class="actions-cntnr">
		<div class="action-cntnr">
			<% if @ingredient.to_public %>
				<%= render "show", ingredient: @ingredient %>
			<% else %>
				<%= render "form", ingredient: @ingredient %>
			<% end %>
		</div>
	</div>
</div>
