<% title "#{@ingredient.name.humanize}" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1"><%= @ingredient.name.humanize %></h1>
		<p class="lft-p">
			À propos de l'ingrédient
		</p>
	</div>
	<div class="page-ctas">
		<%= link_to ingredients_path do %>
			<p class="white-btn">INDEX</p>
		<% end %>
		<% if @ingredient.to_public %>
			<%= link_to edit_ingredient_path do %>
				<p class="white-btn"><%= image_tag "writing.png", class: "mini-mini-img" %> MODIFIER</p>
			<% end %>
		<% end %>
	</div>
</div>
<div class="action-cntnt">
	<div class="actions-cntnr">
		<div class="action-cntnr">
			<%= render "form", ingredient: @ingredient %>
		</div>
	</div>
</div>
