<% title "Ingrédients" %>
<div class="actions-cntnr">
	<div class="action-cntnr">
		<div class="title-cntnr2">
			<!-- PUT HERE THE HTML CODE FOR SUNSPOT SOLR -->
			<p class="ingredient-btn">Nouvel ingrédient</p><br/>
			<div class="ingredient-form">
			<h3>Nouvel ingrédient</h3><br/>
			<%= render "form" %>
			</div>
			<h3>Tous les ingrédients</h3><br/>
			<div class="ing-cntnr">
			<span>Classer par: </span>
		        <%= sortable "Nom", "name" %>
		        <%= sortable "Dernier créé", "created_at" %>
		        <%= sortable "Catégorie", "category" %>
		        <%= sortable "Dernier modifié", "updated_at" %>
		      </br><br/>
				<ul>
					<li id="sortable1">
						<% unless @ingredients.nil? %>
							<%= render @ingredients%>
						<% end %>
					</li>
					<br/>
					<%= will_paginate %>
				</ul>
			</div>
		</div>
	</div>
</div>
<script>
	$(".ingredient-btn").click(function(){
		$(".ingredient-btn").hide();
		$(".ingredient-form").show();
	});
	$(".cancel-btn").click(function(){
		$(".ingredient-form").hide();
		$(".ingredient-btn").show();
	});
</script>