<% title "Ingrédients" %>
<div class="actions-cntnr">
	<!-- PUT HERE THE HTML CODE FOR SUNSPOT SOLR -->
	<div class="page-new-ttl action-cntnr">
		<h2>INGREDIENTS</h2>
		<p class="standard-btn grey-btn ingredient-btn">+ NOUVEAU</p>
		<div class="ingredient-form">
			<h3>NOUVEAU</h3><br/>
			<%= render "form" %>
		</div>
	</div>
	<br/>
		<div class="ing-cntnr">
			<p class="sort-before"><%= sortable "Nom", "name" %></p>
			<p class="sort-before"><%= sortable "Date de création", "created_at" %></p>
			<p class="sort-before"><%= sortable "Catégorie", "category" %></p>
			<p class="sort-before"><%= sortable "Date de modification", "updated_at" %></p>
			<p class="sort-before"><%= sortable "Biologique", "is_bio" %></p>
			<p class="sort-before"><%= sortable "Sans gluten", "is_glut_free" %></p>
		</div>
				<ul class="list-cntnr">
					<li id="sortable1">
						<% unless @ingredients.nil? %>
							<%= render @ingredients%>
						<% end %>
					</li>
					<%= will_paginate %>
				</ul>
			</div>
</div>
<script>
	$(".ingredient-btn").click(function(){
		$(".ingredient-form").show();
	});
	$(".cancel-btn").click(function(){
		$(".ingredient-form").hide();
	});
</script>
