<% title "#{@ingredient.name.humanize}" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1 underline"><%= @ingredient.name.humanize %></h1>
		<p class="lft-p">
			<span>Créé par</span> <% if @ingredient.to_public? %>le Labo<% else %><%= @user.firstname %> <%= @user.name %><% end %>
			<% if @ingredient.category %> - <%= @ingredient.category.name %><% end %>
		</p>
	</div>
	<div class="page-ctas">
		<%= link_to @ingredients_path do %>
			<p class="white-btn">INDEX</p>
		<% end %>
		<% if !@ingredient.to_public %>
			<%= link_to edit_ingredient_path do %>
				<p class="white-btn"><%= image_tag "writing.png", class: "mini-mini-img" %> MODIFIER</p>
			<% end %>
		<% end %>
	</div>
</div>
<div class="action-cntnt">
	<div class="actions-cntnr">
		<div class="action-cntnr">
      <div class="show-ingredient">
				<div class="show-bio">
          <% if @ingredient.is_bio %><%= image_tag "bio-big.png" %><% end %>
          <% if @ingredient.is_glut_free %><%= image_tag "glut-big.png" %><% end %>
          <% if @ingredient.is_pulp %><%= image_tag "fruit-big.png" %><% end %>
        </div>
				<h3>Informations nutritionnelles</h3>
        <div class="ingredient-values">
          <p><span>Matière grasse</span> <%= number_to_percentage(@ingredient.fat_percent, precision: 0) %></p>
          <p><span>Matière sèche</span> <%= number_to_percentage(@ingredient.dry_matter_percent, precision: 0) %></p>
          <p><span>Eau</span> <%= number_to_percentage(@ingredient.water_percent, precision: 0) %></p>
          <p><span>Sucre</span> <%= number_to_percentage(@ingredient.sugar_percent, precision: 0) %></p>
          <p><span>Pouvoir sucrant</span> <%= number_to_percentage(@ingredient.sugar_power, precision: 0) %></p>
          <p><span>Alcool</span> <%= number_to_percentage(@ingredient.alcool_percent, precision: 0) %></p>
          <p><span>Cacao maigre</span> <%= number_to_percentage(@ingredient.cocoa_percent, precision: 0) %></p>
          <p><span>Beurre de cacao</span> <%= number_to_percentage(@ingredient.cocoa_butter_percent, precision: 0) %></p>
          <p><span>Cacao total</span> <%= number_to_percentage(@ingredient.cocoa_total_percent, precision: 0) %></p>
        </div>
        <div class="ingredient-calories">
          <p>Pour 100 grammes</p>
          <div><span>Lipides</span><br/> <%= @ingredient.fat_percent %> g</div>
          <div><span>Protéines</span><br/> <%= @ingredient.protein %> g</div>
          <div><span>Glucides</span><br/> <%= @ingredient.carbohydrates %> g</div>
          <div><span>Calories</span><br/> <%= @ingredient.kcal.to_i %></div>
          <div><span>I.G</span><br/> <%= @ingredient.ig %></div>
        </div>
        <div class="form-border"></div>
				<h3>Prix d'achat <%= image_tag "warning.png", class: "mini-mini-img info-img" %><i class="information"> le prix d'achat situé le plus haut est utilisé pour calculer le coût de revient des recettes.<br/>Vous pouvez modifier l'ordre en les sélectionnant avec la souris.</i></h3>
				<% unless @ingredient.provider_prices.exists? %><p><span>Par défaut</span> <%= number_to_currency @ingredient.price %>/kg</p><br/><% end %>
        <div class="double-field">
					<div class="sortable">
						<% @prices.each do |price| %>
							<div class="price-info" data-id="<%= price.id %>">
								<p>
									<%= image_tag "square.png", class: "mini-img" %>
									<% if price.provider %>
										<%= price.provider.name %>
									<% end %>
								</p>
								<p><%= number_to_currency price.price %>/<%= price.unit %></p>
								<% unless price.reference.blank? %>Référence:&nbsp; <%= price.reference %></p><% end %>
							</div>
						<% end %>
					</div>
					<div class="form-price">
	          <%= form_for @ingredient do |f| %>
	      		  <%= f.fields_for :provider_prices, @user.provider_prices.new do |ff| %>
							  <%= ff.select(:provider_id, @providers.collect { |p| [p.name, p.id] }, include_blank: true) %>
								<%= image_tag "sort-down-3.png", class: "mini-img sort-ing-arrow" %>
								<%= ff.hidden_field :user_id, value: @user.id %>
								<%= ff.text_field :price, class: "basic-field rounded-field price", placeholder: "* prix", required: true %>
								<div>€ /</div>
							  <%= ff.select(:unit, ["kg", "L"], include_blank: false) %>
								<%= image_tag "sort-down-3.png", class: "mini-img sort-ing-arrow" %>
							  <%= ff.text_field :reference, placeholder: "reference", class: "basic-field rounded-field" %>
								<br/>
								<%= f.submit "ENREGISTRER", class: "primary-btn" %>
								<%= image_tag "delete-sml.png", class: "rem-price" %>
	      			<% end %>
	          <% end %>
					</div>
					<div class="add-price"><%= image_tag "prov-price.png", class: "mini-mini-img" %> Ajouter un prix d'achat...</div>
    		</div>
      </div>
		</div>
	</div>
</div>
