<%= image_tag "logo-big.png", class: "big_header_logo" %><br/>
<%= image_tag "logo-txt", class: "logo-txt" %>
<h1>CRÉEZ LES MEILLEURES PÂTISSERIES</h1>
<h2>1ÈRE PLATE-FORME D'AIDE À LA CRÉATION DE VOS PRODUITS. BIENTÔT.</h2>
<div class="newsletter-container">
	<%= form_for @newsletter, :url => { :controller => "newsletters", :action => "create" } do |f| %>
	  <%= f.text_field :email, :placeholder => "adresse email", :class => "form-control" %>
	  <%= f.submit "M'AVERTIR !", :class => "btn1" %>
	<% end %>
</div>
<p><%= link_to('Se déconnecter', destroy_user_session_path, :method => :delete, :class => "bouton9") %></p>
            </br>