<div class="action-cntnt welcome-cntnt">
	<div class="actions-cntnr">
		<div class="welcome-usr">
			<div class="user-info">
				<div class="w-usr-img">
					<%= link_to modifier_votre_profil_path do %><%= image_tag @user.avatar, class: "rounded-img" %><% end %>
				</div>
				<div class="flag-cntnr">
					<div class="flag-bar"></div>
					<div class="flag-flag">
						<% if @user.country.blank? %>
							<%= image_tag "flags/test.png" %>
						<% else %>
							<%= image_tag "flags/#{@user.country.humanize}.png" %>
						<% end %>
					</div>
				</div>
				<div class="usr-info-txt">
					<h3><%= @user.account_name.humanize %> - <span><%= @user.firstname.humanize %> <%= @user.name.humanize %> </span></h3>
					<p>
						<% if !@user.facebook_link.blank? %>
							<a href="http://<%= @user.facebook_link %>" target="_blank"><%= image_tag "facebook.png", class: "small-img" %></a>
						<% end %>
						<% if !@user.linkedin_link.blank? %>
							<a href="http://<%= @user.linkedin_link %>" target="_blank"><%= image_tag "linkedin.png", class: "small-img" %></a>
						<% end %>
						<% if !@user.instagram_link.blank? %>
							<a href="http://<%= @user.instagram_link %>" target="_blank"><%= image_tag "instagram.png", class: "small-img" %></a>
						<% end %>
						<% if !@user.google_link.blank? %>
							<a href="http://<%= @user.google_link %>" target="_blank"><%= image_tag "google.png", class: "small-img" %></a>
						<% end %>
					</p>
					<p><%= image_tag "shield#{grade_img(grade(@user))}.png", class: "shield-img" %></p>
				</div>
			</div>
		</div><!-- welcome-usr -->
		<% if @user.trial_expired? %>
			<div class="trial-cntnr">Votre période d'essai expire dans <%= @user.remaining_days %> jours <%= image_tag "startup.png", class: "mini-img" %> <%= link_to subscriptions_path do %> Je m'abonne<% end %></div>
		<% elsif user_with_no_subscription(@user) %>
			<div class="trial-cntnr">Découvrez nos formules <%= image_tag "startup.png", class: "mini-img" %> <%= link_to subscriptions_path do %> Je m'abonne<% end %></div>
		<% else %>
			<div class="trial-cntnr">Vous êtes abonné</div>
		<% end %>
		<div class="usr-boxes">
			<div class="boxes">
				<h3><%= @user.recipes.count %></h3>
				<p>Recettes</p>
			</div>
			<div class="boxes">
				<h3><%= @user.ingredients.count %></h3>
				<p>Ingrédients</p>
			</div>
			<div class="boxes">
				<h3><%= @user.staffs.count %></h3>
				<p>Collaborateurs</p>
			</div>
		</div><!-- usr-boxes -->
		<div class="usr-boxes">
			<div class="duo-box no-bck">
				<div class="quadro-box">
					<div class="quadro-child">
						<div>
							<div class="ttl-bck purple-bck">DATE</div>
							<div>
								<p class="date-day"><%= Time.now.strftime("%d") %><p>
							</div>
							<div>
								<p class="date-month"><%= Time.now.strftime("%^b") %><p>
							</div>
						</div>
					</div>
					<div class="quadro-child margin-align purple-bck">
						<div>
							<div class="ttl-bck purple-bck">GRADE</div>
							<div>
								<%= image_tag "fork-and-knife-in-cross.png", class:"flex-img" %>
								<p class="grade"><%= grade(@user).mb_chars.upcase %><p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="duo-box margin-align cyan-bck">
				<div>
					<div class="ttl-bck">NOUVELLES RECETTES</div>
					<p class="nb"><%= @recipes %><p>
					<p>/ 30 DERNIERS JOURS</p>
					<%= image_tag "fakechart.png" %>
				</div>
			</div>
		</div><!-- usr-boxes -->
		<div class="usr-boxes">
			<div class="welc-recipes">
				<h4>VOS DERNIÈRES RECETTES</h4>
				<% @user.recipes.last(5).each do |recipe| %>
					<div class="img-txt-cntnr">
						<%= link_to recipe_path(recipe) do %>
							<div class="img_path">
								<%= image_tag recipe.image %>
								<span class="text-content">
									<div><span><span>VOIR</span></span></div>
								</span>
							</div>
						<% end %>
						<br/>
						<p><%= truncate(recipe.name, length: 22) %></p>
					</div>
				<% end %>
			</div><!-- welc-recipes -->
		</div><!-- usr-boxes -->
	</div><!-- actions-cntnr -->
</div><!-- action-cntnt -->
