<div class="actions-cntnr">
	<div class="action-cntnr">
		<h3>Merci pour votre inscription, l'application sera bientôt disponible.</h3>
		<p>Vous serez averti par email lors de la mise en place des fonctionnalités</p>
	</div>
	<div class="tools-cntnr">
		<h3>Recettes</h3>
		<h5>Lire, créer et classer vos recettes</h5>
		<%= image_tag "recipes.png", class: "tools-img" %>
	</div>
	<div class="tools-cntnr">
		<h3>Ingrédients</h3>
		<h5>Ajouter et modifier des ingrédients</h5>
		<%= image_tag "ingredient.png", class: "tools-img" %>
	</div>
	<div class="tools-cntnr">
		<h3>Équilibrage</h3>
		<h5>Équilibrer et améliorer vos recettes</h5>
		<%= image_tag "equilibrages.png", class: "tools-img" %>
	</div>
	<div class="tools-cntnr">
		<h3>Étape par étape</h3>
		<h5>Organiser la création de vos recettes</h5>
		<%= image_tag "etape.png", class: "tools-img" %>
	</div>
	<%= link_to new_to_do_list_path do %>
		<div class="tools-cntnr">
				<h3>Organisation</h3>
				<h5>Organiser vos journées de production</h5>
				<%= image_tag "organisation.png", class: "tools-img" %>
		</div>
	<% end %>
	<div class="tools-cntnr">
		<h3>Évenements</h3>
		<h5>Préparer les fêtes et évenements</h5>
		<%= image_tag "evenements.png", class: "tools-img" %>
	</div>
</div>

