<% if @user.admin? %>
	<div class="connexion-backgrnd">
		<%= link_to root_path do %><%= image_tag "logo-bird.png", class: "logo-white" %><% end %>
    <h1>User Recipes</h1>
		<% @users.each do |user| %>
			<div class="feedback">
				<h2><%= user.firstname %> <%= user.name %> <i style="font-size:.6em;">(créé le <%= user.created_at.strftime("%d-%m-%Y") %>)</i></h2>
				<% user.recipes.all.each do |recipe| %>
					<p>- <%= recipe.name %><i style="font-size:.8em;">(crée le <%= recipe.created_at.strftime("%d-%m-%Y") %>)</i></p>
				<% end %>
			</div>
		<% end %>
  </div>
<% end %>
