<% title "tarifs" %>
<div class="title-cntnr">
	<h1 class="big-white-h1">Un abonnement sur-mesure</h1>
	<p>Vous pouvez utiliser le Labo gratuitement, aussi longtemps que vous le désirez.</p>
</div>
<div class="plan-cntnr">
	<div class="plan-clr-cntnr">
		<p class="plan-title">BASIC</p>
		<p class="plan-price"><span><b>0</b>€</span></p>
		<p class="plan-type">par utilisateur et par mois<br/></p>
		<p class="plan-btn">votre formule</p><br/>
		<p class="plan-type">plus d'info</p>
		<%= image_tag "arrow-down.png", class: "btn_arrow" %>
	</div>
	<div class="plan-txt-cntnr">
		<p class="colored-p-txt1"><b>BASIC inclus</b></p>
		<p>-Création de vos recettes</p>
		<p>-Ajouts de nouveaux ingrédients</p>
		<p>-Partage sur les réseaux sociaux</p>
		<p>-Aide et support</p>
		<p>-Accès sur tous vos appareils</p>
	</div>
</div>
<div class="plan-cntnr">
	<div class="plan-clr-cntnr plan-color2">
		<p class="plan-title">PRO</p>
		<%= image_tag "soon-banner.png", class: "soon-banner" %>
		<p class="plan-price"><span><b>5</b>,95€</span></p>
		<p class="plan-type">par utilisateur et par mois<br/>sans engagement.</p>
		<p class="plan-btn plan-btn-color1">contactez-nous</p><br/>
		<p class="plan-type">plus d'info</p>
		<%= image_tag "arrow-down.png", class: "btn_arrow" %>
	</div>
	<div class="plan-txt-cntnr">
		<p class="colored-p-txt2"><b>PRO inclus</b><br/>plus toutes les options de BASIC</p>
		<p>-Calcul de vos coûts de revient</p>
		<p>-Aide et support prioritaire</p>
		<p>-Meilleure gestion de vos recettes</p>
		<p>-Gestion des fournisseurs</p>
	</div>
</div>
<div class="plan-cntnr">
	<div class="plan-clr-cntnr plan-color3">
		<p class="plan-title">ENTREPRISE</p>
		<%= image_tag "soon-banner.png", class: "soon-banner" %>
		<p class="plan-price"><span><b>9</b>,95€</span></p>
		<p class="plan-type">par utilisateur et par mois<br/>sans engagement.</p>
		<p class="plan-btn plan-btn-color2">contactez-nous</p><br/>
		<p class="plan-type">plus d'info</p>
		<%= image_tag "arrow-down.png", class: "btn_arrow" %>
	</div>
	<div class="plan-txt-cntnr">
		<p class="colored-p-txt3"><b>ENTREPRISE inclus</b><br/>plus toutes les options de PRO</p>
		<p>-Équilibrage de vos recettes</p>
		<p>-Calculs de la composition de vos recettes</p>
		<p>-Étape par étape</p>
		<p>-Ajout de plusieurs photos à vos recettes</p>
	</div>
</div><br/><br/>
<div class="sale-txt-cntnr">
	<h2 class="big-white-h2">Éssai gratuit</h2>
	<p>Essayez PRO et BUSINESS gratuitement pendant 14 jours</p>
	<i>(formules prochainement disponibles)</i>
</div>
<div class="sale-bckgrnd">
</div>
<div class="sale-txt-cntnr">
	<h2 class="big-white-h2">Commencer à utiliser le Labo gratuitement</h2>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :oauthdelivered, :value => 'true' %>
        <%= f.text_field :email, :placeholder => "Adresse email", class: "basic-field" %>
        <%= f.submit "Bah oui !", class: "btn cta-btn" %>
        <p class='subtxt-white'>Vous êtes déjà inscrit ? <%= link_to new_user_session_path do %><span>Connectez-vous</span><% end %></p>
      <% end %>
</div>
<div class="sale-div-cntnr">
	<div class="feature-cntnr">
		<%= image_tag "feature1.jpg", class: "feature-img", alt: "feature" %>
		<p>Vos données sont en sécurité</p>
		<i>Vos données sont en sécurité et toujours accessibles sur nos serveurs sécurisés.</i>
	</div>
	<div class="feature-cntnr">
		<%= image_tag "feature2.jpg", class: "feature-img", alt: "données sécurisées" %>
		<p>Une équipe à votre écoute</p>
		<i>Nous faisons le maximum pour perfectionner notre logiciel. Si toutefois vous avez un problème, notre équipe est à votre écoute.</i>
	</div>
</div>
