<div id="list-list">
	<% if lists %>
		<ul>
			<li id="sortable2">
				<div class="to-do-default to-do-form" style="display:none;">
					<%= form_for @list do |f| %>
						<h2><%= f.text_field :title, placeholder: "Titre", required: true, class: "basic-field no-border-field"  %></h2>
						<%=	f.text_area :description, placeholder: "Description", class: "basic-field no-border-field" %>
						<%= f.hidden_field :user_id, value: @user.id %>
						<br/>
						<%= f.submit "AJOUTER LA LISTE", class: "btn inside-btn" %>
						<p class="cancel-btn">Annuler</p>
					<% end %>
				</div>
				<% lists.each do |list| %>
					<%= link_to list do %>
						<div class="to-do-cards to-do-default" data-id="<%= list.id %>">
							<% if list.all_done %>
							  <%= image_tag 'clipboard.png', class: "tasks-cmplt2" %>
							<% end %>
							<h2><%= truncate(list.title.upcase, length: 25) %></h2>
							<% if list.all_done %>
								<span class="tasks-count white-count">
										<%= image_tag "checked-icn2.png", class: "smll-icn" %>&nbsp;<%= list.done_count %> / <%= list.total_tasks %>
								</span><br/>
							<% else %>
								<span class="tasks-count">
										<%= image_tag "checked-icn.png", class: "smll-icn" %>&nbsp;<%= list.done_count %> / <%= list.total_tasks %>
								</span><br/>
							<% end %>
							<div>
								<% list.tasks.take(6).each do |t| %>
									<p class="fake-cntnr">
								 		<% if t.done %><span class="fake-checkbox"><%= image_tag "chec.png" %></span><% else %><span class="fake-checkbox"></span><% end %>
								 		<span class="fake-task"><%= truncate(t.name) %></span>
									</p>
								<% end %>
							 	</p>
							 	<p class="fake-task">...</p>
							 	<br/>
							</div>
							<div class="float-right">&nbsp;<%= link_to "SUPPRIMER", to_do_list_path(list), method: :delete, class: "delte-list" %></div>
						</div>
					<% end %>
				<% end %>
			</li>
		</ul>
	<% end %>
</div>
