<% title "Vos to-do listes" %>
<div class="actions-cntnr">
	<div class="action-cntnr">
		<div class="title-cntnr">
			<h1 class="lttl-intro-h1">To-do listes</h1>
			<% unless !empty_list %>
				<p>Les to-do listes vous aident à planifier vos journées</p><br/>
				<p class="btn inside-btn" id="list-btn">Créer la première liste</p>
				<div class="explaination-cntnr">
					<h2>Quand utiliser les to-do ?</h2>
					<div class="border-btm"></div>
					<p>Pour noter toutes les tâches qui vous viennent à l'esprit</p>
					<div class="border-btm"></div>
					<p>Pour définir vos objectifs de production</p>
					<div class="border-btm"></div>
					<p>Pour assigner du travail à vous ou à votre équipe</p>
				</div>
			<% else %>
				<p class="btn inside-btn">Nouvelle liste</p>
			<% end %>
		</div>
		<div class="simple-form-cntnr">
			<%= form_for @list do |f| %>
				<%= f.hidden_field :user_id, value: @user.id %>
				<%= f.text_field :title, placeholder: "Donner un nom à la liste...", required: true, class: "basic-field simple-field"  %><br/>
				<%=	f.text_field :description, placeholder: "Ajouter une description à la liste...", class: "basic-field simple-field2" %>
				<%= f.submit "Ajouter la liste", class: "btn inside-btn" %>
				<p class="cancel-btn">Annuler</p>
			<% end %>
		</div>
		<%= render "to_do_lists/lists" %>
	</div>
</div>