<% title "Vos to-do listes" %>
<div class="actions-cntnr">
	<div class="action-cntnr">
		<div class="title-cntnr">
			<h1 class="lttl-intro-h1">To-do listes</h1><br/>
			<% if empty_list %>
				<p>Les to-do listes vous aident à planifier vos journées</p><br/>
				<p class="btn inside-btn" id="list-btn">CRÉER LA PREMIÈRE LISTE</p>
				<div class="explaination-cntnr">
					<h2>Quand utiliser les to-do ?</h2>
					<div class="border-btm"></div>
					<p>Pour noter toutes les tâches qui vous viennent à l'esprit</p>
					<div class="border-btm"></div>
					<p>Pour définir vos objectifs de production</p>
					<div class="border-btm"></div>
					<p>Pour assigner du travail à vous ou à votre équipe</p>
				</div>
			<% else %>
				<p class="inside-btn ingredient-btn">NOUVELLE LISTE</p>
			<% end %>
		</div>
		<div class="simple-form-cntnr">
			<div class="smpl2-cntnr">
				<%= form_for @list do |f| %>
					<%= f.hidden_field :user_id, value: @user.id %>
					<%= image_tag "title.png", class: "field-img2" %>
					<%= f.text_field :title, placeholder: "Titre", required: true, class: "basic-field top-field"  %>
					<%= image_tag "description.png", class: "field-img2" %>
					<%=	f.text_area :description, placeholder: "Description", class: "basic-field bottom-field" %>
					<%= f.submit "AJOUTER LA LISTE", class: "btn inside-btn" %>
					<p class="cancel-btn">ANNULER</p>
				<% end %>
			</div>
		</div>
		<%= render "to_do_lists/lists", lists: @lists %>
	</div>
</div>
