<% title "#{@list.title} - #{@user.account_name}" %>
<div class="actions-cntnr">
	<div class="tasks-cntnr">
		<%= link_to new_to_do_list_path do %>
			<p class="ingredient-btn">Retour à l'index</p>
		<% end %><br/>
		<p class="ghost-txt">Votre liste</p>
		<%= render "tasks/count" %>
		<i class="grey-txt"><%= @list.description %></i><br/><br/>
		<div id="progressbar"></div>
		<!-- Index each tasks that isn't yet done -->
		<%= render "tasks/task" %>
		<div class="done-tasks">
			<!-- Index each done tasks -->
			<%= render "tasks/done_task" %>
		</div>
		<p class="element-btn">Ajouter un élément...</p>
		<div class="simple-form-cntnr">
			<!-- Form to create new tasks -->
			<%= form_for([@list, @task], remote: true, html: { data_type: "html", id: "clear_form"}) do |f| %>
				<p><%= f.text_field :name, class: "basic-field task-field big-field", placeholder: "Ajouter une chose à faire" %></p>
				<%= f.hidden_field :to_do_list_id, value: @list.id %>
				<p><%= f.text_field :assigns_to, class: "basic-field task-field smll-txt", placeholder: "Mentionner quelqu'un...", id: "datepicker" %></p>
				<p><%= f.text_field :due_date, class: "basic-field task-field smll-txt datepicker", placeholder: "Échéance..." %></p>
				<%= f.submit "Ajouter l'élément", class: "btn inside-btn" %>
				<p class="cancel-btn">Annuler</p>			
			<% end %>
		</div><br/>
	</div>
</div>
<script>
$(function($){
  $(".progressBar").each(function(){
    $(this).progressbar({
      value: <%= @list.tasks.where(done: true).count %>,
      max: <%= @list.tasks.count %>
    });
  });
});
</script>