<div class="rgt-menu">
	<div class="rgt-area">
		<div class="rgt-area-ttl">
			<h3>Toutes les listes</h3>
			<div>
				<%= link_to new_to_do_list_path do %><p class="add"><%= image_tag "add.png", class: "mini-img" %></p><% end %>
				<p><%= image_tag "sort-img.png", class: "mini-img" %></p>
			</div>
		</div>
		<ul>
			<% @lists.each do |l| %>
				<%= link_to l do %>
					<li>
						<% if l.all_done %>
							<div class="done"></div>
						<% else %>
							<div></div>
						<% end %>
						<%= l.title %>
						<span class="mini-span"><%= l.done_count %> / <%= l.total_tasks %></span>
					</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>
<% title "#{@list.title}" %>
<div class="ttl-header action-rgt-ttl">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1">Votre liste</h1>
		<p class="lft-p">
			<% if @list.all_done %>Bravo ! Vous avez réalisé toutes les tâches de votre liste
			<% elsif @list.done_count == 0 %>Aucune tâche effectuée
			<% else %>Déjà <%= @list.done_count %> tâches effectuées
			<% end %>
		</p>
	</div>
	<div class="page-ctas">
		<%= link_to new_to_do_list_path do %>
			<p class="primary-btn ttl-btn"><%= image_tag "arrow-left.png", class: "btn_arrow" %> INDEX</p>
		<% end %><br/>
	</div>
</div>
<div class="rgt-helper">
</div>
<div class="action-cntnt action-rgt">
	<div class="actions-cntnr to-do-cntrn">
		<div class="tasks-cntnr">
			<div>
				<%= form_for(@list, action: :edit )do |f| %>
					<span class="ttl-task"><%= @list.title.humanize %></span>
					<span class="form-task" style="display:none;"><%= f.text_field :title, value: @list.title.humanize %></span>
				<% end %>
				<%= render "tasks/count", list: @list %>
			</div>
			<i class="grey-txt"><%= @list.description %></i><br/>
			<div id="progressbar"></div>
			<!-- Index each tasks that isn't yet done -->
			<%= render "tasks/task", tasklist: @tasklist, list: @list %>
			<div class="done-tasks">
				<!-- Index each done tasks -->
				<%= render "tasks/done_task", done: @done, list: @list %>
			</div>
			<p class="element-btn">Ajouter un élément...</p>
			<div class="simple-form-cntnr">
				<!-- Form to create new tasks -->
				<div class="smpl2-cntnr">
					<%= form_for([@list, @task], remote: true, html: { data_type: "html", id: "clear_form"}) do |f| %>
						<%= f.text_field :name, class: "basic-field top-field focus", placeholder: "Ajouter un élément..." %>
						<%= f.hidden_field :to_do_list_id, value: @list.id %>
						<%= f.text_field :assigns_to, class: "basic-field special-top", placeholder: "Réalisée par..", id: "datepicker" %>
						<%= f.text_field :due_date, class: "basic-field bottom-field datepicker", placeholder: "Avant le.." %>
						<br/>
						<%= f.submit "AJOUTER", class: "primary-btn" %>
						<button class="cancel-btn">ANNULER</button>
					<% end %>
				</div>
			</div><br/>
		</div>
		<div class="float-right lst-dlt"><%= image_tag "trash.png", class:"mini-mini-img" %>&nbsp;<%= link_to "SUPPRIMER", to_do_list_path(@list), method: :delete, class: "delte-list" %></div>
	</div>
</div>
<script>
$(function($){
  $(".progressBar").each(function(){
    $(this).progressbar({
      value: <%= @list.tasks.where(done: true).count %>,
      max: <%= @list.tasks.count %>
    });
  });
});
</script>
