<% title "#{@list.title}" %>
<div class="actions-cntnr">
	<div class="tasks-cntnr">
		<%= link_to new_to_do_list_path do %>
			<p class="ingredient-btn">Retour à l'index</p>
		<% end %><br/>
		<p class="ghost-txt">Votre liste</p>
		<%= render "tasks/count" %>
		<i class="grey-txt"><%= @list.description %></i><br/><br/>
		<div id="progressbar"></div>
		<!-- Index each tasks that isn't yet done -->
		<%= render "tasks/task" %>
		<div class="done-tasks">
			<!-- Index each done tasks -->
			<%= render "tasks/done_task" %>
		</div>
		<p class="element-btn">Ajouter un élément...</p>
		<div class="simple-form-cntnr">
			<!-- Form to create new tasks -->
			<div class="smpl2-cntnr">
				<%= form_for([@list, @task], remote: true, html: { data_type: "html", id: "clear_form"}) do |f| %>
					<%= image_tag "title.png", class: "field-img2" %>
					<%= f.text_field :name, class: "basic-field top-field", placeholder: "Tâche" %>
					<%= f.hidden_field :to_do_list_id, value: @list.id %>
					<%= image_tag "user.png", class: "field-img2" %>
					<%= f.text_field :assigns_to, class: "basic-field middle-field", placeholder: "Réalisée par..", id: "datepicker" %>
					<%= image_tag "calendar.png", class: "field-img2" %>
					<%= f.text_field :due_date, class: "basic-field bottom-field datepicker", placeholder: "Avant le.." %>
					<%= f.submit "AJOUTER", class: "btn inside-btn" %>
					<p class="cancel-btn">ANNULER</p>
				<% end %>
			</div>
		</div><br/>
	</div>
</div>
<script>
$(function($){
  $(".progressBar").each(function(){
    $(this).progressbar({
      value: <%= @list.tasks.where(done: true).count %>,
      max: <%= @list.tasks.count %>
    });
  });
});
</script>
