<% title "Abonnements" %>
<%= link_to root_path do %><p class="red-color"><span class="image-hovered"></span>Retour à l'accueil</p><% end %>
<div class="title-cntnr scroll-here2">
	<h1 class="big-white-h1">Tarifs</h1>
	<h2 class="big-white-h2">Offre de lancement</h2>
	<h3 class="big-white-h3">20% de réduction <span>(pour toute commande avant le 31 Décembre 2016)</span></h3>
	<p>Vous pouvez utiliser le Labo gratuitement (basic), aussi longtemps que vous le souhaitez.</p>
</div>
	<% @plans.each do |plan| %>
	<% unless pro_plan(plan) || entreprise_plan(plan) %>
		<div class="plan-cntnr">
			<div class="plan-clr-cntnr <% if basic_plan(plan) %><% elsif plan.name == "PRO" %> plan-color2 <% else %>plan-color3 <% end %>">
				<p class="plan-title"><%= plan.name %></p>
				<p class="plan-price">
					<% unless basic_plan(plan) %>
						<s>
							<% if plan.name == "PRO" %>
								11€
							<% else %>
								19€
							<% end %>
						</s>
					<% end %>
					<span>
						<b><%= plan.price.to_i %></b>, <% if plan.name == "ENTREPRISE" %><%= plan.price[3,4].to_i %><% else %><%= plan.price[2,4].to_i %><% end %>0€
					</span>
				</p>
				<p class="plan-type">par mois<br/></p>
				<% if basic_plan(plan) %>
					<p class="plan-type">sans carte bancaire</p>
				<% else %>
					<p class="plan-type">facturé annuellement</p>
				<% end %>
				<div class="plan-btn-cntnr">
					<% if user_with_no_subscription(@user) %>
						<% if same_plan_id(@user, plan) %>
							<p class="plan-btn">VOTRE FORMULE</p>
						<% else %>
								<% if basic_plan(plan)  %>
									<%= link_to new_contact_path do %>
										<p class="plan-btn">ENVOYER UN EMAIL</p>
									<% end %>
								<% elsif pro_plan(plan)  %>
									<%= link_to new_subscription_path(plan_id: plan.id) do %>
										<% if user_have_basic_plan(@user) %>
											<p class="plan-btn">PASSER A UNE OFFRE SUPÉRIEURE</p>
										<% else %>
											<p class="plan-btn">PASSER A L'OFFRE PRO</p>
										<% end %>
									<% end %>
								<% else %>
								<%= link_to new_subscription_path(plan_id: plan.id) do %>
									<p class="plan-btn">PASSER A UNE OFFRE SUPÉRIEURE</p>
								<% end %>
								<% end %>
						<% end %>
					<% else %>
						<% if basic_plan(plan) %>
							<% if @user %>
								<p class="plan-btn">VOTRE FORMULE</p>
							<% else %>
								<!-- scroll down to the email cta -->
									<p class="plan-btn scroll">COMMENCER</p>
								<!-- end of scroll down -->
							<% end %>
						<% else %>
								<% if !@user %>
									<p class="plan-btn scroll">ESSAI GRATUIT</p>
								<% else %>
									<%= link_to new_subscription_path(plan_id: plan.id) do %>
										<!-- après validation des features : "Passer à une offre supérieure" -->
										<p class="plan-btn">ESSAI GRATUIT</p>
										<!-- Dans le paragraphe ci-dessus -->
									<% end %>
								<% end %>
						<% end %>
				<% end %></div>
			</div>
			<br/>
			<div class="plan-txt-cntnr">
				<% if basic_plan(plan) %>
					<p class="colored-p-txt1"><b>BASIC inclus</b></p>
					<p>-Création de vos recettes</p>
					<p>-Création de vos montages</p>
					<p>-Ajout de nouveaux ingrédients</p>
					<p>-Téléchargements au format Pdf</p>
					<p>-Aide et support</p>
					<p>-Près de 400 ingrédients</p>
					<p>-Accès sur tous vos appareils</p>
				<% end %>
				<% if pro_plan(plan) || plan.name == "PRO" %>
					<p class="colored-p-txt2"><b>PRO inclus</b><br/>plus toutes les options de BASIC</p>
					<p>-Calcul de vos coûts de revient</p>
					<p>-Calcul des quantités de votre recette</p>
					<p>-Meilleure gestion de vos recettes</p>
					<p>-Gestion des fournisseurs</p>
					<p>-Nouvelles options de téléchargements</p>
					<p>-Ajout d'une photo à vos recettes</p>
					<p>-Enlever le logo du Labo sur vos recettes</p>
					<p>-Aide et support prioritaire</p>
					<p>-Gestion des stocks (prochainement)</p>
				<% end %>
				<% if entreprise_plan(plan) || plan.name == "ENTREPRISE" %>
					<p class="colored-p-txt3"><b>ENTREPRISE inclus</b><br/>plus toutes les options de PRO</p>
					<p>-Équilibrage de vos ganaches</p>
					<p>-Équilibrage de vos glaces</p>
					<p>-Équilibrage de vos sorbets</p>
					<p>-Calculs de la composition de vos recettes</p>
					<p>-Ajout de plusieurs photos à vos recettes</p>
					<p>-Inviter vos collaborateurs sur votre compte (prochainement)</p>
					<p>-Impression des étiquettes de vos recettes (prochainement)</p>
					<p>-Accès au mur de recettes (prochainement)</p>
				<% end %>
			</div>
		</div>
	<% end %>
	<% end %>
	<br/><br/><br/>
<div class="sale-bckgrnd">
	<div class="sale-cntnr">
		<%= image_tag "rocket.png", class: "rocket", alt: "rocket" %>
	</div>
	<div class="sale-cntnr">
		<h2>Une nouvelle perspective</h2>
		<p>Toute l'année, des ingénieurs travaillent sur Le Labo afin de mieux répondre à vos attentes.</p>
		<p>Résultat : des options plus travaillées, des mises à jours régulières et la garantie d'utiliser une application en constante recherche de gain de temps et de qualité pour ses clients.</p>
		<br/>
		<p>Le Labo n'est pas seulement conçu pour les pros, il est amélioré à leurs côtés.</p>
	</div>
</div>
<% unless signed_in? %>
<div class="sale-txt-cntnr scroll-here">
	<h2 class="big-white-h2">Commencer à utiliser le Labo gratuitement</h2><br/>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :oauthdelivered, :value => 'true' %>
				<%= f.text_field :email, :placeholder => "Email", class: "basic-field rounded-field cta-field" %>
				<%= f.button :submit do %>
						ESSAYER GRATUITEMENT<%= image_tag "arrow-right.png", class: "btn_arrow" %>
				<% end %>
        <p>Vous êtes déjà inscrit ? <%= link_to new_user_session_path do %><span>Connectez-vous</span><% end %></p>
      <% end %>
</div>
<% end %>
<div class="sale-div-cntnr">
	<h2 class="big-white-h2">Questions Fréquentes</h2><br/><br/>
	<div class="quest-cntnr">
		<div>
			<h3>Ou puis-je en savoir plus sur Le Labo ?</h3>
			<p>La meilleure façon de savoir si Le Labo vous convient est de l'essayer. Notre offre gratuite possède une grande partie des options nécessaires pour vous faire une expérience complète.</p>
		</div>
		<div>
			<h3>Comment se passe la sécurisation de mes données ?</h3>
			<p>Nous prenons la sécurité de vos données très au sérieux. Et pour une bonne raison : chaque personne qui utilise Le Labo attend que ses données soient sécurisées et confidentielles. Nous travaillons pour maintenir cette confiance.</p>
			<p>Toutes les pages sont sécurisées, notamment grace à l'encryption SSL.</p>
		</div>
		<div>
			<h3>Quelle est l'approche du Labo vis à vis de mes données ?</h3>
			<p>Tout ce que vous publiez sur Le Labo est privé et visible seulement depuis votre compte. Tout le contenu que vous créez demeure votre propriété.</p>
		</div>
		<div>
			<h3>Puis-je utiliser Le Labo gratuitement ?</h3>
			<p>Oui, vous pouvez utiliser Le Labo gratuitement. Vos options seront limitées.</p>
		</div>
		<div>
			<h3>Quelles sont mes options de paiement ?</h3>
			<p>Vous pouvez utiliser votre carte bancaire pour toute les formules. Vous recevrez votre facture immédiatement après votre abonnement.</p>
			<p><%= link_to contacts_path do %>Contactez-nous<% end %> en cas de question</p>
		</div>
		<div>
			<h3>Comment profiter d'un essai gratuit ?</h3>
			<p>Pour essayer toutes les options du Labo gratuitement, c'est très simple. Il vous suffit de procéder à la commande de la formule que vous souhaitez essayer.</p>
			<p>Composez ensuite vos informations de paiement, vous aurez accès directement à la formule sans que rien ne vous soit débité.</p>
			<p>Vous avez ensuite 14 jours pour nous <%= link_to contacts_path do %>Contacter<% end %> si vous ne souhaitez pas poursuivre l'abonnement.</p>
		</div>
	</div>
	<p class="btn back-to-top scroll2"><%= image_tag "arrow-top.png", class: "small-img", alt: "back to the top" %> RETOUR EN HAUT DE PAGE</p>
</div>
<script>
$(".scroll").click(function() {
$('html,body').animate({
		scrollTop: $(".scroll-here").offset().top},
		'slow');
});

$(".scroll2").click(function() {
$('html,body').animate({
		scrollTop: $(".scroll-here2").offset().top},
		'slow');
});
</script>
