<% title "Abonnement #{@plan.name}" %>
<div class="grey-bckgrnd checkout-cntnr">
  <%= link_to root_path do %><p class="red-color"><span class="image-hovered"></span>Retour à l'accueil</p><% end %>
  <div class="title-cntnr">
    <h1 class="big-white-h1">Monter au niveau <%= @plan.name %></h1>
  </div>
  <% unless @subscription.errors.blank? %>
    <%= @subscription.errors.full_messages.to_sentence %>
  <% end %>
  <div class="card-cntnr">
    <div class="card-steps-cntnr">
      <h3><%= image_tag "checked.png", class: "checked-img" %>Etape 1 : Sélectionnez votre offre</h3>
      <p>Votre sélection : FORMULE <%= @plan.name %></p>
      <i>Facturé annuellement</i>
      <% if @user %><p>Tarif :
        <%= @plan.amount[0,3] %>,00€ - <% if @plan.name == "LIFE" %>Accès à vie<% else %>Par an<% end %></p>
      <% end %>
      <p></p>
      <%# if @user && @user.business_user? %>
        <!--<p>Votre abonnement PRO débutera à partir de la date de fin de votre abonnement BUSINESS</p>-->
      <%# end %>
      <%# if @user && @user.pro_user? %>
        <!--<p>Un prorata de votre abonnement en cours sera effectué et le prix de votre abonnement BUSINESS sera déduit du montant correspondant à la fin de vos droits sur la formule PRO</p>-->
      <%# end %>
      <br/><br/>
      <% if @user %>
      <h3>Etape 2 : Informations de paiement</h3>
      <%= form_for @subscription , html: { id: 'payment-form', name: "fform" } do |f| %>
        <div class="secure-cntnr">
          <%= image_tag "master-card.png", class: "card-img", alt: "carte de crédit" %>
          <%= image_tag "visa.png", class: "card-img", alt: "carte de crédit" %>
          <%= image_tag "carte-bleue.png", class: "card-img", alt: "carte de crédit" %>
          <%= image_tag "american-express.png", class: "card-img", alt: "carte de crédit" %>
          <p>Formulaire sécurisé <%= image_tag "padlock.png", class:"mini-img",alt: "securisé" %></p>
        </div>
        <span class="errors" style='color:red;'></span>
        <% if signed_in? %>
          <%= hidden_field_tag :email, nil, name: "email_address" ,placeholder: 'Email (requis)', :id=>"inscription_field3 rounded-field",  :required => true, value: @user.email %>
        <% else %>
          <p>Email</p>
          <%= text_field_tag :email, nil, name: "email_address" ,placeholder: 'Email (requis)', :class=>"basic-field rounded-field",  :required => true %>
        <% end %>
        <p>Numero de carte</p>
        <input type="hidden" name="plan_id" value="<%= @plan.id %>" />
        <%= text_field_tag :card_number, nil, name: "card-nb" ,placeholder: 'Numéro de carte', class: "basic-field cc-number rounded-field", required: true, id: "cc-number", data: { stripe: "number"}  %><br/>
        <p>Date d'expiration</p>
        <div class="card-nb-cntnr">
          <%= select_month nil, {use_two_digit_numbers: true}, {name: nil, id: "card_month", class: "select-field basic-field",placeholder: 'Enter search term...', :required => true, :data => {:stripe => 'exp-month' }} %>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+12}, {name: nil, id: "card_year",placeholder: 'Enter search term...', class: "select-field basic-field",  :required => true, :data => {:stripe => 'exp-year' }} %>
        </div>
        <p>CVC <i class="grey-txt">(3 chiffres au dos de votre carte)</i></p>
        <%= text_field_tag :card_code, nil, name: nil ,placeholder: 'CVC', class: "basic-field rounded-field" , :required => true, data: { stripe: "cvc" } %>
        <br/>
        <p class="terms">En cliquant sur "terminer la commande", vous reconnaissez accepter les <%= link_to conditions_generales_vente_path, target: "_blank" do %>Conditions Générales de Vente<% end %></p>
        <p class="float-right">  <button type="submit" class="primary-btn">TERMINER LA COMMANDE</button>
</p>
      <% end %>
      <% else %>
        <p>Vous devez vous inscrire afin de choisir votre formule d'abonnement</p>
        <p>Commencez par entrer votre email sur la page suivante<br/>(cliquez sur le bouton ci-dessous)</p><br/>
        <p><%= link_to "JE M'INSCRIS", root_path, class: "btn cta-btn" %></p>
      <% end %>
    </div>
  </div>
</div>
