<% title "Abonnement #{@plan.name}" %>
<div class="grey-bckgrnd checkout-cntnr">
  <%= link_to root_path do %><p class="red-color"><span class="image-hovered"></span>Retour à l'accueil</p><% end %>
  <div class="title-cntnr">
    <h1 class="big-white-h1">Monter au niveau <%= @plan.name %></h1>
  </div>
  <% unless @subscription.errors.blank? %>
    <%= @subscription.errors.full_messages.to_sentence %>
  <% end %>
  <div class="card-cntnr">
    <div class="card-steps-cntnr">
      <h3><%= image_tag "checked.png", class: "checked-img" %>Etape 1 : Sélectionnez votre offre</h3>
      <p>Votre sélection : FORMULE <%= @plan.name %></p>
      <% if entreprise_plan(@plan) %>
        <p>Tarif : <%= @plan.amount[0,3] %>,<%= @plan.amount[3,5] %>€/an</p><br/><br/>
      <% elsif pro_plan(@plan) %>
        <p>Tarif : <%= @plan.amount[0,2] %>,<%= @plan.amount[2,4] %>€/an</p><br/><br/>
      <% end %>
      <h3>Etape 2 : Informations de paiement</h3>
      <%= form_for @subscription , html: { id: 'payment-form' } do |f| %>
        <span class="errors" style='color:red;'></span>
        <% if signed_in? %>
          <%= hidden_field_tag :email, nil, name: "email_address" ,placeholder: 'Email (requis)', :id=>"inscription_field3",  :required => true, value: @user.email %>
        <% else %>
          <p>Email</p>
          <%= text_field_tag :email, nil, name: "email_address" ,placeholder: 'Email (requis)', :class=>"basic-field",  :required => true %>
        <% end %>
        <p>Numero de carte</p>
        <input type="hidden" name="plan_id" value="<%= @plan.id %>" />
        <%= text_field_tag :card_number, nil, name: nil ,placeholder: 'Numéro de carte', class: "basic-field cc-number", :required => true, id: "cc-number", data: { stripe: "number"}  %><br/>
        <p>Date d'expiration</p>
        <%= select_month nil, {use_two_digit_numbers: true}, {name: nil, id: "card_month", class: "select-field",placeholder: 'Enter search term...', :required => true, :data => {:stripe => 'exp-month' }} %><%= image_tag "arrow-select.png", class: "select-img" %>
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+12}, {name: nil, id: "card_year",placeholder: 'Enter search term...', class: "select-field",  :required => true, :data => {:stripe => 'exp-year' }} %><%= image_tag "arrow-select.png", class: "select-img" %><br/>
        <p>CVC <i class="grey-txt">(3 chiffres au dos de votre carte)</i></p>
        <%= text_field_tag :card_code, nil, name: nil ,placeholder: 'CVC', class: "basic-field" , :required => true, data: { stripe: "cvc" } %>
        <br/>
        <p class="float-right"><%= image_tag "secure.png", class: "secure-img" %><%= f.submit "Terminer la commande", class: "btn cta-btn checkout" %></p>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
jQuery(function($) {
  $('#payment-form').submit(function(event) {
    var $form = $(this);

    $form.find('button').prop('disabled', false);

    Stripe.card.createToken($form, stripeResponseHandler);

    return false;
  });
});

var errorMessages = {
  incorrect_number: "Le numéro de la carte est incorrect.",
  invalid_number: "Le numéro de la carte n’est pas un numéro de carte valide.",
  invalid_expiry_month: "Le mois d’expiration de la carte n’est pas valide.",
  invalid_expiry_year: "L’année d’expiration de la carte n’est pas valide.",
  invalid_cvc: "Le code de sécurité de la carte n’est pas valide.",
  expired_card: "La carte a expiré.",
  incorrect_cvc: "Le code de sécurité de la carte est incorrect.",
  incorrect_zip: "La validation du code postal de la carte a échoué.",
  card_declined: "La carte a été refusée.",
  missing: "Aucun client associé à cette carte.",
  processing_error: "Une erreur est survenue lors du contrôle de la carte.",
  rate_limit:  "Une erreur est survenue en raison d'un trop grand nombre de requêtes vers le serveur. Veuillez nous contacter si vous rencontrez cette erreur systématiquement."
};


function stripeResponseHandler(status, response) {
  var $form = $('#payment-form');

  if ( response.error && response.error.type == 'card_error' ){
    $( '.errors' ).text( errorMessages[ response.error.code ] );
  }
  else {
    // response contains id and card, which contains additional card details
    var token = response.id;
    // Insert the token into the form so it gets submitted to the server
    $form.append($('<input type="hidden" name="stripeToken" />').val(token));
    // and submit
    $form.get(0).submit();
  }
};

</script>

