<% if @user.admin? %>
	<div class="connexion-backgrnd">
		<%= link_to root_path do %><%= image_tag "logo-bird.png", class: "logo-white" %><% end %>
		<H2 class="big-ttle beautiful-txt-color">Tous les feedbacks</H2><br/>
		<% @feedback.each do |feedback| %>
			<div class="feedback">
				<% if !feedback.user.nil? %>
					<p class="feed-from">Le <%= feedback.created_at.strftime("%d %b %Y") %>, <%= feedback.user.firstname.humanize %> <%= feedback.user.name.humanize %> à écrit :</p>
					<%= link_to feedback_path(feedback), method: :delete do %><span class="delete-btn-cntnr">Supprimer</span><% end %>
					<i><%= feedback.message %></i><br/>
				<% end %>
			</div>
		<% end %>
	</div>
<% end %>
