<% title "Catégories" %>
<div class="ttl-header">
	<div class="page-ttl">
		<h1 class="lttl-intro-h1">Catégories</h1>
		<p class="lft-p">Nouvelle catégorie d'ingrédients</p>
	</div>
	<div class="page-ctas">
		<%= link_to ingredients_path do %>
			<p class="standard-btn grey-btn ingredient-btn">INDEX DES INGRÉDIENTS</p>
		<% end %>
	</div>
</div>
<div class="action-cntnt">
	<div class="actions-cntnr">
		<div class="page-new-ttl action-cntnr categories">
	    <div class="cat-form">
	      <%= form_for @category do |f| %>
					<p>Nom</p>
	        <%= f.text_field :name, placeholder: "Légumes, Bonbons...", class: "basic-field rounded-field" %>
	        <%= f.submit "ENREGISTRER", class: "auto-btn cta-btn ingredient-btn" %>
					<br/>
	      <% end %>
	    </div>
		</div>
		<div class="page-new-ttl action-cntnr categories">
	    <ul>
	      <% @categories.each do |c| %>
	        <li>
	          <%= c.name %>
	          <%= link_to "Supprimer", category_path(c.id), method: :delete %>
	        </li>
	      <% end %>
	    </ul>
	  </div>
	</div><!-- actions-cntnr -->
</div><!-- action-cntnt -->
