<div class="add-recipe-cntnr">
	<%= f.select(:recipe_id, Recipe.all.order("name ASC").collect { |r| [r.name, r.id] }, include_blank: true) %> 
	<%= f.select(:recipe_id, Recipe.all.order("name ASC").collect { |r| r.name }, include_blank: true) %> 
	<%= f.select(:recipe_id, Recipe.all.order("name ASC").collect { |r| r.name }, include_blank: true) %> 
	<%= f.select(:recipe_id, Recipe.all.order("name ASC").collect { |r| r.name }, include_blank: true) %> 
	<%= f.select(:recipe_id, Recipe.all.order("name ASC").collect { |r| r.name }, include_blank: true) %> 
	<%= f.select(:recipe_id, Recipe.all.order("name ASC").collect { |r| r.name }, include_blank: true) %> 
	<%= f.select(:recipe_id, Recipe.all.order("name ASC").collect { |r| r.name }, include_blank: true) %> 
	<%= f.select(:recipe_id, Recipe.all.order("name ASC").collect { |r| r.name }, include_blank: true) %> 
</div>