  <div class="class-helper inline_divs star">
		<% if assembly.category? %>
			<div class="circle <%= category_color(assembly) %>"></div>
		<% end %>
      <div class="line-cntnr">
        <%= link_to edit_assembly_path(assembly) do %>
          <span class="ing-name float">
            <%= truncate(assembly.title.humanize, length: 25) %>
          </span>
        <% end %>
        <span class="ing-price">
          <span class="ing-img">
            <% if assembly.stared? %><%= image_tag "star.png", class: "stared-item" %><% end %>
          </span>
          <span class="ing-img2">
            <% if assembly.loved? %><%= image_tag "heart.png", class: "stared-item2" %><% end %>
          </span>
  			</span>
        <span class="ing-unit">
  				<%= assembly.category %>
  			</span>
        <%= image_tag "delete-sml.png", class: "delete-rcp delete-pop-over delete-tsk-btn delete-down" %>
        <%= image_tag "cancel.png", class: "show-delete remv-delete delete-rcp delete-tsk-btn delete-down", style:"display:none;" %>
        <%= link_to assembly_path(assembly.id), method: :delete, id: "delete-task" do %>
          <%= image_tag "checked-3.png", class: "show-delete delete-rcp delete-tsk-btn delete-down", style:"display:none;" %>
        <% end %>
    </div>
  </div>
