<div class="cost_form">
<% if @assembly.recipe_items.blank? && !@user.basic_user? %>
  <p>Ajoutez des ingrédients à votre recette pour pouvoir calculer son coût de revient</p>
<% elsif @user.basic_user? %>
  <p>Choisissez l'offre PRO ou ENTREPRISE et profitez de cette fonctionnalité !</p>
  <%= link_to subscriptions_path do %>
    <p class="auto-btn cta-btn">+ S'ABONNER</p>
  <% end %>
<% else %>
  <%= form_for @assembly do |f| %>
    <div class="ingredients-add-ctnr equ-left">
      <div class="add_ingredients item-cost-list">
        <p>Total</p>
          <% @assembly.recipe_items.each do |item| %>
            <p class="item-list"><%= item.recipe.name %></p>
          <% end %>
      </div>
    </div>
    <div class="values resp-values">
      <div class="cost-val">
        <ul>
          <% @assembly.recipe_items.each do |item| %>
            <li><%= number_to_currency item.recipe.total_cost %></li>
          <% end %>
        </ul>
      </div>
      <div class="cost-ttl">
        <h3>Cout de revient</h3>
        <div class="cost-cost">
          <%= f.fields_for :totals, @assembly.totals.first do |ff| %>
            <p>Recette</p>
            <p>Pour 1kg</p>
            <p>Pour <%= ff.text_field :value, class: 'rounded-field basic-field cost-field' %> kg</p>
          <% end %>
        </div>
        <div class="cost-result">
          <%= f.fields_for :totals, @assembly.totals.first do |ff| %>
            <p><%= number_to_currency @assembly.total_cost %></p>
            <p><%= number_to_currency @assembly.kilo_cost %></p>
            <p><%= number_to_currency @assembly.custom_cost %></p>
          <% end %>
        </div>
        <br/>
        <br/>
        <%= f.submit "MODIFIER", class: "auto-btn cta-btn" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
