<div class="recipe_pics">
  <%= form_for(@assembly, remote: true) do |f| %>
    <% @assembly.images.each_with_index do |image, index| %>
      <%= f.fields_for :images, image do |ff| %>
        <%= render "add_images", ff: ff, image: image %>
      <% end %>
    <% end %>
    <br/>
    <div class="add_img"><%= create_new_field "+", f, :images %></div>
    <%= f.submit "ENREGISTRER", class: "auto-btn cta-btn" %>
  <% end %>
</div>
