<% if current_user.business_user? %>
<div class="recipe_pics">
  <%= form_for(assembly, remote: true) do |f| %>
    <% assembly.images.each_with_index do |image, index| %>
      <%= f.fields_for :images, image do |ff| %>
        <%= render "add_images", ff: ff, image: image %>
      <% end %>
    <% end %>
    <br/>
    <div class="add_img"><%= create_new_field "+", f, :images %></div>
    <%= f.submit "ENREGISTRER", class: "auto-btn cta-btn" %>
  <% end %>
</div>
<% else %>
  <p>Choisissez l'offre ENTREPRISE et profitez de cette fonctionnalité !</p>
  <%= link_to subscriptions_path do %>
    <p class="auto-btn cta-btn">+ S'ABONNER</p>
  <% end %>
<% end %>
