<div class="recipe-view">
  <div class="recipe-links">
    <%= link_to edit_assembly_path(assembly, format: :pdf), target: '_blank' do %>
      <%= image_tag 'pdf.png' , class: 'small-imgs'%>
    <% end %>
    <%= link_to download_assembly_path(format: :pdf), target: '_blank' do %>
      <%= image_tag 'download.png', class: 'small-imgs' %>
    <% end %>
  </div>
  <div class="view-top-l">
    <h1><%= assembly.title.upcase %></h1>
    <p><%= assembly.category %> </p>
    <p><b>par <%= assembly.owner %></b></p><br/>
    <br/>
    <b>Notes:</b>
    <p><%= assembly.notes %></p><br/>
  </div>
  <div class="view-top-r">
    <%= image_tag assembly.image, class: "user-img2" %>
  </div>
  <% assembly.recipe_items.each do |item| %>
    <div class="ing_comp_cntnr">
      <h2><%= item.recipe.name.upcase %></h2>
      <div class="ing_comp_l">
        <h3>Ingrédients</h3><br/>
          <div class="ing-rght">
            <% item.recipe.quantities.each do |q| %>
              <p><%= q.weight %> <%= weighing_unit(q.ingredient) %></p>
            <% end %>
          </div>
          <div class="ing-left">
            <% item.recipe.quantities.each do |q| %>
              <p><%= q.ingredient.name %></p>
            <% end %>
          </div>
        </div>
        <% unless item.recipe.process.blank? %><h3>Instructions</h3><% end %><br/>
        <p><%= item.recipe.process.html_safe %></p>
        <span class="clear"></span>
    </div>
  <% end %>
</div>
