<% title "#{@assembly.title.humanize}" %>
<div class="actions-cntnr">
      <div class="recipe-btn-cntnr">
        <p class="recipe-btn current-form" target="0"><%= image_tag"r-f-img1.png", alt: "recipe btn image" %></p>
        <p class="recipe-btn" target='1'><%= image_tag"r-f-img2.png", alt: "recipe btn image" %></p>
        <p class="recipe-btn" target='2'><%= image_tag"r-f-img3.png", alt: "recipe btn image" %></p>
        <p class="recipe-btn" target='3'><%= image_tag"r-f-img5.png", alt: "recipe btn image" %></p>
        <p class="recipe-btn" target='4'><%= image_tag"r-f-img6.png", alt: "recipe btn image" %></p>
        <p class="recipe-btn" target='5'><%= image_tag"r-f-img7.png", alt: "recipe btn image" %></p>
        <p class="recipe-btn" target='6'><%= image_tag"r-f-img8.png", alt: "recipe btn image" %></p>
      </div>
      <div class="action-cntnr page-new-ttl recipe-forms">
      <br/>
      <div id="div0" class="recipe-option">
        <h2>APERÇU</h2>
        <%= render "show", assembly: @assembly %>
      </div>
      <div id="div1" class="recipe-option" style="display:none;">
        <h2>MODIFIER</h2>
        <%= render "form", assembly: @assembly %>
      </div>
      <div id="div2" class="recipe-option" style="display:none;">
        <h2>QUANTITÉS</h2>
        <%= render "quantities_form", assembly: @assembly %>
      </div>
      <div id="div3" class="recipe-option" style="display:none;">
        <h2>COÛT DE REVIENT</h2>
        <%= render "cost_form", assembly: @assembly %>
      </div>
      <div id="div4" class="recipe-option" style="display:none;">
        <h2>PHOTOS</h2>
        <%= render "pictures_form", assembly: @assembly %>
      </div>
      <div id="div5" class="recipe-option" style="display:none;">
        <h2>ÉTIQUETTES</h2>
        <%= render "sticker_form", assembly: @assembly %>
      </div>
      <div id="div6" class="recipe-option" style="display:none;">
        <h2>STATISTIQUES</h2>
        <%= render "stats", assembly: @assembly %>
      </div>
  	</div>
</div>
