<% title "Vos montages" %>
<div class="actions-cntnr">
  <div class="page-new-ttl action-cntnr">
		<h2>MONTAGES</h2>
    <%= link_to new_assembly_path do %>
		  <p class="standard-btn grey-btn ingredient-btn">+ CRÉER</p>
    <% end %>
	</div><br/>
  <div class="hide">
    <% unless @assemblies.blank? %>
		<div class="ing-cntnr">
			<p class="sort-before"><%= sortable "Nom", "title" %></p>
			<p class="sort-before"><%= sortable "Date de création", "created_at" %></p>
			<p class="sort-before"><%= sortable "Catégorie", "category" %></p>
			<p class="sort-before"><%= sortable "Date de modification", "updated_at" %></p>
			<p class="sort-before"><%= sortable "Star", "stared" %></p>
      <p class="sort-before"><%= sortable "Préférées", "loved" %></p>
		</div>
    <% end %>
				<ul class="list-cntnr">
					<li id="sortable1">
						<% if @assemblies.blank? %>
              <br/><br/>
              <%= link_to new_assembly_path do %>
                <p class="auto-btn cta-btn">CRÉER LE PREMIER MONTAGE</p>
              <% end %>
              <div class="explaination-cntnr">
                <h2>Comment créer un montage ?</h2>
                <div class="border-btm"></div>
                <p>Cliquez sur le bouton ci-dessus</p>
                <div class="border-btm"></div>
                <p>Remplissez les champs à l'intérieur du formulaire</p>
              </div>
              <br/><br/>
            <% else %>
							<%= render @assemblies%>
						<% end %>
					</li>
					<%= will_paginate %>
				</ul>
	</div>
</div>
