<div class="send-feedback">
	<%= image_tag "people-can-ask.png", class: "people-ask-img" %>
	<div class="ask">
		<div class="box">
			<%= image_tag "buble1.png", class: "buble1" %>
			<p>Dites-nous ce que nous pourrions améliorer !</p>
		</div>
	</div>
	<div class="form">
		<%= form_for @feedback do |f| %>
			<%= image_tag "buble2.png", class: "buble2" %>
			<%= f.text_area :message, placeholder: "Je pense que...", class: "hidden-field" %>
			<%= f.hidden_field :user_id, value: @user.id %>
			<%= f.submit "Envoyer", class: "hidden-btn" %>
		<% end %>
	</div>
</div>
<div class="left-cntnr">
	<div class="lft-logo-hdr">
			<%= link_to root_path do %>
				<%= image_tag "logo-white-head.png", class: "header-icn", alt: "page d'acceuil" %>
			<% end %>
		</div>
	<div class="left-cases">
		<div class="user-btn">
			<h3><%= truncate(@user.account_name.downcase, length: 10) %><%= image_tag "arrows.png", class: "micro-arrow" %></h3>
			<p><%= @user.firstname.downcase %> <%= truncate(@user.name.downcase, length: 10) %></p>
		</div>
		<div class="arrow-container"><div class="arrow-up"></div></div>
		<div class="user-paths">
			<ul>
				<%= link_to modifier_votre_profil_path do %><%= image_tag @user.avatar.url(:small), class: "small-avatar" %><% end %><span class="firstname"><%= @user.firstname.downcase %></span><br/>
				<% if @user.admin? %>
					<%= link_to feedbacks_path do %><li>tous les feedbacks</li><% end %>
				<% end %>
				<%= link_to parametres_path do %><li>Paramètres</li><% end %>
				<%= link_to modifier_votre_profil_path do %><li>Modifier mon profil</li><% end %>
				<%= link_to subscriptions_path do %><li>Gérer mon abonnement</li><% end %>
				<%= link_to root_path do %><li>Informations de paiement</li><% end %>
				<%= link_to aide_path do %><li>Aide</li><% end %>
				<%= link_to( destroy_user_session_path, :method => :delete, :class => "bouton9") do %><li>Se déconnecter</li><% end %>
			</ul>
		</div>
	</div>
	<br/>
	<div class="cta-lft-cntnr">
		<%= link_to subscriptions_path do %>
			<div class="cta-lft-btn">+ S'ABONNER</div>
		<% end %>
	</div>
	<div class="features-li">
		<ul>
			<%= link_to new_ingredient_path do %>
				<li class="f-li1"><div class="feat-img-cntnr"><div class="feature-img1"></div></div>Ingrédients</li>
			<% end %>
			<%= link_to recipes_path do %>
				<li class="f-li2"><div class="feat-img-cntnr"><div class="feature-img2"></div></div>Recettes</li>
			<% end %>
			<%= link_to assemblies_path do %>
				<li class="f-li3"><div class="feat-img-cntnr"><div class="feature-img3"></div></div>Montages</li>
			<% end %>
			<%= link_to providers_path do %>
				<li class="f-li4"><div class="feat-img-cntnr"><div class="feature-img4"></div></div>Fournisseurs</li>
			<% end %>
			<%= link_to new_to_do_list_path do %>
				<li class="f-li5"><div class="feat-img-cntnr"><div class="feature-img5"></div></div>Organisation</li>
			<% end %>
		</ul>
	</div>
</div>
<div class="full-cntnr">
	<div class="full-header">
		<div class="rgth-links">
			<ul>
				<li>
					<%= link_to modifier_votre_profil_path do %><div class="header-img-grey3"></div><% end %>
				</li>
				<li>
					<%= link_to new_recipe_path do %><div class="header-img-grey2"></div><% end %>
				</li>
				<li>
					<%= link_to root_path do %><div class="header-img-grey1"></div><% end %>
				</li>
			</ul>
		</div>
		<div class="lft-links">
			<%= image_tag "search.png", class: 'search-btn', alt: "rechercher" %>
			<div class="search-field">Recherche</div>
		</div>
	</div>
</div>
