<div class="send-feedback">
	<%= image_tag "people-can-ask.png", class: "people-ask-img" %>
	<div class="ask">
		<div class="box">
			<%= image_tag "buble1.png", class: "buble1" %>
			<p>Dites-nous ce que nous pourrions améliorer !</p>
		</div>
	</div>
	<div class="form">
		<%= form_for feedback do |f| %>
			<%= image_tag "buble2.png", class: "buble2" %>
			<%= f.text_area :message, placeholder: "Je pense que...", class: "hidden-field" %>
			<%= f.hidden_field :user_id, value: user.id %>
			<%= f.submit "Envoyer", class: "hidden-btn" %>
		<% end %>
	</div>
</div>
<div class="left-cntnr">
	<div class="lft-logo-hdr">
			<%= link_to root_path do %>
				<%= image_tag "logo-txt-white.png", class: "header-icn", alt: "page d'acceuil" %>
			<% end %>
		</div>
	<div class="left-cases">
		<div class="user-btn">
			<h3><%= truncate(user.account_name.downcase, length: 10) %><%= image_tag "arrows.png", class: "micro-arrow" %></h3>
			<p><%= user.firstname.downcase %> <%= truncate(user.name.downcase, length: 10) %></p>
			<%= image_tag user.avatar.url(:small), class: "small-avatar" %>
		</div>
		<div class="arrow-container"><div class="arrow-up"></div></div>
		<div class="user-paths">
			<ul>
				<%= link_to modifier_votre_profil_path do %><%= image_tag user.avatar.url(:small), class: "small-avatar" %><% end %><span class="firstname"><%= user.firstname.downcase %></span><br/>
				<% if user.admin? %>
					<%= link_to feedbacks_path do %><li>Feedbacks</li><% end %>
					<%= link_to metrics_path do %><li>Metrics</li><% end %>
				<% end %>
				<%= link_to parametres_path do %><li>Préférences</li><% end %>
				<%= link_to modifier_votre_profil_path do %><li>Modifier mon profil</li><% end %>
				<%= link_to subscriptions_path do %><li>Choisir mon abonnement</li><% end %>
				<%= link_to root_path do %><li>Informations de paiement</li><% end %>
				<%#= link_to aide_path do %><li>Aide</li><%# end %>
				<%= link_to( destroy_user_session_path, :method => :delete, :class => "bouton9") do %><li>Se déconnecter</li><% end %>
			</ul>
		</div>
	</div>
	<br/>
	<div class="cta-lft-cntnr">
		<%= link_to subscriptions_path do %>
			<div class="cta-lft-btn">+ S'ABONNER</div>
		<% end %>
	</div>
	<div class="features-li">
		<ul>
			<%= link_to new_ingredient_path do %>
				<li class="f-li <% if request.path.start_with?('/ingr')%>current-feat<% end %>">
					<div class="feat-img-cntnr">
						<%= image_tag "feat-img1.png", class: "feature-img", alt: "menu icon" %>
					</div>
					<span>Ingrédients</span>
				</li>
			<% end %>
			<%= link_to recipes_path do %>
				<li class="f-li <% if request.path.start_with?('/reci')%>current-feat<% end %>">
					<div class="feat-img-cntnr">
						<%= image_tag "feat-img2.png", class: "feature-img", alt: "menu icon" %>
					</div>
					<span>Recettes</span>
				</li>
			<% end %>
			<%= link_to assemblies_path do %>
				<li class="f-li <% if request.path.start_with?('/asse')%>current-feat<% end %>">
					<div class="feat-img-cntnr">
						<%= image_tag "feat-img3.png", class: "feature-img", alt: "menu icon" %>
					</div>
					<span>Montages</span>
				</li>
			<% end %>
			<%= link_to providers_path do %>
				<li class="f-li <% if request.path.start_with?('/prov')%>current-feat<% end %>">
					<div class="feat-img-cntnr">
						<%= image_tag "feat-img4.png", class: "feature-img", alt: "menu icon" %>
					</div>
					<span>Fournisseurs</span>
				</li>
			<% end %>
			<%= link_to new_to_do_list_path do %>
				<li class="f-li <% if request.path.start_with?('/to')%>current-feat<% end %>">
					<div class="feat-img-cntnr">
						<%= image_tag "feat-img5.png", class: "feature-img", alt: "menu icon" %>
					</div>
					<span>Organisation</span>
				</li>
			<% end %>
		</ul>
	</div>
</div>
<div class="full-cntnr">
	<div class="full-header">
		<div class="rgth-links">
			<ul>
				<!-- images for big size -->
				<li class="hide-res help-btn">
					AIDE
				</li>
				<!-- end of images for big size -->
				<!-- images for small size -->
				<li class="show-respo show-burger2">
					<a><%= image_tag user.avatar, class:"header-filter-img brg-icn", alt:"icon burger" %></a>
				</li>
				<li class="beard-head show-burger">
					<a><%= image_tag "burger-icn.png", class:"header-filter-img brg-icn", alt:"icon burger" %></a>
				</li>
				<!-- end of images for small size -->
			</ul>
		</div>
		<div class="lft-links">
			<%= link_to root_path do %><%= image_tag "logo-bird-head.png", class: "beard-head show-bird" %><% end %>
			<%= image_tag "search.png", class: 'search-btn', alt: "rechercher" %>
			<div class="search-field">Recherche</div>
		</div>
	</div>
	<div class="full-header-resp">
		<ul style="display:none;" class="show-burg">
			<div class="arrow_box"></div>
			<%= link_to new_ingredient_path do %><li>INGREDIENTS</li><% end %>
			<%= link_to recipes_path do %><li>RECETTES</li><% end %>
			<%= link_to assemblies_path do %><li>MONTAGES</li><% end %>
			<%= link_to providers_path do %><li>FOURNISSEURS</li><% end %>
			<%= link_to new_to_do_list_path do %><li>ORGANISATION</li><% end %>
		</ul>
		<ul style="display:none;" class="show-burg2">
			<div class="arrow_box arrow-box-sec"></div>
			<% if user.admin? %>
				<%= link_to feedbacks_path do %><li>TOUS LES FEEDBACKS</li><% end %>
			<% end %>
			<%= link_to parametres_path do %><li>PARAMETRES</li><% end %>
			<%= link_to modifier_votre_profil_path do %><li>MODIFIER MON PROFIL</li><% end %>
			<%= link_to subscriptions_path do %><li>ABONNEMENT</li><% end %>
			<%= link_to root_path do %><li>INFORMATIONS DE PAIEMENT</li><% end %>
			<%#= link_to aide_path do %><li>AIDE</li><%# end %>
			<%= link_to( destroy_user_session_path, :method => :delete, :class => "bouton9") do %><li>SE DECONNECTER</li><% end %>
		</ul>
	</div>
</div>
<div class="total-body" style="display:none;">
	<div class="help-cntnr">
		<%= image_tag "delete-sml.png", class: "mini-img help-img", alt: "image remove helper" %>
		<h3>Pages suggérées</h3><br/>
		<ul>
			<%= link_to aide_categories_abonnements_path, target: "_blank", class: "help-i" do %><li><span></span>Essayer <b>toutes les options</b></li><% end %>
			<%= link_to aide_categories_paiements_path, target: "_blank", class: "help-i" do %><li><span></span>Obtenir une <b>facture</b></li><% end %>
			<%= link_to aide_categories_service_apres_vente_path, target: "_blank", class: "help-i" do %><li><span></span>Rapporter une <b>erreur</b></li><% end %>
			<%= link_to aide_categories_service_apres_vente_path, target: "_blank", class: "help-i" do %><li><span></span><b>Soumettre</b> une proposition</li><% end %>
			<%= link_to aide_categories_ingredients_path, target: "_blank", class: "help-i" do %><li><span></span>Créer un <b>ingrédient</b></li><% end %>
			<%= link_to aide_categories_montages_path, target: "_blank", class: "help-i" do %><li><span></span>Créer un <b>montage</b></li><% end %>
			<%= link_to aide_categories_recettes_path, target: "_blank", class: "help-i" do %><li><span></span>Créer une <b>recette</b></li><% end %>
		</ul><br/>
		<%= link_to aide_categories_ingredients_path, target: "_blank", class: "help-i" do %><p><span>?</span>ACCEDER AUX PAGES D'AIDE</p><% end %>
	</div>
</div>
