<footer>
    <div class="white-foot">
      <ul>
        <li>NAVIGATION</li>
        <%= link_to root_path do %><li>Accueil</li><% end %>
        <%= link_to new_user_session_path do %><li>Se connecter</li><% end %>
      </ul>
      <ul>
        <li>LE LABO</li>
        <%= link_to produits_path do %><li>Produits</li><% end %>
        <%= link_to new_contact_path do %><li>Contact</li><% end %>
        <%= link_to blog_path do %><li>Blog</li><% end %>
        <%= link_to subscriptions_path do %><li>Tarifs</li><% end %>
      </ul>
      <ul>
        <li>SOCIAL</li>
        <a href="https://www.facebook.com/lelaboondemand/"><li>Facebook</li></a>
        <a href="https://www.instagram.com/le_labo_officiel/"><li>Instagram</li></a>
      </ul>
    </div>
    <div class="mini-footer">
      <p>© Copyright - lelabo 2016</p>
    </div>
  </footer>