<header>
  <div class="transparent normal_header">
    <%= link_to root_path do %><%= image_tag "logo-txt-black.png", class: "logo-white to-the-right" %><% end %>
    <ul>
      <%= link_to produits_path do %><li>FONCTIONNALITÉS</li><% end %>
      <!--<%#= link_to partage_path do %><li>RECETTES</li><%# end %>-->
      <%= link_to subscriptions_path do %><li>TARIFS</li><% end %>
      <%= link_to new_contact_path do %><li>CONTACT</li><% end %>
      <%= link_to new_user_session_path do %><li class="black">SE CONNECTER</li><% end %>
    </ul>
  </div>
</header>
