<!DOCTYPE html>
<html>
<head>
  <title>Le Labo | <%= yield_or_default(:title, "Gérez vos recettes professionnelles") %></title>
  <%= stylesheet_link_tag 'application', media: 'all', "data-turbolinks-track" => "reload" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script src="https://cdn.optimizely.com/js/3692194676.js"></script>
  <script id="dsq-count-scr" src="//wwwlelaboondemandcom.disqus.com/count.js" async></script>
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <script>
  $(document).ready(function(){
  	$(".user-paths ul li").hover(function(){
  	    $(this).css("background-color", "<%= colors(0) %>");
  	    }, function(){
  	    $(this).css("background-color", "transparent");
  	});
  	$(".current-form, .features-li ul .current-feat span").css("color", "<%= colors(0) %>");
    $(".pdf-cntnr .nth-chld:nth-child(2n+2), .ingredient-values p:nth-child(2n+2), .rec-show table tr:nth-child(2n+1) td, .pdf-cntnr table tr:nth-child(2n+1) td,.inline_divs:nth-child(2n+2), .values ul li:nth-child(2n+2), .cost-cost p:nth-child(2n+2), .cost-result p:nth-child(2n+2), .item-cost-list .item-list:nth-child(2n+2)").css("background", "<%= colors(3) %>");
    $(".inline_divs").css("border-bottom", "1px solid <%= colors(2) %>");
    $(".secondary-btn, .primary-btn").css("background", "<%= colors(0) %>");
    $(".flash").css("background", "<%= colors(1) %>");
    $(".primary-btn").css("border-bottom", "2px solid <%= colors(4) %>");
    $(".toggle.on .slide").css("color", "<%= colors(0) %>");
    $(".toggle.on").css("background", "<%= colors(0) %>");
  });
  </script>
</head>
<body class="<% if signed_in? %>user-env-cntnr<% end %>" style="<% if signed_in? %>background: <%= colors(2) %>;<% end %>">
<% if request.path.start_with?('/aide') %>
  <%= render 'layouts/help_env' %>
<% end %>
<% if white_layouts %>
  <% unless signed_in? %>
    <%= render "layouts/welcome_header" %>
  <% end %>
<% end %>
<% if signed_in? %>
  <% unless not_useful || !signed_in? || request.path_info.include?("compte") %>
      <%= render "layouts/user_env", feedback: @feedback, user: @user %>
  <% end %>
<% end %>
<% if !do_not_flash %>
  <% flash.each do |type, msg| %>
    <% if msg.length > 0 %>
      <div class="flash-msg-cntnr <%= type %>_bck">
        <div class="eq-cle">
          <div class="flash-img <%= type %>_border"><% if type == "error" %><%= image_tag "error.png" %><% elsif type == "success" %><%= image_tag "success.png" %><% else %><%= image_tag "notice.png" %><% end %></div>
          <%= content_tag :p, msg, class: type %>
        </div>
        <div class="del-cnt"><%= image_tag "deletewhite.png", class: "mini-img delete-flash-message del_#{type}", alt: "delete message" %></div>
      </div>
    <% end %>
  <% end %>
<% end %>
<!-- Exit-intent pop over BEGIN -->
<% if blog_pages %>
  <div id="ouibounce-modal">
    <div class="underlay"></div>
    <div class="modal">
      <div class="inside_modal">
        <p class="big-txt">Êtes-vous pâtissier ?</p><br/>
        <p>Rentabilisez vos recettes avec <%= link_to root_path do %>Le Labo<% end %>, l'application de gestion de votre production !</p><br/>
        <%= image_tag "cta-img.png", class: "cta-img", alt: "macbook photo" %>
        <div class="modal-footer">
          <%= link_to root_path do %><p class="btn inside-btn" >ESSAYER GRATUITEMENT</p><% end %><br/>
          <p class="no-thanks" onclick="document.getElementById('ouibounce-modal').style.display = 'none';">Non merci</p><br/>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- Exit-intent pop over END -->
<%= yield %>
<% if white_layouts || (!current_user && current_page?(root_url))%>
  <% unless signed_in? %>
    <%= render "layouts/welcome_footer" %>
  <% end %>
<% end %>
</body>
<noscript>
  <h3>JavaScript Requis</h3>
  <p>Pour pouvoir utiliser ce site, merci d'activer Javascript sur votre navigateur. Il est actuellement invalide.</p>
  <p>Une fois Javascript activé, vous pouvez recharger la page.</p>
</noscript>
  <script>
  //exit_intent popover script
    var _ouibounce = ouibounce(document.getElementById('ouibounce-modal'),{
      aggressive: false, //Making this true makes ouibounce not to obey "once per visitor" rule
    });
  </script>
</html>
