<!DOCTYPE html>
<html>
<head>
  <title>Lelabo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
<% if welcome_controller %>
  <%= render "layouts/welcome_header" %>
<% end %>
<% flash.each do |type, msg| %>
  <%= content_tag :p, msg, class: type %>
<% end %>
<%= yield %>

</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
