<!DOCTYPE html>
<html>
<head>
  <title>Le Labo | <%= yield_or_default(:title, "Gérez vos recettes professionnelles") %></title>
  <%= stylesheet_link_tag 'application', media: 'all', "data-turbolinks-track" => "reload" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script src="https://cdn.optimizely.com/js/3692194676.js"></script>
  <script id="dsq-count-scr" src="//wwwlelaboondemandcom.disqus.com/count.js" async></script>
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
<% if request.path.start_with?('/aide') %>
  <%= render 'layouts/help_env' %>
<% end %>
<% if white_layouts %>
  <% unless signed_in? %>
    <%= render "layouts/welcome_header" %>
  <% end %>
<% end %>
<% if signed_in? %>
  <% unless not_useful %>
    <%= render "layouts/user_env", feedback: @feedback, user: @user %>
  <% end %>
<% end %>
<% if !do_not_flash %>
  <% flash.each do |type, msg| %>
    <div class="flash-msg-cntnr">
      <%= content_tag :p, msg, class: type %>
      <%= image_tag "deletewhite.png", class: "mini-img delete-flash-message", alt: "delete message" %>
    </div>
  <% end %>
<% end %>
<!-- Exit-intent pop over BEGIN -->
<% if blog_pages %>
  <div id="ouibounce-modal">
    <div class="underlay"></div>
    <div class="modal">
      <div class="inside_modal">
        <p class="big-txt">Êtes-vous pâtissier ?</p><br/>
        <p>Rentabilisez vos recettes avec <%= link_to root_path do %>Le Labo<% end %>, l'application de gestion de votre production !</p><br/>
        <%= image_tag "cta-img.png", class: "cta-img", alt: "macbook photo" %>
        <div class="modal-footer">
          <%= link_to root_path do %><p class="btn inside-btn" >ESSAYER GRATUITEMENT</p><% end %><br/>
          <p class="no-thanks" onclick="document.getElementById('ouibounce-modal').style.display = 'none';">Non merci</p><br/>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- Exit-intent pop over END -->
<%= yield %>
<% if white_layouts || (!current_user && current_page?(root_url))%>
  <% unless signed_in? %>
    <%= render "layouts/welcome_footer" %>
  <% end %>
<% end %>
</body>
<noscript>
  <h3>JavaScript Requis</h3>
  <p>Pour pouvoir utiliser ce site, merci d'activer Javascript sur votre navigateur. Il est actuellement invalide.</p>
  <p>Une fois Javascript activé, vous pouvez recharger la page.</p>
</noscript>
  <script>
  //exit_intent popover script
    var _ouibounce = ouibounce(document.getElementById('ouibounce-modal'),{
      aggressive: false, //Making this true makes ouibounce not to obey "once per visitor" rule
    });
  </script>
</html>
