<!DOCTYPE html>
<html>
<head>
  <title>Le Labo | <%= yield_or_default(:title, "Gérez vos recettes professionnelles") %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
	<script type="text/javascript">
		$(function(){
		  Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
		});
	</script>
  <script src="https://cdn.optimizely.com/js/3692194676.js"></script>
</head>
<body>
<% if white_layouts %>
  <%= render "layouts/welcome_header" %>
<% end %>
<% if !do_not_flash %>
  <% flash.each do |type, msg| %>
    <%= content_tag :p, msg, class: type %>
  <% end %>
<% end %>
<%= yield %>
<% if white_layouts %>
  <%= render "layouts/welcome_footer" %>
<% end %>
</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html> 
