<!DOCTYPE html>
<html>
<head>
  <title>Le Labo | <%= yield_or_default(:title, "Gérez vos recettes professionnelles") %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags site: 'My website' %>
  <script type="text/javascript"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script src="https://cdn.optimizely.com/js/3692194676.js"></script>
  <script id="dsq-count-scr" src="//wwwlelaboondemandcom.disqus.com/count.js" async></script>
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
<% if white_layouts %>
  <%= render "layouts/welcome_header" %>
<% end %>
<% if signed_in? %>
  <% unless not_useful %>
    <%= render "layouts/user_env" %>
  <% end %>
<% end %>
<% if !do_not_flash %>
  <% flash.each do |type, msg| %>
    <%= content_tag :p, msg, class: type %>
  <% end %>
<% end %>
<%= yield %>
<% if white_layouts %>
  <%= render "layouts/welcome_footer" %>
<% end %>
</body>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</html>
